@model SiteTriks.Models.News.NewsModel

<input name="SEOKeyword" value="@Model.SEOKeyword" type="hidden" />

<div>
    <div class="news-container">
        <div class="news-container-1">
            <div>
                <div class="relative nc-d1">
                    <div class="ta-center">
                        <h3>@Html.DisplayFor(m => Model.Title)</h3>
                    </div>
                </div>

                <div class="news-mi-container">
                    @if (!string.IsNullOrEmpty(Model.MainImageUrlID))
                    {
                        <img class="news-main-image" src="/files/id/@Model.MainImageUrlID" alt="Failed to load main image!">
                    }
                </div>

                <div class="ta-right">
                    <span class="news-date-created">Date Created: <span>@Model.DateCreated.Value.ToString("dd.MM.yyyy")</span></span>
                </div>
            </div>
        </div>
        <div>
            <div class="news-content">
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
        <div class="news-container-2">
            @if (!string.IsNullOrEmpty(Model.ImagesUrlsIDs))
            {
                <div class="gallery">
                    <div class="gallerycontainer">
                        @foreach (var item in Model.ImagesUrlsIDs.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries))
                        {
                            <div class="gallery-item inline-block">
                                <img class="display-image" src="/files/id/@item" alt="Failed to load image!">
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
