@model SiteTriks.Models.CoreWidgets.FileResourceWidgetViewModel

<div class="widget-preview-holder">
    @if (Model.IsRaw)
    {
        @Model.RawCode
    }
    else
    {
        <b>External css resource from @Model.Url</b>
    }
</div>
