@model SiteTriks.Extentions.WidgetModels.UserWidgetModel

@{
    Layout = null;
    var roles = Model.AllowedRoles.Split(';', StringSplitOptions.RemoveEmptyEntries);
    var canView = roles.Length == 0;

    foreach (var item in roles)
    {
        if (this.User.IsInRole(item))
        {
            canView = true;
        }

        if (item == "Unauthorized" && this.User.Identity.IsAuthenticated)
        {
            canView = true;
        }
    }
}

@if (Model.IsPreview)
{
    <div class="preview-placeholder" data-identifier="@Model.Id">
        @Html.Partial("~/Areas/SiteTriks/Views/Shared/WidgetControl.cshtml", model: Model)

        <div class="@Model.CssClass">
            @*@Html.Action("ChangeInfo", "UserWidget", new { area = "" })*@
        </div>
    </div>
}
else
{
    if (canView)
    {
    <div class="@Model.CssClass">
        @*@Html.Action("ChangeInfo", "UserWidget", new { area = "" })*@
    </div>
    }
}