@model SiteTriks.Extentions.WidgetModels.NavigationWidgetModel

@if (Model.IsPreview)
{
    <div class="preview-placeholder" data-identifier="@Model.Id">
        @await Html.PartialAsync("~/Areas/SiteTriks/Views/Shared/WidgetControl.cshtml", model: Model)

        <div class="@Model.CssClass">
            @await Component.InvokeAsync("NavigationWidget", new { area = "", element = Model.Element, lang = Model.Language, isPreview = Model.IsPreview })
        </div>
    </div>
}
else
{
    if (Model.CanViewByRole && Model.CanViewByGroup)
    {
        <div class="navigation-widget @Model.CssClass">
            @await Component.InvokeAsync("NavigationWidget", new { area = "", element = Model.Element, lang = Model.Language })
        </div>
    }
}