/*------------------------------------------------------------------------------------------
 *  Skin Manager
 *------------------------------------------------------------------------------------------*/

.section-wrapper {
    background-color: #fff;
    position: relative;
    padding: 10px 0;
}

    .section-wrapper > .filter-section {
        min-height: 50px;
        padding: 10px 5px;
        border: 3px solid #555;
        border-radius: 5px;
    }

    .section-wrapper > .section-name {
        background-color: inherit;
        position: absolute;
        line-height: 3px;
        left: 15px;
        padding: 0 5px;
    }

    .section-wrapper > .delete-section {
        position: absolute;
        background-color: #c00;
        right: 0;
        top: 10px;
        padding: 2px;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

        .section-wrapper > .delete-section:hover {
            background-color: #000;
            color: #c00;
        }

/*------------------------------------------------------------------------------------------
 *  Display Store
 *------------------------------------------------------------------------------------------*/

/* filters */
.search-filters input,
.search-filters select,
.search-filters textarea {
    max-width: inherit;
    margin-bottom: 5px;
}

.search-filters .range-filter {
    width: 120px;
    display: inline-block;
}

.search-filters .section-wrapper .section-name {
    cursor: pointer;
    z-index: 5;
    transition: left 0.5s ease-in-out;
}

    .search-filters .section-wrapper .section-name span.glyphicon {
        line-height: 0px;
    }

.search-filters .section-wrapper .filter-section {
    display: inherit;
}

.search-filters .section-wrapper.collapsed .filter-section {
    display: none;
}

.search-filters .section-wrapper.collapsed .section-name {
    left: 0px;
}

/* grid */
.store-item-preview {
    vertical-align: top;
}
