/*Fonts*/

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-display: swap;

}

@font-face {
    font-family: DashDigital;
    src: url("../fonts/Dash_Digital-7.ttf");
    font-display: swap;
}

@font-face {
    font-family: LucidaGrande;
    src: url("../fonts/LucidaGrande.ttf");
    font-display: swap;
}

@font-face {
    font-family: LucidaGrande;
    font-weight: bold;
    src: url("../fonts/LucidaGrandeBold.ttf");
    font-display: swap;
}


body {
    font-size: 10px;
}


/*Layout builder ClearFix*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}

/*.main-content {
    margin-top: 100px;

}*/

.main-content .form-group {
    margin-right: 0;
    margin-left: 0;
}


/*Manage Profile styles*/

.manage-profile-container .enable-authenticator-wrapper {
    padding: 20px;
    font-size: 12px;
    margin-bottom: 50px;
}

.enable-authenticator-wrapper label,
.enable-authenticator-wrapper input,
.enable-authenticator-wrapper span {
    margin-bottom: 10px;
}

/*------------------------------------------------------------------------------------*/
/*Recovery codes*/

.manage-profile-container .recovery-codes-warning {
    margin: 20px;
    border: solid 2px #faebcc;
    background-color: #fcf8e3;
}

.manage-profile-container .recovery-codes-list > div {
    width: 32%;
    margin: 50px auto;
    justify-content: center;
    border-radius: 21px;
    border: solid 4px #ffffff;
    background-color: #92bed6;
    padding-bottom: 50px;
    text-align: center;
    color: #f7f7f7;
}

    .manage-profile-container .recovery-codes-list > div h4 {
        font-size: 20px;
        font-family: Montserrat;
        padding: 18px 0;
    }

.manage-profile-container .recovery-codes-list .codes {
    background: white;
    width: 98%;
    margin-left: 1%;
    height: 301px;
    border: solid 1px #979797;
    padding: 50px 70px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #393939;
    line-height: 37px;
}

    .manage-profile-container .recovery-codes-list .codes code {
        color: #393939;
    }

    .manage-profile-container .recovery-codes-list .codes .left {
        width: 49%;
        display: inline-block;
        text-align: left;
    }

    .manage-profile-container .recovery-codes-list .codes .right {
        width: 49%;
        display: inline-block;
        text-align: right;
    }

/* Login page */

.sitetriks-login {
    width: 100%;
    height: 100vh;
    padding: 0;
}

    .sitetriks-login .row {
        height: 100%;
        margin: 0;
        padding: 0;
    }

        .sitetriks-login .row .col {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .sitetriks-login .row .image-holder {
            position: relative;
        }

        .sitetriks-login .row .login-image-container {
            height: 90%;
            width: 97%;
            min-height: 700px;
            background-image: url('/images/homepage/Login_Wide.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            transform: translate(-2%, 6%);
        }

/* Upload license page*/

#uploadLicense {
    padding: 12% 20% 23px 20%;
    font-size: 12px;
    min-height: 260px;
}

.login-logo-container .upload-license-title {
    font-size: 22px;
}

.upload-container-license #drop-area-license {
    height: 200px;
}

    .upload-container-license #drop-area-license .drop-info-btn {
        padding: 0;
    }

#drop-area-license .drop-info-btn {
    cursor: pointer;
    margin-top: 3%;
}

#drop-area-license {
    background-color: yellowgreen;
    height: 500px;
    background-color: #f8f8f8;
    border: dashed 2px #979797;
    position: relative;
}

    #drop-area-license .drop-info-btn {
        font-size: 20px;
        padding: 10px;
        padding-right: 20px;
        display: inline-block;
        font-weight: bold;
        border-radius: 4px;
        background-color: #adadad;
        cursor: pointer;
        top: calc(50% - 60px);
        padding-top: 9px;
    }

    #drop-area-license > div {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: #a1a1a1;
        text-align: center;
        cursor: default;
    }

.uppercase {
    line-height: 38px;
}

#drop-area-license .drop-info-btn a {
    color: #fff;
}

.upload-container-license #drop-area-license #license-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#drop-area-license.disabled .drop-info-btn label {
    cursor: no-drop;
    font-size: 17px;
}

#drop-area-license .drop-info-btn label {
    padding: 10px 20px;
    cursor: pointer;
}

.upload-container-license #drop-area-license label {
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    line-height: 34px;
}

.uppercase img {
    height: 25px;
    margin-right: 15px;
    margin-top: -8px;
}

#drop-area-license > div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #a1a1a1;
    text-align: center;
    cursor: default;
}

#drop-area-license .max-size {
    top: 80%;
    font-weight: bold;
}

#drop-area-license .drop-info-btn a {
    color: #fff;
}

#drop-area-license .drop-info-text {
    top: 60%;
    font-size: 22px;
}

.domain-container {
    padding: 15px;
    border: 1px solid black;
    background-color: #f8f8f8;
    border: solid 1px #5fb6fd;
    position: relative;
    font-size: 13px;
    color: #173b6d;
    font-weight: bold;
    max-height: 120px;
    overflow-y: auto;
}

.btn-license {
    display: block;
    margin: 5% auto;
    padding: 13px;
    width: 65%;
    background-color: #5fb6fd;
    border: 1px solid #123e7a;
    color: #ffffff;
    font-family: Montserrat;
    /*font-weight: bold;*/
    font-size: 12px;
    text-transform: uppercase;
}

    .btn-license:hover {
        background-color: #123e7a;
        color: white;
    }

.domain-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#uploadLicense h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #383838;
}

/*------------------------------------------------------------------------------------*/
/* profile page styles */
.account-form {
    padding: 20% 10% 23px 10%;
    font-size: 12px;
    min-height: 260px;
    overflow-x: auto;
    height: 100%;
}

    .account-form label {
        color: #173b6d;
        font-family: Montserrat;
    }

    .account-form input {
        max-width: inherit;
        margin-bottom: 10px;
        border: solid 1px #258afb;
        background-color: #ebebeb;
    }

    .account-form .btn {
        padding-top: 10px;
        padding-bottom: 18px;
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: #ddeeff;
        width: 60%;
        border-radius: 4px;
        background-color: #5fb6fd;
        border: solid 0.5px #123e7a;
        height: 36px;
        margin: 10% auto;
    }

    .account-form .account-form-header {
        margin-bottom: 50px;
    }

        .account-form .account-form-header img {
            margin: auto;
            display: block;
        }

        .account-form .account-form-header div {
            padding: 15px;
            text-align: center;
            font-family: LucidaGrande;
            font-size: 26px;
            font-weight: bold;
            color: #777;
            word-break: break-all;
        }

.profile-form-carousel {
    height: 100vh;
    padding: 50px 200px;
    overflow-x: auto;
    white-space: nowrap;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbedff+80,92bed6+80 */
    background: #cbedff; /* Old browsers */
    background: -moz-linear-gradient(top, #cbedff 80%, #92bed6 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cbedff 80%,#92bed6 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cbedff 80%,#92bed6 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbedff', endColorstr='#92bed6',GradientType=0 ); /* IE6-9 */
}

    .profile-form-carousel .profile-form-wrapper {
        display: inline-block;
        margin: 56px;
        font-family: Montserrat;
        vertical-align: top;
    }

        .profile-form-carousel .profile-form-wrapper .profile-form {
            width: 430px;
            padding: 35px 35px;
            background-color: #92bed6;
            border: 4px solid #fff;
            border-radius: 21px;
        }

        .profile-form-carousel .profile-form-wrapper .image-wrapper {
            height: 160px;
            position: relative;
        }

        .profile-form-carousel .profile-form-wrapper img.profile-form-img.key {
            height: auto;
            width: 150px;
            min-height: inherit;
            display: block;
            transform: translate(-50%,-50%);
            top: 50%;
            position: absolute;
            left: 50%;
        }

        .profile-form-carousel .profile-form-wrapper img.profile-form-img.phone {
            height: 140px;
            width: auto;
            min-height: inherit;
            margin: 0 auto;
            margin-bottom: 50px;
            display: block;
            transform: translate(-50%,-50%);
            top: 50%;
            position: absolute;
            left: 50%;
        }

        .profile-form-carousel .profile-form-wrapper .profile-form .form-header {
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            color: #f7f7f7;
            margin-bottom: 40px;
        }

        .profile-form-carousel .profile-form-wrapper .profile-form input {
            border-radius: 3px;
            border: solid 1px #626262;
            background-color: #f6f6f6;
            margin-bottom: 10px;
            max-width: inherit;
        }

        .profile-form-carousel .profile-form-wrapper .profile-form label {
            font-size: 10px;
            font-weight: normal;
            color: #173b6d;
        }

            .profile-form-carousel .profile-form-wrapper .profile-form label::after {
                content: ':';
            }

        .profile-form-carousel .profile-form-wrapper .profile-form .btn-save, .btn-tfa {
            display: block;
            margin: auto;
            font-size: 10px;
            font-weight: bold;
            color: #626262;
            border-radius: 3px;
            border: solid 2.5px #616161;
            background-color: #fff;
            width: 180px;
            margin-top: 40px;
        }

.tfa-wrapper {
    margin-top: 45px;
    margin-bottom: 15px;
}

.btn-tfa {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-dark {
    border-color: #f6f6f6;
    background-color: #626262;
    color: #fff;
}

/*------------------------------------------------------------------------------------*/
/* news carousel*/

.slick-dots li button::before {
    font-size: 14px;
}

.carousel-wrapper {
    margin-top: 50px;
}

.news-carousel-item {
    height: 500px;
    background-image: url('/images/no_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border: 6px solid #BFBFBF;
}

    .news-carousel-item .news-description-wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .news-carousel-item .news-description {
        margin: 30px;
        padding: 20px;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        border: 1px solid #888;
    }

        .news-carousel-item .news-description h4 {
            text-align: center;
            margin-bottom: 25px;
        }

        .news-carousel-item .news-description .news-carousel-content {
            max-height: 75px;
            overflow: hidden;
        }

    .news-carousel-item:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

a.read-more {
    color: #fff;
    text-align: right;
    display: block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

#loginForm,
#forgttenPassword,
#registerForm,
#accessDenied,
#lockout {
    /*margin: 15% auto;
    width: 70%;
    border-radius: 15px;
    color: #173b6d;
    background-color: #c9c9c9;*/
    padding: 20% 20% 23px 20%;
    /*border: solid 3px #173b6d;*/
    font-size: 12px;
    min-height: 260px;
    /*padding-top: 70px;*/
}

    #accessDenied p,
    #lockout p {
        text-align: center;
    }

    #loginForm p {
        margin-bottom: 0;
    }

    #loginForm .registration-link {
        text-align: center;
        color: #777777;
        font-family: Montserrat;
        font-size: 16px;
        margin-bottom: 40px;
    }

        #loginForm .registration-link a {
            color: #337ab7;
            text-decoration: none;
            font-size: 16px;
            opacity: 0.9;
        }

.login-logo-container,
.forgotten-password-container,
.register-form-container {
    /*margin-left: 40%;*/
    /*margin-top: -33px;
    z-index: 1000;*/
}

    .login-logo-container img {
        margin: 0 auto;
        display: block;
        height: 160px;
        width: auto;
    }

    .login-logo-container div {
        text-align: center;
        font-family: LucidaGrande;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: normal;
        color: #777777;
        padding: 15px 0 20px 0;
        line-height: 32px;
    }

#loginForm label,
#forgttenPassword label,
#registerForm label {
    color: #173b6d;
    font-family: Montserrat;
}

.login-label {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.form-group {
    margin: 0;
}

.input-form input {
    height: 41px;
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #ebebeb;
    margin-bottom: 4%;
    border: solid 1px #258afb;
}

/*.input-form {
    margin: 0;
    margin-bottom: 12%;
}*/

.registration-link a {
    color: #ddeeff;
    font-size: 1.2em;
}

.login-button .btn {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 18px;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #ddeeff;
    width: 55%;
    border-radius: 4px;
    background-color: #5fb6fd;
    border: solid 0.5px #123e7a;
    height: 36px;
    margin: 10% auto;
}

/* Error message style */

.login-error {
    color: #ddeeff;
}

    .login-error li {
        list-style: none;
        font-size: 1.2em;
    }

    .login-error ul {
        padding-left: 0;
    }

/*Password page*/

#loginForm .radio label, .checkbox label {
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
}

.checkbox input {
    height: 17px;
    width: 17px;
    margin-bottom: 8px;
    background-color: #123e7a;
}

.password input.form-control {
    margin-bottom: 0;
    margin-bottom: 11px;
}

/* Reset password page and Register form */

#forgttenPassword input,
#registerForm input {
    max-width: inherit;
    margin-bottom: 10px;
    border: solid 1px #258afb;
    background-color: #ebebeb;
}

    #forgttenPassword #Email:focus,
    #registerForm input:focus {
        border-color: #66afe9;
        outline: 0;
    }

.forgotten-password-container img,
.register-form-container img {
    /*margin-bottom: 20px;*/
    width: 70px;
    height: 70px;
    margin-top: -70px;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#forgttenPassword .btn,
#registerForm .btn {
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 18px;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #ddeeff;
    width: 60%;
    border-radius: 4px;
    background-color: #5fb6fd;
    border: solid 0.5px #123e7a;
    height: 36px;
    margin: 10% auto;
}

#forgttenPassword h3,
#forgttenPassword p,
#registerForm h3,
#registerForm h4 {
    text-align: center;
}

.user-type-wrapper div {
    margin-right: 10px;
}

.user-type-wrapper .user-type-checkbox {
    width: inherit;
    display: inline-block;
    height: inherit;
}

/*Custome only form Login pages*/
.login-page-header .pageTitle {
    /*display: inline-block;*/
    margin-left: 15%;
}

/*Upload Licenses view*/

#license-file {
    display: block;
    margin: 0 auto;
}

/* checkbox filter styles */

.default-settings-checkbox {
    width: 60%;
    margin: 0 auto;
    margin-top: -20px;
}

    .default-settings-checkbox span,
    .default-settings-checkbox label {
        display: inline-block;
    }

    .default-settings-checkbox span {
        font-family: Montserrat;
        font-size: 18px;
        text-align: center;
        color: #777777;
    }

.search-filters .section-wrapper .filter-section .filter-type-checkbox {
    text-align: center;
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 20px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.default-settings-checkbox .checkmark-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.default-settings-checkbox .checkmark {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 24px;
    width: 24px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #68b8ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.default-settings-checkbox .checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 9px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/********************/

.body-content {
    margin: 0;
    padding: 0;
}

/*.dropdown-menu {
    width: 100%;
}

.navbar-right {
    width: 0px;
}

.login-partial-loged {
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-left: 15px;
}

.login-partial-loged a {
    display: none;
}*/


/*Footer*/

/*footer {
    background-color: black;
    height: 30px;
}*/

/* To fix footer position with 1 main wrapper*/
.frontend-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background: #313131;
    margin-top: 30px;
    border-top: solid 2px #008cff;
}

    .frontend-footer img {
        height: 55px;
    }

    .frontend-footer .ta-center {
        color: #eee;
        font-size: 14px;
        line-height: 24px;
        font-family: OpenSans, Helvetica, Arial, sans-serif;
        margin-top: 5px;
    }

    /* Footer - Profile page only*/

    .frontend-footer.profile-only-footer {
        min-width: 767px;
    }

        .frontend-footer.profile-only-footer .back-button {
            margin-left: 30px;
            width: 200px;
            display: inline-block;
        }

            .frontend-footer.profile-only-footer .back-button img {
                height: auto;
                margin-top: -3px;
            }

            .frontend-footer.profile-only-footer .back-button span {
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-left: 20px;
            }

        .frontend-footer.profile-only-footer p {
            display: inline-block;
            width: calc(100% - 450px);
        }

/***************************************************/
/*Navbar widjet form Front-end pages + multilevel dropdown*/
/*Manage color-profile pages*/
#manageProfile {
    margin: 25% auto;
    border-radius: 15px;
    border: 1px solid #123e7a;
    color: #ddeeff;
    background-color: #123e7a;
    padding-top: 70px;
    width: 70%;
    font-family: Montserrat;
    /*font-weight: bold;*/
    font-size: 1.4em;
}

    #manageProfile .login-logo-container {
        /*margin-bottom: 30px;*/
    }


    #manageProfile .menu-title {
        width: 10em;
        margin: 0 auto;
        font-family: Montserrat;
        margin-bottom: 20px;
        font-weight: bold;
    }

.dl-horizontal {
    background-color: white;
    border-radius: 0 0 15px 15px;
    color: #123e7a;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-top: 10%;
}

    .dl-horizontal a {
        color: #1367d8;
    }

    .dl-horizontal dt {
        text-align: left;
        width: 50%;
        margin-right: 10px;
    }

/*Video Custom Playlist styles*/

.search-video {
    width: 98%;
    margin-bottom: 5px;
    margin-left: 1%;
    max-width: 98%;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
}


.suggestions {
    font-size: 14px;
    position: absolute;
    z-index: 1;
    background: white;
    max-height: 300px;
    width: 98%;
    margin-left: 15px;
    overflow-y: auto;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
}

.video-container iframe {
    height: 540px;
    width: 99%;
    padding-left: 1%;
}

.thumbnails-list,
.playlist-thumbnails-list {
    height: 540px;
    overflow-y: auto;
    padding-left: 0;
    overflow-x: hidden;
}

    .thumbnails-list .col-md-2,
    .playlist-thumbnails-list .col-md-2 {
        float: none;
    }

.video-thumbnail img,
.playlist-thumbnail img {
    height: 200px;
    width: 100%;
    border: 2px solid #3876cf;
}

.playlist-title {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: -30px;
    height: 30px;
    font-size: 12px;
    font-family: Montserrat;
    position: relative;
}

    .playlist-title:hover {
        font-size: 14px;
    }

.video-thumbnail img:hover,
.playlist-thumbnail img:hover {
    border: 4px solid #3876cf;
}

.playlist-thumbnail:hover .playlist-title {
    font-size: 14px;
}

/*custom styles for the floating menu*/


#floating-section .video-container iframe {
    height: 550px;
    width: 100%;
}

#floating-section .thumbnails-list,
#floating-section .playlist-thumbnails-list {
    height: 550px;
    overflow-y: auto;
    padding-left: 0;
    overflow-x: hidden;
}


/*Image Gallery styles*/

.gallery-main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-image-container {
    margin: 10px;
}

/*News styles*/

.row.allnews-container {
    margin: 20px;
}

/*All news styles*/

.news-container {
    margin: 20px;
}

/*============================================================*/
/*============================  Contact us Page   ============*/
/*============================================================*/
.wrapper-contact-form {
    background-color: #6d92cd;
    /*border: solid 1px #d8d8d8;*/
    /*padding: 20px 30px;*/
    margin: 20px;
}

.contact-us-widget {
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

    .contact-us-widget .slogan {
        min-height: 250px;
        padding-top: 70px;
    }

    .contact-us-widget.main-container {
        border: solid 1px #d8d8d8;
        padding: 20px 35px;
        background: #6d92cd;
    }

    .contact-us-widget .border-wrapper {
        border: solid 1px #d8d8d8;
        background-image: url('../images/contact-us/Contact-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .contact-us-widget .slogan p {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

        .contact-us-widget .slogan p:nth-child(1) {
            display: inline-block;
            margin-bottom: 40px;
        }

        .contact-us-widget .slogan p:nth-child(2) {
            font-family: Montserrat;
            font-size: 28px;
        }


    .contact-us-widget .contact-options {
        display: flex;
        justify-content: space-around;
        margin: 0 10%;
        padding-top: 100px;
        /*min-height: 350px;*/
    }

.contact-options .phone-contact,
.contact-options .mail-contact {
    height: 118px;
    width: 30%;
    background-color: #123e7a;
    border: solid 2px #ababab;
    display: flex;
    align-items: center;
    justify-content: center
}

    .contact-options .phone-contact:hover,
    .contact-options .mail-contact:hover {
        background-color: #375a96;
        border: solid 2px #3d70ca;
    }

/*Sub menus*/
.expanded-contacts {
    background-color: #3876cf;
    height: 480px;
}

.go-back-to-menu {
    height: 55px;
    display: flex;
    flex-wrap: nowrap;
}

    .go-back-to-menu img {
        width: 80px;
        height: 63px;
    }

    .go-back-to-menu div:nth-child(2) {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: normal;
        color: #ffffff;
        background-color: #3876cf;
        height: 55px;
        width: 100%;
        margin-top: 4px;
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: center;
        background-color: #123e7a;
    }

.expanded-contacts .contacts-content-main {
    height: 100%;
    margin: auto;
    background-color: white;
    padding-top: 10%;
    background-color: #6d92cd;
    border: solid 1px #d8d8d8;
    margin-top: 15px;
}

    .expanded-contacts .contacts-content-main .contacts-content-centered {
        height: 270px;
        border: none;
        padding-left: 15%;
        padding-right: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

        .expanded-contacts .contacts-content-main .contacts-content-centered p {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #123e7a;
        }


        .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions {
            width: 39%;
        }

            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions ul {
                border: solid 3px #3876cf;
                width: 100%;
                height: 230px;
                list-style: none;
                padding-left: unset;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #123e7a;
                background-color: white;
            }

            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions li {
                padding-left: 15px;
            }

/*To add when a a region is selected*/

.list-of-regions {
    cursor: context-menu;
}

.selected-region {
    background: #213755;
    color: white;
}

.expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts {
    width: 50%;
}

    .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts ul {
        border: solid 3px #3876cf;
        width: 100%;
        height: 230px;
        list-style: none;
        padding-left: unset;
        padding-left: 15px;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #123e7a;
        padding-top: 20px;
        padding-left: 30px;
        background-color: white;
    }

    .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts p,
    .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions p {
        min-height: 38px;
    }

    .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts li {
        margin-bottom: 20px;
    }

        .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts li img {
            width: 15px;
            margin-right: 10%;
        }

.expanded-contacts .contacts-content-main .contacts-content-centered .social-media ul {
    list-style: none;
}

.expanded-contacts .contacts-content-main .contacts-content-centered .social-media li img {
    width: 36px;
    height: auto;
    margin-bottom: 35px;
}

/* Form styles*/

.expanded-contacts .contacts-content-form {
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 2% 10% 1% 10%;
    background-color: #6d92cd;
    border: solid 1px #d8d8d8;
    margin-top: 15px;
    /*max-height: 471px;
    overflow-y: auto;*/
}

    .expanded-contacts .contacts-content-form p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #123e7a;
    }

    .expanded-contacts .contacts-content-form .col-md-6 input {
        max-width: unset;
        width: 90%;
        height: 32px;
        margin-bottom: 20px;
    }

    .expanded-contacts .contacts-content-form .col-md-6 select {
        max-width: unset;
        width: 90%;
        height: 32px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #123e7a;
        margin-bottom: 50px;
    }

    .expanded-contacts .contacts-content-form .col-md-11 textarea {
        max-width: unset;
        width: 90%;
        min-height: 200px;
    }

    /*.expanded-contacts .contacts-content-form .col-md-1 img {
        height: 80px;
        width: auto;
        margin-top: 200px;
    }*/

    .expanded-contacts .contacts-content-form .col-md-1 .btn-submit {
        height: 80px;
        width: auto;
        margin-top: 150px;
    }

/*====================================================*/
/*==========Contact us respnsive==================*/
/*====================================================*/

/*Responsive*/

@media (max-width: 1400px) {
    .sitetriks-login .row .login-image-container {
        background-image: url('/images/homepage/Login_image.jpg');
    }
}

@media (max-width: 1000px) {
    .login-logo-container img {
        width: 100px;
        height: 100px;
        /*margin-top: -80px;*/
    }

    .forgotten-password-container img,
    .register-form-container img {
        width: 60px;
        height: 60px;
        margin-top: -67px;
    }

    /*Contact us widget*/
    .contact-us-widget .slogan {
        padding-top: unset;
    }

        .contact-us-widget .slogan p {
            font-size: 30px;
        }

    .contacts-content-form #saveForm {
        height: 60px;
    }

    .expanded-contacts .contacts-content-main {
        padding-top: 20%;
    }

        .expanded-contacts .contacts-content-main .contacts-content-centered p {
            font-size: 14px;
        }


        .expanded-contacts .contacts-content-main .contacts-content-centered {
            padding-left: 5%;
            padding-right: 3%;
        }

            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts ul,
            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions ul {
                font-size: 14px;
                padding: 3px;
            }

                .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions ul li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

            .expanded-contacts .contacts-content-main .contacts-content-centered .social-media ul {
                padding: 0;
            }

    .go-back-to-menu div:nth-child(2) {
        font-size: 16px;
    }
}

@media (max-width: 767px), (max-height: 620px) {


    /*Navigation widget custom css*/

    .navigation-widget-wrapper .header-wrapper.header-white {
        height: 102px;
    }

    .navigation-widget-wrapper.expanded .header-blue {
        display: block;
        height: 100%;
        padding: 0;
    }

    .navigation-widget-wrapper.expanded .multi-level-navigation {
        position: relative;
        width: 100%;
    }

        .navigation-widget-wrapper.expanded .multi-level-navigation .main-navigation {
            padding: 0;
        }

            .navigation-widget-wrapper.expanded .multi-level-navigation .main-navigation > li.nav-right {
                float: unset;
                display: block;
                text-align: left;
                border-bottom: 1px solid #008cff;
            }
}


@media (max-width: 767px) {

    /*Login page styles*/

    .sitetriks-login .row .col {
        height: auto;
    }

    .sitetriks-login .row .image-holder {
        display: none;
    }

    .sitetriks-login .row .carousel-holder {
        background: #cbedff;
    }


    /*Profile page*/

    .profile-form-carousel {
        height: auto;
        padding: inherit;
        overflow-x: inherit;
        white-space: normal;
        background: #cbedff;
    }

        .profile-form-carousel .profile-form-wrapper {
            display: block;
        }

            .profile-form-carousel .profile-form-wrapper .profile-form {
                width: auto;
            }

            .profile-form-carousel .profile-form-wrapper img.profile-form-img {
                min-height: inherit;
            }
}

@media (max-width: 640px) {

    /*Contact us widget responsive design*/

    .wrapper-contact-form {
        margin: 0;
    }

    .contact-us-widget.main-container {
        padding: 0;
    }

    .contact-us-widget .slogan p,
    .contact-us-widget .slogan p:nth-child(2) {
        font-size: 30px;
    }

    .contact-options .phone-contact, .contact-options .mail-contact {
        width: 40%;
    }

    .contacts-content-form #saveForm {
        height: 40px;
        margin-left: -10px;
    }

    .expanded-contacts .contacts-content-form .col-md-1 .btn-submit {
        margin-top: 190px;
    }

    .expanded-contacts .contacts-content-main {
        padding-top: 20%;
    }

        .expanded-contacts .contacts-content-main .contacts-content-centered {
            padding-left: 5%;
            padding-right: 3%;
        }

            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts ul,
            .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions ul {
                font-size: 14px;
                padding: 3px;
            }

    .go-back-to-menu div:nth-child(2) {
        font-size: 14px;
    }

    /*Login ad register form responsive design*/

    /*.login-logo-container img {
        width: 50px;
        height: 50px;
        margin-top: -72px;
    }*/


    .forgotten-password-container img,
    .register-form-container img {
        width: 50px;
        height: 50px;
        margin-top: -62px;
    }
}

@media (max-width: 540px ) {

    /*Login and register form responsive design*/

    #loginForm,
    #forgttenPassword,
    #registerForm {
        font-size: 12px;
    }

        #forgttenPassword .btn, #registerForm .btn {
            /*width: 35%;*/
        }

    /*Contact us page responsive*/
    /*Main page*/

    .contact-us-widget .slogan p,
    .contact-us-widget .slogan p:nth-child(2) {
        font-size: 20px;
    }

    .expanded-contacts .contacts-content-main {
        padding-top: 30%;
    }

        .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts li img {
            width: unset;
            margin-right: 5%;
        }

        /*Phone*/

        .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-contacts li img {
            width: unset;
            margin-right: 5%;
        }

        .expanded-contacts .contacts-content-main .contacts-content-centered .list-of-regions li {
            padding-left: unset;
        }

    .social-media {
        margin-top: 50px;
    }

    .expanded-contacts .contacts-content-main .contacts-content-centered .social-media li img {
        width: 25px;
        height: auto;
        margin-bottom: 35px;
        margin-left: 5px;
    }
}

#subscription-forms > div > label {
    padding-top: 5px;
    font-size: 20px;
}

.two-factor-auth {
    padding-top: 50px;
    padding-left: 20px;
}

    .two-factor-auth h4,
    .two-factor-auth h5,
    .two-factor-auth a {
        margin-bottom: 20px;
    }

/*4K / Wide screen resolutions*/

@media (min-width: 2800px) {

    .sitetriks-login .row .login-image-container {
        background-image: url('/images/homepage/Login_4K.jpg');
    }

    .login-button .btn {
        width: 40%;
    }
}


@media (min-width: 3800px) {

    .sitetriks-login .row .login-image-container {
        background-image: url('/images/homepage/Login_Wide4K.jpg');
    }

    .login-button .btn {
        width: 40%;
    }
}
