#tableHeader {
    border: 1px solid #eeeeee;
    font-size: 20px;
}

.first-header-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

    .first-header-row .search-field {
        border-radius: 3px;
        width: 70%;
        border: 2px solid #d4d4d4;
        background-color: #f2f2f2;
        text-align: left;
        font-size: 14px;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 2px;
    }

        .first-header-row .search-field::-moz-placeholder { /* Firefox 19+ */
            color: #cccccc;
            text-align: left;
            padding-left: 10px;
        }

        .first-header-row .search-field:-moz-placeholder { /* Firefox 18- */
            color: #cccccc;
            text-align: left;
            padding-left: 10px;
        }

        .first-header-row .search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #cccccc;
            text-align: left;
            padding-left: 10px;
        }

        .first-header-row .search-field:-ms-input-placeholder { /* IE 10+ */
            color: #cccccc;
            text-align: left;
            padding-left: 10px;
        }

    .first-header-row .searh-background {
        background-color: #d8d8d8;
        height: 40px;
    }

        .first-header-row .searh-background.last {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

    .first-header-row .search-icon-wrapper {
        display: inline-block;
        height: 100%;
        border-left: 2px solid #fff;
        float: right;
        padding: 5px 10px;
        cursor: pointer;
    }

.grid .first-header-row .btn {
    margin-bottom: 9px;
}

.second-header-row li {
    padding-left: 20px;
}

/*Specific for Dynamics*/

.grid.dynamics .second-header-row {
    display: flex;
    justify-content: space-between;
}

.bodyRow {
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .bodyRow .col-1,
    .bodyRow .col-2,
    .bodyRow .col-3 {
        /*max-height: 100px;*/
        overflow: hidden;
    }

    .bodyRow .glyphicon.glyphicon-star,
    .bodyRow .glyphicon.glyphicon-star-empty {
        padding-left: 1.4px;
    }

tbody {
    margin-bottom: 50px;
}

#pagerContainer {
    font-size: 16px;
}

#pageSize, #pageNumber, #pagesCount {
    display: inline-block;
    border: 2px solid #737373;
    border-radius: 10%;
    padding: 3px 10px;
}

#pageSize {
    margin-right: 10px;
    border-radius: 15%;
    padding: 2px 5px;
    color: #878787;
    border-color: #878787;
}

#pageNumber {
    margin-left: 5px;
    background-color: #ffffff;
    color: #878787;
    border-radius: 20%;
    padding-left: 15px;
    border-color: #878787;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 0;
}

#pagesCount {
    margin-right: 5px;
    background-color: #ffffff;
    color: #878787;
    border-radius: 20%;
    padding-right: 15px;
    border-color: #878787;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 0;
}

    #pagesCount::before {
        content: '/';
    }

    #pageSize:focus, #pageNumber:focus, #pagesCount:focus {
        outline: none;
    }

.btn-pager {
    font-size: 20px;
    color: #428BCA;
    width: 20px;
}

    .btn-pager:hover {
        font-size: 21px;
        text-shadow: 0 1px;
    }

.btn-disabled {
    color: #aaa;
}

    .btn-disabled:hover {
        font-size: 20px;
        text-shadow: none;
    }

/*.search-field {
    border-radius: 3px;
    width: 200px;
    border: 2px solid #158cba;
}*/

.search-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

    .search-container .search-field {
        height: 100%;
    }

.search-field:active, .search-field:focus {
    border: 2px solid #158cba;
    outline: none;
}

.buttons-row {
    color: #ffffff;
    background-color: #c9c9c9;
    /*border-color: transparent;*/
    /*border-bottom: 1px solid transparent;*/
    border: 2px solid #b0b0b0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 5px;
    padding-left: 35px;
}

.grid .btn {
    margin: 5px;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #8c8c8c;
    color: #fff;
}

    .grid .btn:hover {
        background-color: gray;
    }

.grid .btn-grid {
    background-color: #529ce4;
    color: #ffffff;
    border: 1px solid #758fa8;
    position: relative;
}

    .grid .btn-grid .glyphicon {
        margin-right: 10px;
        top: 2px;
        position: relative;
    }

    .grid .btn-grid.icon-only .glyphicon {
        margin-right: 0;
    }

.buttons-row .btn:focus, #tableHeader .btn:focus, .child-expand:focus {
    outline: none;
}

.tableBody .bodyRow .btn-xs.child-expand {
    border: none;
    border: 2px solid #6a6a6a;
    background-color: #529ce4;
    color: #ffffff;
    border-color: #6a6a6a;
    border-radius: 5px;
    height: 18px;
    width: 18px;
    text-align: center;
    padding-left: 3px;
    padding-top: 0;
    box-shadow: unset !important;
    font-size: 8px;
    display: inline-block;
    margin-right: -20px;
    margin-top: 9px;
    position: absolute;
    /*margin-top: -30px;*/
}

.tableBody .bodyRow.child .btn-xs.child-expand {
    display: inline-block;
    /*margin-left: 15px;*/
}

.grid-item .btn-xs.child-expand {
    height: 18px;
    width: 18px;
    position: absolute;
    margin-right: -20px;
    padding-left: 3px;
    padding-top: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    border: 2px solid #6a6a6a;
    background-color: #529ce4;
    color: #ffffff;
    border-color: #6a6a6a;
    border-radius: 5px;
    text-align: center;
    box-shadow: unset !important;
    font-size: 8px;
    display: inline-block;
}

.nested-grid-items .grid-item .btn-xs.child-expand {
    display: inline-block;
}

.nested-grid-items {
    padding-left: 30px;
    padding-right: 15px;
    background-color: inherit;
    border-top: 2px solid #f9f9f9;
}

/*.nested-grid-items > div:nth-last-of-type(odd) {
        background-color: #ffffff;
    }

    .nested-grid-items > div:nth-last-of-type(even) {
        background-color: #f9f9f9;
    }*/



#pagerContainer {
    height: 60px;
    padding: 12px;
    background-color: #eeeeee;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 2px solid #b3b3b3;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    text-align: center;
}

    #pagerContainer #nextPageArrow {
        display: inline-block;
        /*margin-top: 10px;*/
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 12px solid #959595;
        border-bottom: 8px solid transparent;
        margin-bottom: -2px;
    }

        #pagerContainer #nextPageArrow.btn-disabled {
            opacity: 0;
        }

    #pagerContainer #previousPageArrow {
        display: inline-block;
        /*margin-top: 10px;*/
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 12px solid #959595;
        border-bottom: 8px solid transparent;
        margin-bottom: -2px;
    }

        #pagerContainer #previousPageArrow.btn-disabled {
            opacity: 0;
        }

.tableBody {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    /*line-height: 16px;*/
}

    .tableBody .glyphicon.glyphicon-star-empty {
        color: #383838;
    }

.bodyRow li {
    padding-left: 20px;
}

/*.bodyRow:nth-child(even) {
    background-color: #f9f9f9;
}*/

.bodyRow.darkColor {
    padding-right: 0;
}

.vertical-line {
    width: 3px;
    height: 37px;
    background-color: black;
    position: absolute;
}

.grid img {
    margin: 5px;
    /*width: 90%;*/
}

.grid .isUsed-false {
    margin-left: 10px;
    display: block;
    height: 20px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url('../images/static-homepage-pages/license-menu-page/Cross_header.svg');
    background-size: auto;
}

.grid .isUsed-true {
    margin-left: 10px;
    display: block;
    height: 20px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url('../images/static-homepage-pages/license-menu-page/tick green_header.svg');
    background-size: auto;
}

.grid input[type="checkbox"] {
    /*width: 20px;*/
    /*height: 20px;*/
    margin-left: 30px;
}

.search-icon-image {
    background-image: url('../images/search icon white.svg');
    background-repeat: no-repeat;
    height: 19px;
    width: 14px;
    font-size: 15px;
    display: inline-block;
    background-size: 100%;
}

.search-container .search-btn {
    margin-left: -2px;
    display: none;
    padding: 2px 10px;
}


/*-----------------------------------------------------------------------------------------------------*/
/* grid 2.0 */
.sitetriks-grid {
    border: 2px solid #b0b0b0;
    border-radius: 3px;
    background-color: #ffffff;
}

    .sitetriks-grid div.full-row:nth-of-type(even) {
        background-color: #f9f9f9;
    }

    .sitetriks-grid div.full-row:nth-of-type(odd) {
        background-color: #ffffff;
    }

    .sitetriks-grid .buttons-header {
        color: #ffffff;
        background-color: #c9c9c9;
        padding: 5px 35px;
        border-bottom: 2px solid #b0b0b0;
    }

    .sitetriks-grid .title-header {
        border-bottom: 1px solid #eeeeee;
    }

    .sitetriks-grid.grid-view .first-header-row .grid-filter {
        float: left;
        width: 320px;
    }

    /*.sitetriks-grid .grid-body > .grid-item:nth-child(2n + 1) {
        background-color: #f9f9f9;
    }*/

    .sitetriks-grid .grid-body .grid-item {
        line-height: 36px;
        padding-top: 3px;
        padding-bottom: 3px;
        min-height: 30px;
    }

/*Specidically for the dynamics with too many items*/
.dynamics.sitetriks-grid .title-header {
    display: flex;
    justify-content: space-between;
}

.dynamics.sitetriks-grid .grid-body .grid-item {
    display: flex;
    justify-content: space-between;
}


/***************************************************/


.sitetriks-grid .grid-body .grid-item span {
    /*margin-left: 10px;*/
}

.sitetriks-grid.grid-view .grid-body .grid-item {
    float: left;
    margin: 10px;
}

.sitetriks-grid .grid-pager {
    height: 60px;
    padding: 12px;
    background-color: #eeeeee;
    border-top: 2px solid #b3b3b3;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

    .sitetriks-grid .grid-pager .pageControl {
        display: inline-block;
        border: 2px solid #878787;
        border-radius: 15%;
        color: #878787;
        background-color: #ffffff;
        padding: 2px;
    }

        .sitetriks-grid .grid-pager .pageControl.pageSize {
            margin-right: 10px;
            padding: 2px 5px;
        }

    .sitetriks-grid .grid-pager .pager-arrow {
        display: inline-block;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        margin-bottom: -2px;
    }

    .sitetriks-grid .grid-pager .btn-disabled {
        opacity: 0;
    }

    .sitetriks-grid .grid-pager .previousPageArrow {
        border-right: 12px solid #959595;
    }

    .sitetriks-grid .grid-pager .nextPageArrow {
        border-left: 12px solid #959595;
    }

    .sitetriks-grid .grid-pager .pageControl.pageNumber {
        margin-left: 5px;
        padding-left: 15px;
        padding-right: 0;
        border-radius: 20%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: none;
    }

    .sitetriks-grid .grid-pager .pageControl.pagesCount {
        margin-right: 5px;
        padding-right: 15px;
        padding-left: 0;
        border-radius: 20%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;
    }

        .sitetriks-grid .grid-pager .pageControl.pagesCount::before {
            content: '/';
        }

.sitetriks-grid .btn-grid-add {
    cursor: pointer;
    color: #fff;
    font-size: 17px;
}

/*-----------------------------------------------------------------------------------------------------*/

@media (max-width: 1200px) and (min-width: 961px) {
    .second-header-row .col-1,
    .second-header-row .col-2,
    .second-header-row .col-3,
    .second-header-row .col-4,
    .second-header-row .col-5,
    .second-header-row .col-6,
    .bodyRow .col-1,
    .bodyRow .col-2,
    .bodyRow .col-3,
    .bodyRow .col-4,
    .bodyRow .col-5,
    .bodyRow .col-6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1150px) {
    .search-container .search-btn {
        display: block;
    }

    .search-container .search-field {
        display: none;
    }
}

@media (max-width: 960px) and (min-width: 678px) {
    .second-header-row .col-1,
    .second-header-row .col-2,
    .second-header-row .col-3,
    .second-header-row .col-4,
    .second-header-row .col-5,
    .second-header-row .col-6,
    .bodyRow .col-1,
    .bodyRow .col-2,
    .bodyRow .col-3,
    .bodyRow .col-4,
    .bodyRow .col-5,
    .bodyRow .col-6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 691px) {
    .grid * {
        font-size: 12px;
    }
}
