
/*=================================================================================*/
/*Licenses*/
/*=================================================================================*/

.licenses-table-content {
    margin: 20px;
    padding: 20px;
    border: solid 1px #d8d8d8;
    background-color: #6d92cd;
}

    .licenses-table-content .row.desktop {
        display: block;
    }


    .licenses-table-content .row.mobile {
        display: none;
    }
    /*.licenses-table-content p {
    margin: 0;
}*/

    .licenses-table-content td {
        height: 70px;
        background-color: #cadcfa;
        color: #5d6072;
        border: 4px solid #6d92cd;
    }

        .licenses-table-content td a {
            color: #5d6072;
        }

    .licenses-table-content .first-header td {
        height: 80px;
        background-color: #092750;
    }

    .licenses-table-content .first-header img {
        height: 80%;
        float: left;
        margin-left: -11px;
    }

    .licenses-table-content .first-header td span {
        display: block;
        color: #ddeeff;
    }

    .licenses-table-content .second-header td {
        height: 55px;
        color: #ffffff;
        /*font-family: Montserrat;*/
        font-weight: bold;
        background-color: #123e7a;
    }

        .licenses-table-content .second-header td:first-of-type,
        .licenses-table-content .third-header td:first-of-type {
            background-color: #cdddf9;
            color: #3e3e3e;
            box-shadow: none;
            padding: 5px;
        }


    .categories td {
        background-color: #3b3b3b;
        color: #ffffff;
        font-size: 1.5em;
        padding-top: 10px;
    }

        .categories td:nth-of-type(1) {
            padding-left: 16%
        }

        .categories td:nth-of-type(2) img,
        .categories td:nth-of-type(3) img {
            margin-left: -16%;
        }

        .categories td:nth-of-type(2) p,
        .categories td:nth-of-type(3) p {
            margin-left: -10%;
        }

        .categories td:nth-of-type(1) p {
            max-width: 60%;
        }

        .categories td:nth-of-type(2) p {
            max-width: 70%;
            padding-left: 15px;
        }

        .categories td:nth-of-type(3) p {
            max-width: 90%;
            padding-left: 10px;
        }


        .categories td img {
            float: left;
        }

        .categories td p {
            float: left;
        }

/*.categories td:nth-of-type(2) img {
            margin-left: -90%;
        }

        .categories td:nth-of-type(3) img {
            margin-left: -80%;
        }*/

.licenses-table-content .third-header td {
    height: 55px;
    color: #ffffff;
    /*font-family: Montserrat;*/
    font-weight: bold;
    background-color: #3d70ca;
}

/*Table body*/

.licenses-table-content tbody,
#table-content tbody {
    font-size: 10px;
}

.availability {
    margin-right: 45%;
}

.information {
    margin-right: 5%;
}


.licenses-table-content .management-tool {
    background-color: #bad1f5;
    color: #5d6072;
    height: 50px !important;
    padding-left: 10px;
}

#table-content tr:last-of-type td {
    /*padding-top: 10px;*/
    background-color: #1d3764;
    color: white;
    text-decoration: none;
    /*height: 70px !important;*/
}

    #table-content tr:last-of-type td a {
        color: white;
        text-decoration: none;
        font-size: 2em;
        font-weight: bold;
    }

    #table-content tr:last-of-type td:last-of-type a {
        font-size: 2em;
        margin-top: 5px;
        display: inline-block;
    }

    #table-content tr:last-of-type td p {
        font-size: 1.4em;
        font-weight: normal;
    }


/*Details page*/


.licenses-table-content .details .row {
    display: table;
    margin-bottom: 5px;
    width: 100%;
}

.licenses-table-content .details .title {
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 20px;
}

.licenses-table-content .row .col-lg-2,
#floating-section .licenses-table-content .row .col-lg-2,
.toggle-bottom-menu .licenses-table-content .row .col-lg-2 {
    padding: 2%;
    float: none;
    display: table-cell;
    vertical-align: top;
    background-color: rgba(219, 233, 255, 0.65);
    /*border: solid 4px #7199d2;*/
    font-family: LucidaGrande;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d6072;
    word-break: break-all;
}

.licenses-table-content .row .col-lg-12 {
    padding: 20px;
    border: 1px solid white;
    border-collapse: collapse;
}

.licenses-table-content .row .col-lg-10 {
    background-color: rgba(255, 255, 255, 0.9);
    /*border: solid 2px #7199d2;*/
    width: auto;
    padding: 2%;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: normal;
    color: #123e7a;
    margin-left: 5px;
    width: 100%;
}

/*Responsive*/

@media (max-width: 1500px) and (min-width: 1281px) {
    .licenses-table-content tbody,
    #table-content tbody {
        font-size: 10px;
    }
}

@media (max-width: 1280px) and (min-width: 1201px) {
    .licenses-table-content tbody,
    #table-content tbody {
        font-size: 9px;
    }
}

@media (max-width: 1200px) and (min-width: 981px) {
    .licenses-table-content tbody,
    #table-content tbody {
        font-size: 8px;
    }
}

@media (max-width: 980px) and (min-width: 768px) {
    .licenses-table-content tbody,
    #table-content tbody {
        font-size: 8px;
    }
}

@media (max-width: 767px) {
    .licenses-table-content tbody,
    #table-content tbody {
        font-size: 6px;
    }

    /*.availability {
        margin-right: 4em;
    }*/

    .licenses-table-content {
        padding: 0;
        height: 100%;
    }

    .categories img {
        margin-top: 10px;
    }

    .licenses-table-content .row.desktop {
        display: none;
    }

    .licenses-table-content .row.mobile {
        min-height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .licenses-table-content .row.mobile img {
            height: auto;
            width: 100px;
            display: block;
        }
}
