/*Adding homepage navigation styles*/

/*Fonts*/

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf")
}

@font-face {
    font-family: DashDigital;
    src: url("../fonts/Dash_Digital-7.ttf")
}

@font-face {
    font-family: BlairMd;
    src: url("../fonts/Blaimim.ttf")
}

.header-wrapper {
}

    .header-wrapper.header-white {
        height: 110px;
        margin-top: -20px;
        background-color: #fff;
        z-index: 255;
        padding-top: 20px;
    }

.logo-container {
    margin: 0;
    padding: 0;
    width: 220px;
    height: 40px;
    margin-top: 30px;
    margin-left: 6%;
    font-size: 1.1em;
    color: #008CFF;
    text-transform: uppercase;
    font-family: BlairMd;
    font-weight: bolder;
}

    .logo-container img {
        width: 100%;
    }


/*****************************************/



.nav-container {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    z-index: 10;
}

.multi-level-navigation {
    position: absolute;
    width: 100%;
}

    .multi-level-navigation > ul {
        list-style: none;
        padding: 0 2%;
        margin: 0;
    }

    .multi-level-navigation .main-navigation > li.nav-right {
        float: right;
        display: inline-block;
        /*border-right: 1px solid black;*/
        /*padding-right: 2%;*/
        /*font-size: 1.4em;*/
        /*width: 7%;*/
        /*border-left: 1px solid black;*/
        text-align: center;
        /*padding: 0;*/
        padding-right: 2%;
        font-weight: bold;
    }

    /*.multi-level-navigation .main-navigation:last-child > li.nav-right {
        float: right;
        border-right: 1px solid black;
    }*/

    .multi-level-navigation .main-navigation li {
        display: inline-block;
        padding: 0 2%;
        /*font-size: 1.4em;*/
        /*background: #1bc2a2;*/
        /*Addition: Added from Homepage css*/
        /*background: #114382;*/
        /* For browsers that do not support gradients */
        /*background: -webkit-linear-gradient(#0c56a2, #114382);*/
        /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#0c56a2, #114382);*/
        /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#0c56a2, #114382);*/
        /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#0c56a2, #114382);*/
        /* Standard syntax */
        /* background-color: #104a8f; */
        /* height: 5vh; */
        height: 40px;
        /*border-bottom: 3px solid #008cff;*/
        color: #f8f2eb;
        /* position: relative; */
        text-transform: uppercase;
    }

    .multi-level-navigation .main-navigation > li {
        font-size: 1.4em;
    }

    .multi-level-navigation li ul {
        display: none;
    }

    .multi-level-navigation ul li input {
        display: block;
        padding: 0.5em;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        color: #fff;
        border: none;
        height: 40px;
        /*border-bottom: 3px solid #008cff;*/
        color: #f8f2eb;
        /* position: relative; */
        text-transform: uppercase;
    }

    .multi-level-navigation ul li a {
        display: inline-block;
        padding-top: 0.5em;
        /*margin-left: -8em;*/
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        padding-bottom: 0;
        font-weight: normal;
        height: 100%;
    }

        .multi-level-navigation ul li a:hover, .multi-level-navigation ul li input:hover {
            /*font-weight: bold;*/
            /*background: #2c3e50;*/
        }

    .multi-level-navigation li:hover > ul {
        display: block;
        position: absolute;
        /*height: 40px;
        border-right: 1px solid black;*/
        padding: 0;
    }

    .multi-level-navigation li:hover li {
        float: none;
    }

    .multi-level-navigation li:hover a, .multi-level-navigation li:hover input {
        /*background: #1bc2a2;*/
    }

    .multi-level-navigation li:hover li a:hover {
        /*background: #2c3e50;*/
    }

    .multi-level-navigation .main-navigation li ul li {
        border-top: 0;
        width: 100%;
        position: relative;
        background-color: #008cff;
    }

    .multi-level-navigation ul ul ul {
        left: 100%;
        width: 100%;
        top: 0;
    }

    .multi-level-navigation ul:before,
    .multi-level-navigation ul:after {
        content: " ";
        display: table;
    }

    .multi-level-navigation ul:after {
        clear: both;
    }
