/* ----------------------------------------------------------------
	Large devices 
-----------------------------------------------------------------*/

@media (min-width: 1240px) {
    .conntent-wrapper .content-placeholder.row-placeholder {
        padding: 0% 15%
    }

    .column-placeholder {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 1240px) {
    .conntent-wrapper .content-placeholder.row-placeholder {
        padding: 0% 5%
    }

    .column-placeholder {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1239px) {
}

@media (min-width: 992px) {
    .column-placeholder .accordion .allnews-item {
        padding-left: 1em;
        padding-right: 1em;
    }

    .widget-row label {
        text-align: right;
    }
}

/* ----------------------------------------------------------------
	Medium devices 
-----------------------------------------------------------------*/

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .column-placeholder .accordion .allnews-item {
        padding-left: 2.2em;
        padding-right: 2.2em;
    }

    .widget-row label {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

/* ----------------------------------------------------------------
	Small devices 
-----------------------------------------------------------------*/

@media (min-width: 480px) and (max-width: 767px) {
}


/* ----------------------------------------------------------------
	General
-----------------------------------------------------------------*/

.widget-row.row {
    margin: 0px 10px;
}

.widget-body {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ----------------------------------------------------------------
	FrontEnd
-----------------------------------------------------------------*/
.display-image {
    border-radius: 5px;
    width: auto;
    max-height: 100px;
}

.gallery {
    overflow-y: hidden;
    border: 1px solid #004f82;
    border-radius: 5px;
    padding: 7px;
    overflow-x: auto;
    white-space: nowrap;
}

.news-main-image {
    width: auto;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
}


/* Temporary fixed background, just for testing purposes */
.background-norepeat {
}

.background-1 {
}

.background-2 {
}

.background-3 {
}

.news-date-created {
    color: #aaa
}

