@{
    ViewBag.Title = "News";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create News</a>
</div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>

@section scripts{
    <script type="text/javascript">

        var grid = Grid();
        var data = { link: "/sitetriks/news/getnews", serverSide: false }
        var columns = [{
            name: 'linkId',
            title: '',
            type: 'checkbox',
            size: 1
        },
        {
            name: "title",
            title: "Title of news",
            type: 'string',
            filter: true,
            sort: true,
            extraFields: [ "url" ],
            size: 2,
            headerTemplate: '<b>#item#</b>', // #item# is the placeholder for the content
            contentTemplate: '<a href="/sitetriks/news/edit?url=#item0#">#item#</a>'
        },
        {
            name: 'languages',
            title: 'Languages',
            type: 'list',
            size: 1,
            headerTemplate: '<strong>#item#</strong>',
        },
        {
            name: "url",
            title: "Url",
            type: 'string',
            filter: true,
            sort: true,
            size: 2,
            contentTemplate: '<span class="text-danger">#item#</span>',
            headerTemplate: '<b>#item#</b>'
        },
        {
            name: "lastPublished",
            title: "Last published",
            type: 'date',
            sort: true,
            size: 2,
            headerTemplate: '<b>#item#</b>'
        },
        {
            name: "dateToBePublished",
            title: "Date to be published",
            type: 'date',
            sort: true,
            size: 2,
            headerTemplate: '<b>#item#</b>'
        }];

        let buttons = [{
            title: 'Publish',
            postUrl: '/sitetriks/news/publish',
            type: 'success'
        },
        {
            title: 'UnPublish',
            postUrl: '/sitetriks/news/unpublish',
            type: 'warning'
        },
        {
            title: 'Delete',
            postUrl: '/sitetriks/news/delete',
            type: 'danger'
        }];

        var config = grid.build(columns, buttons, grid.defaultPager, data);
        grid.init('.grid', config);
    </script>
}
