@model SiteTriks.Models.CoreWidgets.FireResourceWidgetViewModel

<div>
    @if (Model.IsRaw)
    {
        @Model
    }
    else
    {
        <b>External javascript resource from @Model.Url</b>
    }
</div>
