@model SiteTriks.Models.CoreWidgets.FileResourceWidgetViewModel

<div>
    @if (Model.IsRaw)
    {
        @Model.RawCode
    }
    else
    {
        <b>External javascript resource from @Model.Url</b>
    }
</div>
