@{
    ViewBag.Title = "ECommerce";
}

<div class="fixed-top-2">
    <p>@ViewBag.Title</p>

    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create ECommerce</a>
</div>

<div class="backend-wrapper">
    <div class="grid">

    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var grid = Grid();
        var data = { link: "/sitetriks/ecommerce/getitems", serverSide: false }
        var columns = [{
            name: 'id',
            title: '',
            type: 'checkbox',
            size: 1
        },
        {
            name: "title",
            title: "Title",
            type: 'string',
            filter: true,
            sort: true,
            extraFields: [ "id" ],
            size: 2,
            headerTemplate: '<b>#item#</b>', // #item# is the placeholder for the content
            contentTemplate: '<a href="/sitetriks/ecommerce/edit?id=#item0#">#item#</a>'
        },
        {
            name: "dateCreated",
            title: "Date Created",
            type: 'date',
            sort: true,
            size: 2,
            headerTemplate: '<b>#item#</b>'
        },
        {
            name: "dateModified",
            title: "Date modified",
            type: 'date',
            sort: true,
            size: 2,
            headerTemplate: '<b>#item#</b>'
        }];

        let buttons = [{
            title: 'Delete',
            postUrl: '/sitetriks/ecommerce/delete',
            type: 'danger'
        }];

        var config = grid.build(columns, buttons, grid.defaultPager, data);
        grid.init('.grid', config);
    </script>
}
