@model ContactUsWidgetViewModel

<div class="wrapper-contact-form">
    <div class="contact-us-widget main-container">
        <div class="border-wrapper">
            <div class="slogan">
                <p>building the websites of the future</p>
                <p>we would love to help you</p>
            </div>
            <div class="contact-options">
                @*<div class="phone-contact"><img src="~/images/contact-us/Tel.svg" /></div>*@
                <div class="mail-contact"><img src="~/images/contact-us/Mail.svg" /></div>
            </div>
        </div>
    </div>

    <div class="expanded-contacts phone" style="display:none">
        <div class="go-back-to-menu">
            <div class="go-back-button"><img src="~/images/contact-us/Back to email.svg" /></div>
            <div>We are looking forward to answering your enquiry</div>
        </div>
        <div class="contacts-content-main">
            <div class="contacts-content-centered">
                <div class="list-of-regions">
                    <p>Please, select a region:</p>
                    <ul>
                        <li class="selected-region" data-region="europe">Europe</li>
                        <li data-region="north-america">N. America</li>
                        <li data-region="south-america">S. America</li>
                        <li data-region="asia">Asia</li>
                        <li data-region="australia">Australia</li>
                        <li data-region="africa">Africa</li>
                    </ul>
                </div>
                <div class="list-of-contacts">
                    <p>Contacts within Europe:</p>
                    <ul>
                        <li><img src="~/images/contact-us/tel_blue.svg"><a href="tel:+44 515 772 228">UK: +44 515 772 228</a></li>
                        <li><img src="~/images/contact-us/tel_blue.svg"><a href="tel:+49515772228">Germany: +49 515 772 228</a></li>
                        <li><img src="~/images/contact-us/tel_blue.svg"><a href="tel:+359515772228">Bulgaria: +359 515 772 228</a></li>
                    </ul>
                </div>
                <div class="social-media">
                    <ul>
                        <li><a href="https://www.linkedin.com/company/sitetriks"><img src="~/images/contact-us/social-media/iconmonstr-linkedin-3.svg"></a></li>
                        <li><a href="https://twitter.com/sitetriks"><img src="/images/contact-us/social-media/iconmonstr-twitter-3.svg"></a></li>
                        <li><a href="https://www.facebook.com/SiteTriks-174456359942455/"><img src="~/images/contact-us/social-media/iconmonstr-facebook-3.svg"></a></li>
                        <li>
                            <a href="javascript://" onclick="SkypeWebControl.SDK.Chat.startChat({ConversationType: 'person', ConversationId: 'info_882922'});">
                                <div class="skype-button" style="pointer-events: none;">                   
                                </div>
                                <img style="margin: 0;" src="/images/contact-us/social-media/iconmonstr-skype-3.svg" alt="" role="Button" style="border:0; margin:32px; vertical-align:-41px;">
                            </a>
                        </li>
                        @*<li><div id="SkypeButton_Call_info_882922_1"></div></li>*@
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

@*<form asp-controller="ContactUsWidgetController" asp-action="RegisterInput" method="post">
        Email:  <input asp-for="Email" /> <br />
        Password: <input asp-for="Password" /><br />
        <button type="submit">Register</button>
    </form>*@

<div class="expanded-contacts mail" style="display:none">
    <div class="go-back-to-menu">
        <div class="go-back-button"><img src="~/images/contact-us/Back to tel.svg" /></div>
        <div>We are looking forward to answering your enquiry</div>
    </div>
    <form action="/widget/contactuswidget/sendemail" method="post" class="contact-us-form">
        <div class="contacts-content-form">
            <div class="row">
                <div class="file-handler-notifier" style="font-size: 15px; padding: 10px 25px; margin-bottom: 5px;">
                </div>
                <div class="col-md-6">
                    <p>What is your name?</p>
                    <input asp-for="Name" class="inputName" autocomplete="off" />
                    <p>What is your contact email:</p>
                    <input asp-for="Email" class="inputEmail" autocomplete="off" />
                </div>
                <div class="col-md-6">
                    <p>Contact number</p>
                    <input asp-for="Number" class="inputNumber" autocomplete="off"/>
                    <p>What would you wish to enquire about?</p>
                    <select asp-for="ReceiverEmail">
                        <option value="sales">Sales</option>
                        <option value="partner-program">Partner Program</option>
                        <option value="sitetriks-marketplace">Sitetriks Marketplace</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 col-xs-11">
                    <p>How can we help</p>
                    <textarea asp-for="Message" class="textareaMessage" placeholder="" autocomplete="off"></textarea>
                </div>
                <div class="col-lg-1 col-md-1 col-xs-1">

                    <input type="image" src="~/images/contact-us/Send Email.svg" name="saveForm" class="btn-submit" id="saveForm" />
                    @*<button><img src="~/images/contact-us/Send Email.svg" /></button>*@
                </div>
            </div>
        </div>
    </form>
</div>

