<hr />
<div class="form-group row">
    <label class="control-label col-md-2">Field Name: </label>
    <input type="text" class="form-control inline-block validate-field-name">
    <span class="text-danger"></span>
</div>
<div class="form-group row">
    <label class="control-label col-md-2">Field Type: </label>
    <select class="form-control inline-block validate-type-dropdown">
        <option value="">--Select Type--</option>
        <option value="int">Number</option>
        <option value="string">String</option>
        <option value="string-long">String-long</option>
        <option value="string-html">Html</option>
        <option value="decimal">Decimal</option>
        <option value="bool">Bool</option>
        <option value="guid">Guid</option>
        <option value="images">Images</option>
    </select>
    <span class="text-danger"></span>
    <a class="btn btn-backend btn-delete-field"><span class="glyphicon glyphicon-remove"></span></a>
</div>
