@model SiteTriks.Dynamic.Models.DynamicAssembly

@{
    ViewBag.Title = "Dynamic";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("CreateClass", new { assemblyName = Model.Name })" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Class</a>
</div>

<div class="backend-wrapper">
    <div>
        <div>
            @Html.DisplayFor(m => Model.Classes, "DynamicClasses", new { assemblyName = Model.Name })
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/restart-app.js"></script>
    <script src="~/js/sitetriks/dynamics.js"></script>
    <script>
        (function () {
            dynamicClassesList();
        })();
    </script>
}
