.st-calculator-wrapper {
    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .form-group {
        margin-bottom: 20px;
        font-size: 14px;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .button-group.row {
        justify-content: right;
        padding-right: 15px;

        .add-year {
            margin-right: 20px;
        }
    }

    .remove-year {
        border: 1px solid gray;
        border-radius: 5px;
        margin-left: 10px;
    }
}
