/*Bootstrap styles Clearfixes*/
.st-body-content .st-row-clear-margin {
  margin-right: 0;
  margin-left: 0; }

.backend-wrapper .title-field {
  /*width: 400px;*/
  max-width: unset; }

.backend-wrapper .content-field {
  height: 180px;
  /*width: 400px;*/
  max-width: unset; }

.backend-wrapper .input-group .input-group-addon {
  background-color: #fff; }

.backend-wrapper ::-webkit-input-placeholder,
.backend-wrapper :-moz-placeholder,
.backend-wrapper ::-moz-placeholder,
.backend-wrapper :-ms-input-placeholder {
  text-align: center;
  font-weight: bold; }

/*Sitetriks specific styles/ custom classes*/
.st-body-content input[disabled] {
  cursor: not-allowed; }

.st-no-overflow {
  overflow: hidden; }

/*Nice to have clearfix classes*/
.st-link:hover {
  text-decoration: none; }

.st-pointer {
  cursor: pointer; }

.st-relative {
  position: relative; }

.st-inline-block {
  display: inline-block; }

/*Fallback as we cannot replace all classes to st-inline-block*/
.inline-block {
  display: inline-block; }

.st-inline, .inline {
  display: inline; }

.st-block {
  display: block; }

.st-text-centered, .ta-center {
  text-align: center; }

.st-unselectable, .unselectable {
  user-select: none;
  /* CSS3 (little to no support) */
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: none;
  /* Gecko (Firefox) */
  -webkit-user-select: none;
  /* Webkit (Safari, Chrome) */ }

.disabled {
  cursor: not-allowed;
  background-color: #eeeeee; }

/* Hints/ Tooltips */
.st-info {
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .st-info::after {
    content: '?';
    background: #008CFF;
    border-radius: 50%;
    cursor: pointer;
    padding: 0 7px 0 6px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 20px; }
  .st-info:hover::after {
    color: #000; }

.st-hint {
  position: relative; }
  .st-hint > span.st-tooltip {
    display: none;
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    background: #eee;
    bottom: 100%;
    left: 10px;
    width: 100%;
    min-width: 250px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
    z-index: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }
  .st-hint:hover > span.st-tooltip {
    display: block; }

.page-even {
  background-color: #efefef; }

/*********************************************************************************/
/***************               Imported Files        *****************************/
/*********************************************************************************/
/*--------------------------------------------------------------------*/
/* gallery-2.0.js / files-handler-2.2.js */
.blur {
  left: 0;
  top: 0;
  z-index: 1051;
  background-color: #000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: fixed; }

.inline-blur {
  left: 0;
  top: 0;
  z-index: 1051;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%; }

.preview-container {
  /* bootstrap modal has 1040 z-index, blur has 1041*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1052; }

.blur-content {
  z-index: 1052;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.preview-image {
  /* bootstrap modal has 1040 z-index, blur has 1041*/
  border-radius: 15px;
  max-width: 80%;
  max-height: 90%; }

/*Used stop blur the content color-profile the slide homepage menu*/
.display-image {
  border: 2px solid gray;
  max-height: 297px;
  max-width: 100%;
  display: block;
  margin: 0 auto; }
  .display-image :hover {
    cursor: pointer;
    box-shadow: -1px 1px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.8; }

/*Edit image*/
.images-title span {
  display: block;
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #525252;
  margin-bottom: 30px; }

/*Thumbnails section in image edit*/
#generate-thumbnails-disabled .btn-grayed-out {
  background-color: #cecece;
  color: white;
  font-weight: bold; }

.thumb-list {
  max-height: 300px;
  background-color: #ececec;
  border: solid 2px gray;
  margin-top: 20px;
  overflow-x: scroll;
  display: flex; }

.advanced-features .btn-grayed-out {
  background-color: #cecece;
  color: white;
  font-weight: bold; }

.advanced-features .toggle-button span:nth-of-type(1) {
  margin-right: 10px; }

.date-picker-group {
  width: 280px; }

.img-small {
  height: 50px; }

.listed-image {
  max-width: 170px;
  max-height: 150px; }

.news-images-container {
  height: 100px; }

.news-listed-image {
  position: relative; }

.news-listed-image-container {
  position: relative;
  margin: 10px;
  float: left; }

.image-container {
  width: 162px;
  height: 180px;
  margin: 5px;
  padding: 0px;
  display: inline-block; }
  .image-container > span {
    display: inline-block;
    width: 149px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal; }

.files-handler-pager {
  text-align: right;
  margin: 20px; }

#upload-container {
  padding: 10px; }

.img-upload-wrapper {
  padding: 10px; }
  .img-upload-wrapper > hr {
    margin-top: 0px; }

.img-upload-wrapper * {
  margin-bottom: 5px; }
  .img-upload-wrapper * img {
    width: 100px; }

.close-modal {
  position: absolute;
  z-index: 1000;
  right: 5px;
  top: 5px;
  cursor: pointer;
  color: #fff;
  background-color: red;
  font-size: 20px;
  padding: 2px;
  border-radius: 50%; }

.modal-container {
  z-index: 300;
  position: absolute;
  width: 750px;
  height: 500px;
  left: 30%;
  top: 20%;
  background-color: white;
  border-radius: 5px; }

.toggle-menu div.row.st-documentation-wrapper {
  padding: 5px 10px; }

div.row.st-documentation-wrapper {
  padding: 0;
  margin: 10px 20px;
  min-width: 767px;
  overflow-x: auto;
  background-color: white;
  /* Documentation navigation tree */ }
  div.row.st-documentation-wrapper div.col-md-9.col-xs-9 {
    padding: 15px 30px;
    font-size: 13px;
    background: #ffffff;
    /*height: 100%;*/
    overflow-y: auto; }
  div.row.st-documentation-wrapper .col-md-9 .topic-details {
    min-height: 504px;
    position: relative; }
  div.row.st-documentation-wrapper .topic-details h3 {
    margin-top: 5px;
    color: #337ab7;
    font-weight: bold; }
  div.row.st-documentation-wrapper .prev-doc, div.row.st-documentation-wrapper .next-doc {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer; }
  div.row.st-documentation-wrapper .prev-doc {
    display: none; }
  div.row.st-documentation-wrapper .next-doc {
    float: right; }
  div.row.st-documentation-wrapper .topic-version {
    position: absolute;
    top: 0;
    right: 0px;
    color: #337ab7;
    font-weight: bold; }
  div.row.st-documentation-wrapper .col-md-3 .documentation-versions {
    max-width: 100%;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #337ab7;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -1px;
    border: 2px solid #d3d3d3;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom: none; }
    div.row.st-documentation-wrapper .col-md-3 .documentation-versions option {
      padding-left: 10px; }

/* Documentation navigation tree */
ul.docs-menu {
  border: 2px solid #d3d3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  background-color: #6d92cd;
  min-height: 530px;
  border-right: none;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0px; }
  ul.docs-menu .glyphicon {
    margin-right: 15px; }
  ul.docs-menu ul {
    list-style-type: none;
    padding-left: 0px; }
  ul.docs-menu a {
    color: #fff; }
  ul.docs-menu li {
    cursor: pointer; }
  ul.docs-menu span.childless {
    margin-right: 33px; }
  ul.docs-menu li.docs-menu-item > div {
    padding: 10px 15px;
    /*background-color: #fff;*/
    border-bottom: 2px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/ }

/*------------------------------------------------------------
       Documentation Edit page styles
    ---------------------------------------------------------------*/
.form-horizontal .control-label {
  padding-top: 0; }

#btn-edit-content {
  margin-bottom: 10px; }

#btn-add-version, #btn-delete-version {
  vertical-align: top; }

/*Add version popul*/
.preview-container .preview-item-container .blur-content {
  padding: 9px; }
  .preview-container .preview-item-container .blur-content #input-version {
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 5px; }
  .preview-container .preview-item-container .blur-content .btn-success {
    margin-right: 12px; }

@media screen and (min-width: 2880px) {
  /*Documentation 4k resolution*/
  .st-documentation-wrapper .col-md-9 .topic-details {
    min-height: 1200px;
    font-size: 30px;
    line-height: 34px; }
  .st-documentation-wrapper .col-md-3 .st-documentation-versions {
    font-size: 28px;
    height: 50px; }
  .st-documentation-wrapper .topic-details {
    font-size: 28px;
    line-height: 32px; }
    .st-documentation-wrapper .topic-details h3 {
      margin-top: 10px;
      font-size: 40px;
      padding-bottom: 20px; }
    .st-documentation-wrapper .topic-details .prev-doc, .st-documentation-wrapper .topic-details .next-doc {
      font-size: 36px; }
  ul.docs-menu {
    font-size: 28px;
    min-height: 1150px;
    line-height: 42px; } }

/*------------------------------------------------------------
       Forum  styles
    ---------------------------------------------------------------*/
.forum-wrapper {
  margin: 150px 50px 50px 50px;
  padding-top: 10px;
  min-width: 768px; }

.forum-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  /*Forum navigation icons*/ }
  .forum-navigation #hamburger-menu {
    display: none; }
  .forum-navigation .header-blue {
    display: block; }
  .forum-navigation .logout-icon input {
    display: block;
    background-image: url("../../images/homepage/Log_out.svg");
    margin-top: 35px;
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent; }

.fixed-top-3 {
  top: 150px;
  position: relative;
  margin-left: 50px; }
  .fixed-top-3 .btn-nav-2 {
    background-color: #529ce4;
    color: #ffffff;
    border: 1px solid #758fa8;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase; }
  .fixed-top-3 input.btn-nav-2 {
    padding: 2px 10px; }

#create-discussion .fixed-top-3,
#edit-discussion .fixed-top-3,
#create-thread .fixed-top-3,
#edit-thread .fixed-top-3 {
  top: 0;
  margin-bottom: 30px;
  margin-left: 0; }

#create-post {
  margin-left: 50px; }

/* blog widget styles */
.st-fancy-btn {
  background-color: #02a8e3;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0;
  padding: 14px 30px;
  text-decoration: none;
  line-height: 20px; }
  .st-fancy-btn :hover {
    background-color: #a8a8a8;
    color: #fff; }

/*------------------------------------------------------------
       Blog View styles
    ---------------------------------------------------------------*/
#btn-comment {
  margin-top: 20px; }

#comments-container .btn {
  margin-right: 10px; }

.st-blog-container {
  font-size: 16px;
  font-weight: 300; }
  .st-blog-container .st-blog-item {
    margin-bottom: 100px; }
  .st-blog-container .st-blog-info {
    color: #a6a6a6;
    line-height: 21px;
    margin-bottom: 25px;
    font-size: 14px; }
    .st-blog-container .st-blog-info > span {
      margin-right: 20px; }
  .st-blog-container .st-blog-post-header {
    margin-bottom: 45px;
    font-size: 35px; }
  .st-blog-container .st-blog-summary, .st-blog-container .st-blog-content {
    letter-spacing: 1px;
    line-height: 30px; }

/* Notifier */
#alerts {
  position: fixed;
  bottom: 35px;
  /* padding-bottom should be same as fixed footer */
  width: 100%;
  z-index: 10; }

.alert {
  padding: 10px;
  text-align: center;
  border-radius: 0;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 0px; }
  .alert .close {
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-top: -3px;
    margin-right: 20px; }

.alert-info {
  border-color: #979797;
  background-color: #87AC83;
  color: #eee; }

.alert-warning {
  background-color: #ffd9a1; }

/* pager css */
.sitetriks-pager {
  height: 60px;
  padding: 12px;
  text-align: center;
  margin-top: 30px;
  font-size: 16px; }
  .sitetriks-pager .pageControl {
    display: inline-block;
    border: 2px solid #878787;
    border-radius: 15%;
    color: #878787;
    background-color: #ffffff;
    padding: 2px; }
  .sitetriks-pager .btn-disabled {
    opacity: 0; }
  .sitetriks-pager .pageControl.pageSize {
    margin-right: 10px;
    padding: 2px 5px; }
  .sitetriks-pager .pager-arrow {
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-bottom: -2px; }
  .sitetriks-pager .previousPageArrow {
    border-right: 12px solid #959595; }
  .sitetriks-pager .nextPageArrow {
    border-left: 12px solid #959595; }
  .sitetriks-pager .pageControl.pageNumber {
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 0;
    border-radius: 20%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none; }
  .sitetriks-pager .pageControl.pagesCount {
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 0;
    border-radius: 20%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none; }
  .sitetriks-pager .pageControl.pagesCount::before {
    content: '/'; }
