@{
    ViewBag.Title = "SiteSync Targets";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create SiteSync Target</a>
</div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function (ev) {

            var grid = Grid();
            var data = { link: "/sitetriks/sitesynctargets/grid", serverSide: false }
            var columns = [
                {
                    name: "name",
                    title: "Name",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 3,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "url",
                    title: "Url",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    contentTemplate: '<span class="text-danger">#item#</span>',
                    headerTemplate: '<strong>#item#</strong>'
                },
                {
                    name: "id",
                    title: "Action",
                    type: 'string',
                    filter: false,
                    sort: false,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>',
                    contentTemplate: '<a class="btn btn-warning" href="/sitetriks/sitesynctargets/edit/#item#">Edit</a> <a class="btn btn-danger" href="/sitetriks/sitesynctargets/delete/#item#">Delete</a>'
                },
                {
                    name: "notSyncedItemsCount",
                    title: "Action",
                    type: 'string',
                    filter: false,
                    sort: false,
                    size: 2,
                    headerTemplate: '<strong>Count</strong>',
                    contentTemplate: '<span class="badge badge-pill badge-warning">#item#</span >'
                }


            ];

            //let buttons = [{
            //    title: 'Delete',
            //    postUrl: '/sitetriks/files/delete',
            //    classes: 'btn btn-danger',
            //    callback: function (res) {
            //        console.log(res);
            //    }
            //}];

            var config = grid.build(columns, [], grid.defaultPager, data);

            let obj = grid.init('.grid', config);

        });
    </script>
}
