@model IEnumerable<SiteTriks.Models.Roles.RoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create","Roles")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Role</a>
</div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>

@section Scripts{
    <script type="text/javascript">
        var grid = Grid();
        var data = { link: "/sitetriks/roles/grid", serverSide: false }
        var columns = [
            {
                name: "name",
                title: "Name",
                type: 'string',
                filter: true,
                sort: true,
                size: 6,
                headerTemplate: '<strong>#item#</strong>'
            },
            {
                name: 'isSystemRole',
                title: 'Action',
                type: 'bool',
                size: 4,
                extraFields: [ "id" ],
                headerTemplate: '<strong>#item#</strong>',
                falseTemplate: '<a href="/sitetriks/roles/edit/#item0#" class = "btn btn-warning">Edit</a><a href="/sitetriks/roles/delete/#item0#" class = "btn btn-danger">Delete</a>',
                trueTemplate: ''
            }
        ];

        let buttons = [];

        var config = grid.build(columns, buttons, grid.defaultPager, data);

        let obj = grid.init('.grid', config);
    </script>
}
