<div class="select-parent">
    <div class="image-container2">
        <div class="image-checkbox-wrapper">
            <input data-click-id="click" class="image-checkbox" type="{{inputType}}" data-id="{{id}}" name="images-list" />
            <span class="checkmark"></span>
        </div>
        <span class="checkmark-cover"></span>
        <img src="/SiteTriks/StaticFiles/images/default-document-image.png" class="listed-image" />
        <div class="thumbnailSelector wrapper">
            <div class="image-title">
                <span>{{title}}</span>
            </div>
        </div>
    </div>
</div>