<div class="ta-center"><h3>Multilingual Fields</h3></div>
<br />
<div class="form-group row">
    <label class="control-label col-md-2">Title(Multilingual)</label>
    <div class="col-md-10">
        <input class="form-control" data-lang="{{lang}}" data-name="Title" value="{{title}}" />
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-2">Content(Multilingual)</label>
    <div class="col-md-10">
        <textarea class="form-control" data-lang="{{lang}}" data-name="Content" id="content-area">{{content}}</textarea>
    </div>
</div>
