@model SiteTriks.Extentions.WidgetModels.ContactUsWidgetModel

@if (Model.IsPreview)
{
    <div class="preview-placeholder" data-identifier="@Model.Id">
        @await Html.PartialAsync("~/Areas/SiteTriks/Views/Shared/WidgetControl.cshtml", model: Model)

        <div class="@Model.CssClass">
            @await Component.InvokeAsync("ContactUsWidgetAlternative", new { area = "", lang = Model.Language })
        </div>
    </div>
}
else
{
    if (Model.CanViewByRole && Model.CanViewByGroup)
    {
        <div class="@Model.CssClass">
            @await Component.InvokeAsync("ContactUsWidgetAlternative", new { area = "", lang = Model.Language })
        </div>
    }
}