@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div>   
    <div>
        @RenderBody()
    </div>
    @*<footer class="frontend-footer"></footer>*@
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}