$background-plain: #ffffff;
$font-plain: #ffffff;

$background-contrast: #337ab7;
$font-contrast: #337ab7;

$background-backend: #529ce4;
$font-backend: #529ce4;

$table-darker-row-background: #efefef;
$background-disabled: #eeeeee;
