@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);
@import url('https://fonts.googleapis.com/css?family=Average|Gilda+Display|Libre+Baskerville:400,700|Maitree:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Catamaran:600|Maven+Pro|Nunito+Sans:600|Poppins:600|Questrial|Work+Sans');

/*=================================
Expandable List Specific Mods
=================================*/

body {
    font-family: Raleway,sans-serif;
    font-size: 16px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 22px;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.expandableWrapper {
    max-width: 700px;
    min-width: 280px;
    padding: 10px;
}

.iconplus {
    width: 28px;
    height: 28px;
    background: url('../images/icon--plus.png') no-repeat repeat right center;
    background-image: url('../images/icon--plus.png');
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: 15px 10px;
    margin: 0;
    min-height: 0;
}

.ui-accordion .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-top: 1px solid #1c94c4;
    border-bottom: 0px solid #1c94c4;
    background: #FFF;
    font-weight: bold;
    color: #1c94c4;
    font-size: 24px;
    font-weight: 300;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-widget-content {
    height: auto !important;
    border: none;
    background: #FFF;
    color: #777;
    margin: 0 0 0 20px;
    font-size: 16px;
}

    .ui-widget-content a {
        color: #333;
    }

.ui-accordion .ui-accordion-content {
    padding: 0 20px 20px 30px;
    border-top: 0;
    overflow: hidden;
    height: auto;
}

.ui-accordion .ui-accordion-icons {
    background: url('../images/icon--plus.png') no-repeat right center;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-top: 1px solid #1c94c4;
    border-bottom: 0px solid #1c94c4;
    background: #efefef;
    color: #1c94c4;
}

    .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited,
    .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
        color: #c77405;
        text-decoration: none;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border-top: 1px solid #1c94c4;
    border-bottom: 0px solid #1c94c4;
    background: #fff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    color: #1c94c4;
}

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #eb8f00;
        text-decoration: none;
        border-bottom: 0px solid #1c94c4;
    }
