@model string

@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="forgttenPassword">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>@ViewData["Title"]</div>
                        </div>
                        <p>
                            Thank you for confirming your email. You can <a asp-action="Login">log in</a>.
                        </p>
                        <p>
                            @Model
                        </p>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
}