@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using SiteTriks.Data.Models;
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div id="loginForm">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div class="login-logo-container">
                                <img src="~/images/homepage/Login.svg" />
                                <div>Login</div>
                            </div>
                            <p class="registration-link">
                                Don't have an account? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"> Register Now.</a>
                            </p>
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <div class="input-form">
                                    <input asp-for="Email" class="form-control" autofocus />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <div class="input-form">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="login-button">
                                    <button type="submit" class="btn btn-default">Login</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a asp-action="ForgotPassword">Forgot your password?</a>
                                </p>

                                <p>
                                    <a asp-action="ResendConfirmationEmail">Resend confirmation email?</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="image-holder col col-lg-8 col-md-8 col-sm-8">
                    <div class="login-image-container"></div>
                </div>
            </div>
        </div>
    </content>
</div>

@*@await Html.PartialAsync("_AccountFooter")*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @*<script type="text/javascript" src="~/js/login-image-select.js"></script>*@
}


