@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            @*<h2>@ViewBag.Title.</h2>*@
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="loginForm">
                        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                            <div class="login-logo-container">
                                <img src="~/images/homepage/Login.svg" />
                                <div>Login</div>
                            </div>
                            <div>
                                <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                            </div>
                            <input asp-for="RememberMe" type="hidden" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="TwoFactorCode"></label>
                                <div class="input-form password">
                                    <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" autofocus />
                                    <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="login-button">
                                    <button type="submit" class="btn btn-default">Log in</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMachine">
                                        <input asp-for="RememberMachine" />
                                        @Html.DisplayNameFor(m => m.RememberMachine)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>
                                    Don't have access to your authenticator device? You can
                                    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
}