@{
    ViewData["Title"] = "Email confirmation successful";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    <div id="forgttenPassword">
                        <div class="forgotten-password-container">
                            <img src="~/images/Sitetriks_logo.svg" />
                        </div>
                        <h3>@ViewData["Title"]</h3>
                        <p>
                            Please check your email. 
                            After confirming your email, log in <a asp-action="Login">here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")