@{
    ViewData["Title"] = "Email confirmation successful";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="forgttenPassword">
                        <div class="forgotten-password-container">
                            <img src="~/images/homepage/Login.svg" />
                        </div>
                        <h3>@ViewData["Title"]</h3>
                        <p>
                            Please check your email.
                            After confirming your email, log in <a asp-action="Login">here</a>
                        </p>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
}