@{
    ViewData["Title"] = "Your password was set successfully";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div id="forgttenPassword">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>@ViewData["Title"]</div>
                        </div>
                        <p>
                            Your password has been set. Please <a asp-action="Login">click here to log in</a>.
                        </p>
                    </div>
                </div>
                <div class="image-holder col col-lg-8 col-md-8 col-sm-8">
                    <div class="login-image-container"></div>
                </div>
            </div>
        </div>
    </content>
</div>

@*@await Html.PartialAsync("_AccountFooter")*@

@section Scripts {
    @*<script type="text/javascript" src="~/js/login-image-select.js"></script>*@
}
