@model SetNewPasswordViewModel
@{
	ViewData["Title"] = "Set up password";
	Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h4>Set up your password.</h4>
<hr />
<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    <div id="forgttenPassword">
                        <form method="post" class="clearfix">
                            @Html.HiddenFor(model => model.Id)
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Set</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}