@model SetNewPasswordViewModel
@{
    ViewData["Title"] = "Set up password";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="forgttenPassword">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>@ViewData["Title"]</div>
                            <p>Set up your password.</p>
                        </div>
                        <hr />
                        <form method="post" class="clearfix">
                            @Html.HiddenFor(model => model.Id)
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Set</button>
                        </form>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
}