@model MarketWidgetViewModel

<div id="cart-container">
    <div id="cart-items"></div>
    <input id="cart-empty" type="button" value="Empty cart" />
</div>

@foreach (var item in Model.Items)
{
    <h1>@item.Title</h1>
    <span class="label label-info">@item.Price EUR</span>
    <br />
    <input class="order-btn" type="button" data-itemid="@item.Id" data-title="@item.Title" value="Add to cart" />
    <hr />
}

<style>
    .order-btn {
        background-color: blue;
        color: white;
    }
</style>