@model DeleteAccountViewModel
@{
    ViewData["Title"] = "Delete account";
    Layout = "_ManageLayout";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    <div id="registerForm">
                        <div class="register-form-container">
                            <img src="~/images/Sitetriks_logo.svg" />
                        </div>
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="clearfix">
                            <h3>@ViewData["Title"]</h3>
                            <h4>Are sure you want to delete your account?</h4>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}