@model ShowRecoveryCodesViewModel
@{
    ViewData["Title"] = "Recovery codes";
    Layout = "_ManageLayout";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<div class="alert alert-warning recovery-codes-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
</div>

<div class="col-md-12 recovery-codes-list">
    <div>
        <h4>@ViewData["Title"]</h4>
        <div class="codes">
            @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
            {
                <code class="left">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="right">@Model.RecoveryCodes[row + 1]</code><br />
            }
            </div>
        </div>
    </div>

