@using SiteTriks.Extentions;

@model ICollection<string>

<div id="widgets-holder" class="clearfix">
    @foreach (var item in Model)
    {
        if (WidgetRegistry.Widgets.ContainsKey(item))
        {
            <div data-type="@item" class="drag">@WidgetRegistry.Widgets[item].DisplayName</div>
        }
    }
</div>
