@model SiteTriks.Models.LicenseGenerationViewModel

@if (User.Identity.IsAuthenticated)
{
    <form class="generate-license-form">
        <span class="text-danger notifier"></span>
        <div class="form-group">
            <label asp-for="Domain"></label>
            <input asp-for="Domain" class="form-control inline-block" autofocus />
            <span asp-validation-for="Domain" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-default">Generate License</button>
            </div>
        </div>
    </form>
}
