@*@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}*@

@section styles{
    <link href="~/css/home-page.css" rel="stylesheet" />
    <link href="~/css/front-end.css" rel="stylesheet" />
}

<div class="sitetriks-wrapper">
    <header>
        <div class="homepage-header" data-block="header">
            <div id="homepage-header" class="header-wrapper header-white">
                <div><input class="try-button" value="TRY NOW" type="button" /></div>
                <div class="logo-container">
                    <div><img class="logo-desktop" src="../../images/LOGO.svg" alt="Sitetriks logo" /></div>
                </div>
                <div class="logo-container-mobile">
                    <div id="hamburger-menu"><img class="hamburger-image" src="../../images/mobile/hamburger menu.svg" alt="menu" /></div>
                    <div class="logo-mobile"><img class="logo-mobile-image" src="../../images/mobile/LOGO_mob.svg" alt="Sitetriks logo" /> <img class="logo-mobile-image" style="display: none;" src="../../images/mobile/LOGO_mob_w.svg" alt="Sitetriks logo" /></div>
                </div>
            </div>
            <div class="header-wrapper header-blue">
                <div class="slogan">Lightning quick .NET MVC5 CMS - Entreprise functionalities, quick, simple and hassel free.</div>
            </div>
        </div>
    </header>
    <div class="main">
        @******************************************************************************************************@
        @**********************************************Mobile View Toggle Menu********************************@
        @******************************************************************************************************@
        <div id="mobile-view-top-menu" class="features-section top-menu">
            <div class="row login-button">
                Log in
            </div>
            <div class="row subscription-form-wrapper">
                <div class="subscription-button">
                    <div>Subscribe now</div>
                </div>
                <div class="form-wrapper" style="display: none;">
                    <form id="subscriptionForm" action="">
                        <label for="name">Name: </label><input type="text" name="name">
                        <label for="email">Emai: </label> <input type="text" name="email">
                        <input type="button" onclick="myFunction()" value="Submit">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="0">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Videos.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Videos_selected.svg" style="display:none;">
                            @*<div class="icon-name">Videos</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="1">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Next.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Next_selected.svg" style="display:none;">

                            @*<div class="icon-name">What's next</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="2">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/SUPPORT.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/SUPPORT_selected.svg" style="display:none;">

                            @*<div class="icon-name">Support and Community</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="3">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/FAQ.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/FAQ_selected.svg" style="display:none;">
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="4">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Contact Us.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Contact Us_selected.svg" style="display:none;">
                            @*<div class="icon-name">Contacts us</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="5">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/License.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/License_selected.svg" style="display:none;">
                            @*<div class="icon-name">Licenses</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="6">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/SUPPORT.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/SUPPORT_selected.svg" style="display:none;">
                            @*<div class="icon-name">Requests</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="7">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Documentation.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Documentation_selected.svg" style="display:none;">
                            @*<div class="icon-name">Documentation</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="8">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Downloads.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Downloads_selected.svg" style="display:none;">
                            @*<div class="icon-name">Downloads</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="9">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/TandC.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/TandC_selected.svg" style="display:none;">
                            @*<div class="icon-name">T&C</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@******************************************************************************************************@
@**********************************************Jumbotron section ********************************@
@******************************************************************************************************@
<div class="jumbotron-section">
    <div class="toggle-menu" data-open-state="closed">
        <div class="features-section">
            <div class="row">
                <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="menu-icon" data-order="0">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Videos.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Videos_selected.svg" style="display:none;">
                        @*<div class="icon-name">Videos</div>*@
                    </div>
                    <div class="menu-icon" data-order="2">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/SUPPORT.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/SUPPORT_selected.svg" style="display:none;">
                        @*<div class="icon-name">Support and Community</div>*@
                    </div>
                    <div class="menu-icon" data-order="4">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Contact Us.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Contact Us_selected.svg" style="display:none;">
                        @*<div class="icon-name">Contact us</div>*@
                    </div>
                    <div class="menu-icon" data-order="6">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Community-and-Partners.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Community-and-Partners_selected.svg" style="display:none;">
                        @*<div class="icon-name">Requests</div>*@
                    </div>
                    <div class="menu-icon" data-order="8">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Downloads.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Downloads_selected.svg" style="display:none;">
                        @*<div class="icon-name">Downloads</div>*@
                    </div>
                </div>
                <div class="middle-section col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="selected-feature" id="floating-section"><div class="feature-content"></div></div>
                </div>
                <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="menu-icon" data-order="1">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Next.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Next_selected.svg" style="display:none;">
                        @*<div class="icon-name">What's next</div>*@
                    </div>
                    <div class="menu-icon" data-order="3">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/FAQ.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/FAQ_selected.svg" style="display:none;">
                    </div>
                    <div class="menu-icon" data-order="5">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/License.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/License_selected.svg" style="display:none;">
                        @*<div class="icon-name">Licenses</div>*@
                    </div>
                    <div class="menu-icon" data-order="7">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Documentation.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Documentation_selected.svg" style="display:none;">
                        @*<div class="icon-name">Documentation</div>*@
                    </div>
                    <div class="menu-icon" data-order="9">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/TandC.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/TandC_selected.svg" style="display:none;">
                        @*<div class="icon-name">T&C</div>*@
                    </div>
                </div>
                @*<div class="col col-lg-1">
                        <div class="toggle-button">
                            <button class="shrank-menu">Toggle!</button>
                            <button class="close-menu">Toggle!</button>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="inline-button">
            <div class="toggle-button">
                <div class="shrink-menu" disabled="true">
                    <div class="leaf-button-text">
                        <div class="letter-1">M</div>
                        <div class="letter-2">E</div>
                        <div class="letter-3">N</div>
                        <div class="letter-4">U</div>
                    </div>
                    <img class="leaf-button-1" style="display: none;" src="~/images/menu-buttons/leaf.png" disabled="true">
                    <img class="leaf-button-2" style="display: none;" src="~/images/menu-buttons/big screen.png" disabled="true">
                    <img class="leaf-button-3" style="display: none;" src="~/images/menu-buttons/Decrease_window.png" disabled="true">
                </div>
                <div class="close-menu" style="display: none;">
                    <img class="arrows-1" src="~/images/menu-buttons/expand arrows.png">
                    <img class="arrows-2" style="display: none;" src="~/images/menu-buttons/Decrease arrows.png">

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-center">

        <div class="dandelion-menu">
        </div>
        <div class="diamond-figure">
            <img src="~/images/Diamond.svg" alt="Diamond figure" />
        </div>
    </div>
</div>
@*<div class="entreprice-features">

    </div>*@
@******************************************************************************************************@
@**********************************************        Middle Menu    ********************************@
@******************************************************************************************************@
<div class="detailed-menu hidden-by-menu">
    <div class="wrapper-detailed-menu">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 before-middle-box"></div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 before-middle-box"></div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="middle-box">
                    <div class="advanced-cms">
                        Advance CMS
                    </div>
                    <div class="entreprise-features">
                        Enterprise Features
                    </div>
                    <div class="entreprise-description">
                        Available with SiteTriks's free basic license.
                    </div>
                    <div class="arrows">
                        <img src="~/images/mobile/shrank.svg" alt="shrank" class="side-arrow main-arrows" />
                        <img src="~/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down main-arrows" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 after-middle-box"></div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 after-middle-box"></div>
        </div>
        <div class="wrapper-menu-items">
            @for (int i = 0; i < 3; i++)
            {
                bool lastClass = false;
                if (i == 2)
                {
                    lastClass = true;

                }
                <div class="row">
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item @{if (lastClass) {<text> third-last </text> } } "></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item fourth-last"></div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-left @{if (lastClass) { <text> last-left </text> } }">
                        @{Html.RenderPartial("MiddleMenuTemplate");}

                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-right @{if (lastClass) { <text> last-right </text> } }">
                        @{Html.RenderPartial("MiddleMenuTemplate");}
                    </div>
                </div>
                            }
        </div>
    </div>
</div>
<div class="technology-list hidden-by-menu">
    <div class="wrapper-technology-list">
        <div class="technology-list-header">
            <div class="row before-header">
                <div class="col col-lg-6 col-md-6 col-sm-6"></div>
                <div class="col col-lg-6 col-md-6 col-sm-6"></div>
            </div>
            <div class="row header">
                <p>Technology & advantages</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-xs-12 technology-description">
                <div class="main-description-mobile-wrapper">
                    <div class="col col-lg-12 col-xs-12 main-description">
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

                        </div>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row toggle-flex-block">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 technology-description">
                <div class="advantages-wrapper">
                    <div class="advantages-block">
                        Advantages
                        <img src="~/images/mobile/shrank.svg" alt="shrank" class="dropdownOne-advantage side-arrow" />
                        <img src="~/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="dropdownOne-advantage arrow-down" />
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 bullets first-column">
                    <ul>
                        <li>Custom modules with access to the core functionality and content.</li>
                        <li>Extensive widget configuration.</li>
                        <li>Dynamic views that do not require page reload.</li>
                        <li>User friendly conted editing eperience.</li>
                        <li>Out of the box error tracking and logging (using Elmah).</li>
                        <li>Full support for custom background support using HangFire.</li>
                        <li>Database first approach for managing and extending database data and structure.</li>
                        <li>Two tier configuration storage</li>
                    </ul>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 bullets second-column">
                    <ul>
                        <li>Quicker load time</li>
                        <li>Simpler and faster development</li>
                        <li>Modular Design</li>
                        <li>Extensibility </li>
                        <li>Custom UI controls</li>
                        <li>Free access to the views (html structure of the front and backend widgets).</li>
                        <li>Resource friendly</li>
                        <li>Sitemap generator following the latest Google’s best practices.</li>
                    </ul>
                </div>
            </div>
            <div class="technology-block">
                Technology
                <img src="~/images/mobile/shrank.svg" alt="shrank" class="dropdownOne-tech side-arrow" />
                <img src="~/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="dropdownOne-tech arrow-down" />
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12 technology-links">
                <div>
                    <div>.NET CORE</div>
                    <div>Entity Framework</div>
                    <div>ASP .NET</div>
                    <div>HTML 5</div>
                    <div>JQuery</div>
                    <div>Bootstrap</div>
                    <div>Ajax</div>
                    <div>Elmah</div>
                    <div>Hagfire</div>
                    <div>SQL and MySQL</div>
                </div>
            </div>
        </div>
    </div>
</div>

@******************************************************************************************************@
@**********************************************  Subscription form ********************************@
@******************************************************************************************************@

<div class="row subscription-form-wrapper .desctop">
    <div class="subscription-button">
        <div>Subscribe now</div>
    </div>
    <div class="form-wrapper" style="display: none;">
        <form id="subscriptionForm" action="">
            <label for="name">Name: </label><input type="text" name="name">
            <label for="email">Email: </label> <input type="text" name="email">
            <label for=""></label>

            <div class="subscription-radio-group">
                <span>I want to receive news from SiteTriks regarding new features and releases.</span>
                <br />
                <label class="radio-inline"><input type="radio" name="features-releases">Yes</label>
                <label class="radio-inline"><input type="radio" name="features-releases">No</label>
            </div>

            <div class="subscription-radio-group">
                <span>I want to receive promotional materials regarding SiteTriks.</span>
                <br />
                <label class="radio-inline"><input type="radio" name="promotional-materials">Yes</label>
                <label class="radio-inline"><input type="radio" name="promotional-materials">No</label>
            </div>

            <input type="button" onclick="myFunction()" value="Submit">
        </form>
    </div>
</div>


@******************************************************************************************************@
@**********************************************  Bottom  Menu********************************@
@******************************************************************************************************@

<div id="desktop-view-menu" class="features-section bottom-menu">
    <div class="row">
        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="menu-icon" data-order="0">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Videos.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Videos_selected.svg" style="display:none">
                @*<div class="icon-name">Videos</div>*@
            </div>
            <div class="menu-icon" data-order="2">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/SUPPORT.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/SUPPORT_selected.svg" style="display:none">
                @*<div class="icon-name">Support and Community</div>*@
            </div>
            <div class="menu-icon" data-order="4">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Contact Us.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Contact Us_selected.svg" style="display:none">
                @*<div class="icon-name">Contact us</div>*@
            </div>
            <div class="menu-icon" data-order="6">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Community-and-Partners.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Community-and-Partners_selected.svg" style="display:none">
                @*<div class="icon-name">Requests</div>*@
            </div>
            <div class="menu-icon" data-order="8">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Downloads.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Downloads_selected.svg" style="display:none">
                @*<div class="icon-name">Downloads</div>*@
            </div>
        </div>
        <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="selected-feature" id="static-section"><div class="feature-content"></div></div>
        </div>
        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="menu-icon" data-order="1">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Next.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Next_selected.svg" style="display:none">
                @*<div class="icon-name">What's next</div>*@
            </div>
            <div class="menu-icon" data-order="3">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/FAQ.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/FAQ_selected.svg" style="display:none">
            </div>
            <div class="menu-icon" data-order="5">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/License.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/License_selected.svg" style="display:none;">
                @*<div class="icon-name">Licenses</div>*@
            </div>
            <div class="menu-icon" data-order="7">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/Documentation.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Documentation_selected.svg" style="display:none">
                @*<div class="icon-name">Documentation</div>*@
            </div>
            <div class="menu-icon" data-order="9">
                <img class="icon-image" src="~/images/toggle-menu-icons/Default/TandC.svg">
                <img class="icon-image" src="~/images/toggle-menu-icons/Selected/TandC_selected.svg" style="display:none">
                @*<div class="icon-name">T&C</div>*@
            </div>
        </div>
    </div>
</div>
@******************************************************************************************************@
@********************************************** Mobile View Bottom ********************@
@******************************************************************************************************@
<div id="mobile-view-menu" class="features-section bottom-menu hidden-by-menu">
    <div class="row">
        <div class="row mobile-rows">
            <div class="col col-lg-1 col-sm-6 col-xs-6">
                <div class="menu-icon" data-order="0">
                    <img class="icon-image" src="~/images/toggle-menu-icons/Default/Videos.svg">
                    <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Videos_selected.svg" style="display:none;">
                    @*<div class="icon-name">Videos</div>*@
                </div>
            </div>
            <div class="col col-lg-1 col-sm-6 col-xs-6">
                <div class="menu-icon" data-order="1">
                    <img class="icon-image" src="~/images/toggle-menu-icons/Default/Next.svg">
                    <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Next_selected.svg" style="display:none;">
                    @*<div class="icon-name">What's next</div>*@
                </div>
            </div>
        </div>
        <div class="row content">
        </div>
        <div class="row">
            <div class="row mobile-rows">
                <div class="col col-lg-1 col-sm-6 col-xs-6">
                    <div class="menu-icon" data-order="2">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/SUPPORT.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/SUPPORT_selected.svg" style="display:none;">
                        @*<div class="icon-name">Support and Community</div>*@
                    </div>
                </div>
                <div class="col col-lg-1 col-sm-6 col-xs-6">
                    <div class="menu-icon" data-order="3">
                        <div class="icon-name icon-fag">FAQ</div>
                    </div>
                </div>
            </div>
            <div class="row content">
                <div class="col col-lg-1 col-sm-6 col-xs-12">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row mobile-rows">
                <div class="col col-lg-1 col-sm-6 col-xs-6">
                    <div class="menu-icon" data-order="4">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/Contact Us.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Contact Us_selected.svg" style="display:none;">
                        @*<div class="icon-name">Contact us</div>*@
                    </div>
                </div>
                <div class="col col-lg-1 col-sm-6 col-xs-6">
                    <div class="menu-icon" data-order="5">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Default/License.svg">
                        <img class="icon-image" src="~/images/toggle-menu-icons/Selected/License_selected.svg" style="display:none;">
                        @*<div class="icon-name">Licenses</div>*@
                    </div>
                </div>
            </div>
            <div class="row content">
                <div class="col col-lg-1 col-sm-6 col-xs-12">
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-6 col-xs-6">
                        <div class="menu-icon" data-order="6">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Community-and-Partners.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Community-and-Partners_selected.svg" style="display:none;">
                            @*<div class="icon-name">Requests</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 col-xs-6">
                        <div class="menu-icon" data-order="7">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Documentation.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Documentation_selected.svg" style="display:none;">
                            @*<div class="icon-name">Documentation</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-6 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-6 col-xs-6">
                        <div class="menu-icon" data-order="8">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/Downloads.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/Downloads_selected.svg" style="display:none;">
                            @*<div class="icon-name">Downloads</div>*@
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 col-xs-6">
                        <div class="menu-icon" data-order="9">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Default/TandC.svg">
                            <img class="icon-image" src="~/images/toggle-menu-icons/Selected/TandC_selected.svg" style="display:none;">
                            @*<div class="icon-name">T&C</div>*@
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-footer">
    <div class="row">
        <div class="col col-lg-1 col-xs-2">
            <a href="#">
                <img src="~/images/up.svg" />
            </a>
        </div>
        <div class="col col-lg-10 col-xs-8">
            <p>Sitetriks - a new generation cms</p>
        </div>
        <div class="col col-lg-1 col-xs-2">
            <a href="#">
                <img src="~/images/up.svg" />
            </a>
        </div>
    </div>
</div>
@*</div>
    </div>*@


@section scripts{
    <script type="text/javascript" src="~/js/notifier.js"></script>
    <script type="text/javascript" src="/js/home-page.js"></script>
}
