@*@{
        ViewBag.Title = "ListedItem";
    }*@

@*@using SiteTriksDemo.Web.Models.HomePage
    @model FeaturesViewModel*@

<div class="tree-item">
    <div class="icon">
        <img src="~/images/icons-svg/Sitesync icon.svg" alt="menu-icon">
    </div>
    <div class="item-header">
        <img src="~/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down item-arrow" />
        <img src="~/images/mobile/side arrow dark.svg" alt="shrank" class="side-arrow item-arrow" />
        Envirement sync
    </div>
    <div class="item-body">
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
        </p>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum
        </p>
    </div>
</div>

