<div class="features-section bottom-menu">
    <div class="row">
        <div class="row mobile-rows">
            <div class="col col-lg-1 col-sm-2 col-xs-6">
                <div class="menu-icon" data-order="0">
                    <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Video icon.svg">
                    <div class="icon-name">Videos</div>
                </div>
            </div>
            <div class="col col-lg-1 col-sm-2 col-xs-6">
                <div class="menu-icon" data-order="1">
                    <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Next.svg">
                    <div class="icon-name">What's next</div>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col col-xs-12">
                <div class="selected-feature" id="static-section">
                    <div class="feature-content"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row mobile-rows">
                <div class="col col-lg-1 col-sm-2 col-xs-6">
                    <div class="menu-icon" data-order="2">
                        <img class="icon-image" src="~/Content/Images/toggle-menu-icons/SUPPORT ICON.svg">
                        <div class="icon-name">Support</div>
                    </div>
                </div>
                <div class="col col-lg-1 col-sm-2 col-xs-6">
                    <div class="menu-icon" data-order="3">
                        <div class="icon-name icon-fag">FAQ</div>
                    </div>
                </div>
            </div>
            <div class="row content">
                <div class="col col-lg-1 col-sm-2 col-xs-12">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row mobile-rows">
                <div class="col col-lg-1 col-sm-2 col-xs-6">
                    <div class="menu-icon" data-order="4">
                        <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Email Blue.svg">
                        <div class="icon-name">Email</div>
                    </div>
                </div>
                <div class="col col-lg-1 col-sm-2 col-xs-6">
                    <div class="menu-icon" data-order="5">
                        <img class="icon-image" src="~/Content/Images/toggle-menu-icons/License.svg">
                        <div class="icon-name">Licenses</div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="6">
                            <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Phone Icon.svg">
                            <div class="icon-name">Phone</div>
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="7">
                            <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Documentation.svg">
                            <div class="icon-name">Documentation</div>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="8">
                            <img class="icon-image" src="~/Content/Images/toggle-menu-icons/Combined Shape.svg">
                            <div class="icon-name">Downloads</div>
                        </div>
                    </div>
                    <div class="col col-lg-1 col-sm-2 col-xs-6">
                        <div class="menu-icon" data-order="9">
                            <img class="icon-image" src="~/Content/Images/toggle-menu-icons/TandC.svg">
                            <div class="icon-name">T&C</div>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>