@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Welcome to SiteTriks";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="registerForm">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>Welcome to SiteTriks CMS Initialization</div>
                        </div>
                        <a class="btn" asp-action="RegisterUser">Create your site</a>

                        @if (hostingEnv.EnvironmentName == "Development")
                        {
                            <a class="btn" id="dev-button" asp-action="DefaultDeveloperSetup">Create default site</a>
                            <p class="centered">Email: admin@mail.com</p>
                            <p class="centered">Password: 12345qQ!</p>
                        }
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>
@section Scripts {
    <script src="~/js/loader.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/restart-app.js"></script>
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
    <script>
        $('#dev-button').on('click', (e) => {
            Loader.show('#fff', "/images/LOGO.png");
            e.preventDefault();
            let formData = new FormData();

            let url = '@Url.Action("DefaultDeveloperSetup", "Setup")';

            Data.postForm({ url: url, formData: formData }).then((res) => {
                if (res.success) {
                    handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                }
                else {
                    Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                    Loader.hide();
                }
            }, (res) => { console.log(res); });
        });
    </script>
}