@{
    ViewData["Title"] = "Welcome to SiteTriks";
}


<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    <div id="registerForm">
                        <div class="register-form-container">
                            <img src="~/images/Sitetriks_logo.svg" />
                        </div>
                        <h3>Welcome to SiteTriks CMS Initialization</h3>
                        <a class="btn" style="margin-left: 30%; float: none;" asp-action="RegisterUser">Create your site</a>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>