@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Welcome to SiteTriks";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div id="registerForm">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>Welcome to SiteTriks CMS Initialization</div>
                        </div>
                        <a class="btn" id="create-site-btn">Create site</a>

                        @if (hostingEnv.EnvironmentName == "Development")
                        {
                            <div class="default-settings-checkbox">
                                <label class="checkbox-container">
                                    &nbsp;
                                    <span class="checkmark-border">
                                        <input class="filter" data-type="checkbox" id="default-site-checkbox" data-identifier="AvailableInPhysicalStore" data-field="base" type="checkbox">
                                        <span class="checkmark"></span>
                                    </span>
                                </label>
                                <span>Use default settings</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="image-holder col col-lg-8 col-md-8 col-sm-8">
                    <div class="login-image-container"></div>
                </div>
            </div>
        </div>
    </content>
</div>
@section Scripts {
    <script src="~/js/loader.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/restart-app.js"></script>
    @*<script type="text/javascript" src="~/js/login-image-select.js"></script>*@

    <script>
        @*$('#dev-button').on('click', (e) => {
            Loader.show('#fff');
            e.preventDefault();
            let formData = new FormData();

            let url = '@Url.Action("DefaultDeveloperSetup", "Setup")';

            Data.postForm({ url: url, formData: formData }).then((res) => {
                if (res.success) {
                    handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                }
                else {
                    Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                    Loader.hide();
                }
            }, (res) => { console.log(res); });
        });*@

        $('#create-site-btn').on('click', (e) => {
            if ($("#default-site-checkbox").is(':checked')) {
                e.preventDefault();
                Loader.show('#fff');
                let formData = new FormData();

                let url = '@Url.Action("DefaultDeveloperSetup", "Setup")';

                Data.postForm({ url: url, formData: formData }).then((res) => {
                    if (res.success) {
                        handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                    }
                    else {
                        Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                        Loader.hide();
                    }
                }, (res) => { console.log(res); });
            } else {
                $('#create-site-btn').attr('href', '/setup/registeruser');
            }
        });
    </script>
}