@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Welcome to SiteTriks";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    <div id="registerForm">
                        <div class="register-form-container">
                            <img src="~/images/Sitetriks_logo.svg" />
                        </div>
                        <h3>Welcome to SiteTriks CMS Initialization</h3>
                        <a class="btn" style="margin-left: 30%; float: none;" asp-action="RegisterUser">Create your site</a>

                        @if (hostingEnv.EnvironmentName == "Development")
                        {
                            <a class="btn" style="margin-left: 30%; float: none;" id="dev-button" asp-action="DefaultDeveloperSetup">Create default site</a>
                            <p class="centered">Email: admin@mail.com</p>
                            <p class="centered">Password: 12345qQ!</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>
@section Scripts {
    <script src="~/js/loader.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/restart-app.js"></script>
    <script>
        $('#dev-button').on('click', (e) => {
            Loader.show('#fff', "/images/LOGO.png");
            e.preventDefault();
            let formData = new FormData();

            let url = '@Url.Action("DefaultDeveloperSetup", "Setup")';

            Data.postForm({ url: url, formData: formData }).then((res) => {
                if (res.success) {
                    handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                }
                else {
                    Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                    Loader.hide();
                }
            }, (res) => { console.log(res); });
        });
    </script>
}