@model SiteTriks.Models.Setup.DomainNameViewModel

@{
    ViewData["Title"] = "Register site domain";
}


<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div id="registerForm">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>@ViewData["Title"]</div>
                        </div>
                        <form method="post" class="clearfix">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="DomainName"></label>
                                <input asp-for="DomainName" class="form-control" />
                                <span asp-validation-for="DomainName" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Register</button>
                        </form>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>

@section Scripts {
    @*<script type="text/javascript" src="~/js/login-image-select.js"></script>*@
}