@model SiteTriks.Models.Setup.UserViewModel

@{
    ViewData["Title"] = "Register Site Administrator";
}


<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="registerForm">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div>@ViewData["Title"]</div>
                        </div>
                        <form method="post" class="clearfix">
                            @*<h4>Create a new account.</h4>*@
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <div class="st-hint">
                                    <input asp-for="Password" class="form-control" type="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span class="st-tooltip">Password must be ateast 6 symbols and must contain special symbol, uppercase letter and digit.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Register</button>
                        </form>
                    </div>
                </div>
                <div class="image-holder col col-lg-9 col-md-9 col-sm-9">
                    <img class="login-image" src="" alt="login image" />
                </div>
            </div>
        </div>
    </content>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/login-image-select.js"></script>
}
