@model List<string>
@{
    ViewData["Title"] = "Upload your license file.";
}


<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div id="alerts"></div>
                    <div id="uploadLicense">
                        <div class="login-logo-container">
                            <img src="~/images/homepage/Login.svg" />
                            <div class="upload-license-title">@ViewData["Title"]</div>
                        </div>
                        <form asp-action="UploadLicense" method="post" class="clearfix" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @*<div class="file-handler-container file-handler-Upload">*@
                            <div>
                                <div class="upload-container-license">
                                    <div id="drop-area-license">
                                        <div class="drop-info-btn">
                                            <a class="uppercase">
                                                <input id="license-file" class="input-files" type="file" name="file" />
                                                <label class="license-file-label" for="license-file">
                                                    <img src="~/images/import_icon.svg" />
                                                    Import/Browse
                                                </label>
                                            </a>
                                        </div>
                                        <div class="drop-info-text">
                                            <span class="">Drag and drop file here.</span>
                                        </div>
                                        <div class="max-size">
                                            <p>Maximum upload size: <strong>100MB</strong></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @*</div>*@
                            <p class="selected-file alert"></p>
                            <div class="upload-license-buttons">
                                <button type="submit" class="btn btn-default btn-license">Upload another license file</button>
                                @if (Model != null)
                                {
                                    <button id="continue" class="btn btn-default btn-license">Continue</button>
                                }
                            </div>

                        </form>
                        @if (Model != null)
                        {
                            <h3>Applied licenses:</h3>
                            <div class="domain-container">
                                <ul class="domain-ul">
                                    @foreach (var item in Model)
                                    {
                                        <li>- @item</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <div class="image-holder col col-lg-8 col-md-6 col-sm-12">
                    <div class="login-image-container"></div>
                </div>
            </div>
        </div>
    </content>
</div>

@section Scripts {
    <script src="~/js/loader.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/restart-app.js"></script>
    @*<script type="text/javascript" src="~/js/login-image-select.js"></script>*@
    <script>
        $('input[type=file]').change(function (e) {
            $in = $(this);
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '')
            $('.selected-file').addClass('alert-success');
            $('.selected-file').html("Selected file:" + filename);
        });

        $('button[type=submit]').on('click', (e) => {
            Loader.show('#fff');
            e.preventDefault();
            let formData = new FormData();
            let licenseFile = $('#license-file')[0].files[0];
            formData.append('file', licenseFile);

            let url = '@Url.Action("UploadLicense", "Setup")';

            Data.postForm({ url: url, formData: formData }).then((res) => {
                if (res.success) {
                    handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                }
                else {
                    Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                    Loader.hide();
                }
            }, (res) => { console.log(res); });
        });

        $('#continue').on('click', (e) => {
            Loader.show('#fff');
            e.preventDefault();
            let url = '@Url.Action("RestartWithLicense", "Setup")';

            Data.getJson({ url: url }).then((res) => {
                if (res.success) {
                    handleAppRestart({ url: '/Account/Login?ReturnUrl=%2Fsitetriks' });
                } else {
                    Notifier.createAlert({ containerId: '#alerts', message: res.message, status: 'danger' });
                    Loader.hide();
                }
            });
        })

    </script>
}