@model SiteTriks.Extensions.WidgetModels.LayoutBuilderWidgetModel

@if (Model.IsPreview)
{
    <div class="preview-placeholder" data-identifier="@Model.Id">
        @await Html.PartialAsync("~/Areas/SiteTriks/Views/Shared/WidgetControl.cshtml", model: Model)

        <div>
            @await Component.InvokeAsync("LayoutBuilderWidget", new { area = "", element = Model.Element, isAmp = Model.IsAMP, innerContent = Model.InnerContent, preview = true, lang = Model.Language })
        </div>

        <input id="layout-element-holder" type="text" value="@Model.Element" hidden="hidden" />
    </div>
}
else
{
    <div>
        @await Component.InvokeAsync("LayoutBuilderWidget", new { area = "", element = Model.Element, isAmp = Model.IsAMP, innerContent = Model.InnerContent, preview = false, lang = Model.Language })
    </div>
}
