
/*---------------------------------------------------------------------*/
/* Dashboard widget table*/
/* Dashboard view containers*/

.dashboard-wrapper {
    .dashboard-conten-column {
        padding: 0 5px;
        float: left;
    }
}

.dashboard-content {
    height: 100vh;
    width: 100vw;

    > .row {
        background: #d5d5d5;
        overflow-y: auto;
        height: 100%;
        padding: 160px 20px 0 45px;
        margin: 0;
    }
}

/*2. Dashboard Table styles*/

.dashboard-table {
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

    .panel {
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 4px;
    }

    .panel-heading-landing {
        padding: 7px 0 3px 0;
        color: black;
        background: white;
        border-bottom: 2px solid #979797;
        position: relative;
        border-radius: 4px 4px 0 0;

        h1 {
            display: inline-block;
            margin-left: -20px;
            color: black;
            font-size: 12px;
        }

        img {
            display: inline-block;
            display: inline-block;
            float: left;
            width: 18px;
            margin-top: 0px;
            height: auto;
            margin-left: 1%;
        }

        .btn-dashboard-widget-header {
            padding: 0;
            color: #337ab7;
            text-decoration: none;
            font-size: 14px;
        }
    }

    .panel-heading-landing-box {
        background: #254c8f;
        color: #fff;
        font-size: 16px;
        padding: 3px;
        border: solid 1px #19468B;
    }

    .panel-title-landing {
        color: #454545;
        font-size: 16px;
        font-weight: bold;
    }

    .panel-body-landing {
        border-top: none;
        border-bottom: none;
        height: 405px;
        overflow-y: auto;
        padding: 0;

        select {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .table tbody tr td:nth-of-type(1) {
            text-align: left;
        }
    }
}

.dashboard-items-table {
    width: 100%;

    tr td {
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #efefef;
    }

    .scheduled-item-name {
        text-align: left;
    }

    .scheduled-item-date {
        text-align: right;
    }
}

.dashboard-wrapper {
    margin-top: 0;

    > .row {
        margin: 0;
    }
}

/**********************/

.dashboard-table {
    .panel-footer-landing {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;
        border-radius: 0 0 4px 4px;
    }
}

.dashboard-widget {
    width: 33%;
    display: inline-block;
}

/*Dashboard - Google Analyrics styles*/

.google-analytics.dashboard-widget {
    width: 66%;
    display: inline-block;
}

.google-analytics {
    .dashboard-table {

        .panel-heading-landing {
            background: none;
            background-color: rgba(0, 0, 0, 0);
            text-align: center;

            img {
                margin-top: 0;
                margin-left: 2%;
            }
        }

        .panel-body-landing {
            padding: 20px;
            height: 385px;
            color: #a2a2a2;
        }
    }

    .panel.panel-primary {
        margin: 0 0 10px 0;
    }

    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
}

@media(max-width: 970px) {
    .dashboard-widget {
        width: 48%;
    }

    .google-analytics.dashboard-widget {
        width: 96%;
    }

    .dashboard-content > .row {
        padding: 90px 3% 0 7%;
    }
}