.navigation-widget.widget-container {
    input.form-control, .multiselect, #template-selector {
        width: 250px;
    }
}

.widget-container {
    input.form-control, .multiselect, #template-selector {
        width: 250px;
    }

    /*To move*/
    #video-source {
        width: 250px;
    }
}
