.sitemap-container {
    h4 {
        text-align: center;
        color: #717171;
        font-family: LucidaGrande;
        font-weight: 600;
        margin-top: 6%;
        margin-bottom: 5%;
    }

    .panel {
        border: 1px solid #979797;
        border-radius: 4px;

        .panel-heading {
            background-color: #c9c9c9;
            border-color: #979797;
            padding: 20px 0 1% 3%;
            border-bottom: 1px solid #979797;

            .btn {
                display: inline-block;
                width: 100px;
                /*padding-top: 2px;
                padding-bottom: 2px;*/
                border-radius: 3px;
                border: solid 0.6px #7d7d7d;
                background-color: #529ce4;
                color: #fff;
            }

            .schedule {
                display: inline-block;
                float: right;
                width: 20%;
                min-width: 300px;
                font-weight: 600;

                select {
                    display: inline-block;
                    width: 60%;
                    background-color: #e5e5e5;
                    color: #a7a7a7;
                    border: solid 1px #979797;
                }

                .btn {
                    margin-right: 5px;
                    font-weight: 600;
                }
            }


            .export {
                display: inline-block;
                width: 200px;
            }
        }

        .sitemap-inner-container {
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 3%;

            .grid-header {
                .buttons-header {
                    display: none;
                }
            }
        }
    }

    .first-header-row {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 20px;

        .search-icon-wrapper {
            width: 25px !important;
            line-height: 26px !important;
        }

        .btn {
            padding: 4px 7px;
            line-height: 6px;
            margin-right: 5px;
            font-size: 14px;
            background-color: #979797;
            color: #f8f8f8;
        }
    }

    .export {
        .btn {
            font-weight: bold;
            min-width: 70px;
        }
    }
}

.doc-icon-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;

    img {
        height: 20px;
    }
}
