
.wrapper-contact-form {
    background-color: #6d92cd;
    margin: 20px;


    .contact-us-widget.main-container {
        border: solid 1px #d8d8d8;
        padding: 20px 35px;
        background: #6d92cd;
    }

    .contact-us-widget {
        width: 100%;
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        .slogan {
            min-height: 250px;
            padding-top: 70px;

            p {
                font-family: Avenir;
                font-size: 36px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;

                :nth-child(1) {
                    display: inline-block;
                    margin-bottom: 40px;
                }

                :nth-child(2) {
                    font-family: Montserrat;
                    font-size: 28px;
                }
            }
        }

        .border-wrapper {
            border: solid 1px #d8d8d8;
            background-image: url('/SiteTriks/StaticFiles/images/contact-us/Contact-background.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }

        .contact-options {
            display: flex;
            justify-content: space-around;
            margin: 0 10%;
            padding-top: 100px;
            /*min-height: 350px;*/
            .phone-contact,
            .mail-contact {
                height: 118px;
                width: 30%;
                background-color: #123e7a;
                border: solid 2px #ababab;
                display: flex;
                align-items: center;
                justify-content: center
            }

            .phone-contact:hover,
            .mail-contact:hover {
                background-color: #375a96;
                border: solid 2px #3d70ca;
            }
        }
    }
}

/*Sub menus*/
.expanded-contacts {
    background-color: #3876cf;
    height: 480px;

    .go-back-to-menu {
        height: 55px;
        display: flex;
        flex-wrap: nowrap;

        img {
            width: 80px;
            height: 63px;
        }

        div:nth-child(2) {
            font-family: Montserrat;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: normal;
            color: #ffffff;
            background-color: #3876cf;
            height: 55px;
            width: 100%;
            margin-top: 4px;
            display: flex;
            align-items: center;
            margin-left: auto;
            justify-content: center;
            background-color: #123e7a;
        }
    }

    .contacts-content-main {
        height: 100%;
        margin: auto;
        background-color: white;
        padding-top: 10%;
        background-color: #6d92cd;
        border: solid 1px #d8d8d8;
        margin-top: 15px;

        .contacts-content-centered {
            height: 270px;
            border: none;
            padding-left: 15%;
            padding-right: 5%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;

            p {
                font-family: Montserrat;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #123e7a;
            }

            .list-of-regions {
                width: 39%;
                cursor: context-menu;

                ul {
                    border: solid 3px #3876cf;
                    width: 100%;
                    height: 230px;
                    list-style: none;
                    padding-left: unset;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #123e7a;
                    background-color: white;
                }

                li {
                    padding-left: 15px;
                }

                .selected-region {
                    background: #213755;
                    color: white;
                }

                p {
                    min-height: 38px;
                }
            }

            .list-of-contacts {
                width: 50%;

                ul {
                    border: solid 3px #3876cf;
                    width: 100%;
                    height: 230px;
                    list-style: none;
                    padding-left: unset;
                    padding-left: 15px;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #123e7a;
                    padding-top: 20px;
                    padding-left: 30px;
                    background-color: white;
                }

                p {
                    min-height: 38px;
                }

                li {
                    margin-bottom: 20px;

                    img {
                        width: 15px;
                        margin-right: 10%;
                    }
                }
            }

            .social-media {
                ul {
                    list-style: none;
                }

                li {
                    img {
                        width: 36px;
                        height: auto;
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
    /* Form styles*/
    .contacts-content-form {
        height: 100%;
        margin: auto;
        background-color: white;
        padding: 2% 10% 1% 10%;
        background-color: #6d92cd;
        border: solid 1px #d8d8d8;
        margin-top: 15px;

        p {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #123e7a;
        }

        .col-md-6 {
            input {
                max-width: unset;
                width: 90%;
                height: 32px;
                margin-bottom: 20px;
            }
            /*To add when a a region is selected*/
            select {
                max-width: unset;
                width: 90%;
                height: 32px;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: left;
                color: #123e7a;
                margin-bottom: 50px;
            }
        }

        .col-md-11 {
            textarea {
                max-width: unset;
                width: 90%;
                min-height: 200px;
            }
        }

        .col-md-1 {
            .btn-submit {
                height: 80px;
                width: auto;
                margin-top: 150px;
            }
        }
    }
}



/*====================================================*/
/*==========Contact us responsive==================*/
/*====================================================*/

/*Responsive*/

@media (max-width: 1000px) {

    /*Contact us widget*/
    .contact-us-widget {
        .slogan {
            padding-top: unset;

            p {
                font-size: 30px;
            }
        }
    }

    .contacts-content-form {
        #saveForm {
            height: 60px;
        }
    }

    .expanded-contacts {
        .contacts-content-main {
            padding-top: 20%;

            .contacts-content-centered {
                padding-left: 5%;
                padding-right: 3%;

                p {
                    font-size: 14px;
                }

                .list-of-contacts ul {
                    font-size: 14px;
                    padding: 3px;
                }

                .list-of-regions ul {
                    font-size: 14px;
                    padding: 3px;

                    li {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }

                .social-media ul {
                    padding: 0;
                }
            }
        }
    }

    .go-back-to-menu div:nth-child(2) {
        font-size: 16px;
    }
}

@media (max-width: 640px) {

    /*Contact us widget responsive design*/

    .wrapper-contact-form {
        margin: 0;

        .contact-us-widget.main-container {
            padding: 0;
        }

        .contact-us-widget {
            .slogan {
                p, p:nth-child(2) {
                    font-size: 30px;
                }
            }
        }

        .contact-options {
            .phone-contact, .mail-contact {
                width: 40%;
            }
        }

        .contacts-content-form {
            #saveForm {
                height: 40px;
                margin-left: -10px;
            }
        }
    }

    .expanded-contacts {
        .contacts-content-form .col-md-1 .btn-submit {
            margin-top: 190px;
        }

        .contacts-content-main {
            padding-top: 20%;

            .contacts-content-centered {
                padding-left: 5%;
                padding-right: 3%;

                .list-of-contacts ul,
                .list-of-regions ul {
                    font-size: 14px;
                    padding: 3px;
                }
            }
        }
    }

    .go-back-to-menu div:nth-child(2) {
        font-size: 14px;
    }
}

@media (max-width: 540px ) {

    /*Contact us page responsive*/
    /*Main page*/

    .contact-us-widget {
        .slogan {
            p,
            p:nth-child(2) {
                font-size: 20px;
            }
        }
    }

    .expanded-contacts {
        .contacts-content-main {
            padding-top: 30%;
            /*Phone*/
            .contacts-content-centered {
                .list-of-contacts {
                    li img {
                        width: unset;
                        margin-right: 5%;
                    }
                }

                .list-of-regions li {
                    padding-left: unset;
                }

                .social-media {
                    margin-top: 50px;

                    li img {
                        width: 25px;
                        height: auto;
                        margin-bottom: 35px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
