@model SiteTriks.Models.DashboardWidgets.DashboardLastScheudledWidgetViewModel

<div class="text-center">
    <div>
        <div class="dashboard-table">
            <div class="panel panel-primary" style="border: none;">
                <div class="controle-header panel-heading panel-heading-landing">
                    <img src="~/images/dragable.svg">
                    <h1 class="panel-title panel-title-landing">
                        Scheduled pages
                    </h1>
                </div>
                @*<div class="controle-panel-heading panel-heading panel-heading-landing-box">
                    Shows pages and news which will be published in 48 hours
                </div>*@
                <div class="panel-body panel-body-landing">
                    @if (Model.ScheduledItems.Any(n => n.Type == "Page"))
                    {
                        <h5>Pages</h5>
                        <table class="dashboard-items-table">
                            @foreach (var item in Model.ScheduledItems)
                            {
                                if (item.Type == "Page")
                                {
                                    <tr>
                                        <td class="scheduled-item-name">
                                            <b>@item.Title</b>
                                        </td>
                                        <td class="scheduled-item-date">
                                            <b>@String.Format("{0:yyyy-MM-dd  H:mm}", item.DateToBePublished)</b>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <h5>No scheduled pages</h5>
                    }

                </div>
                @*<div class="panel-footer panel-footer-landing">
                </div>*@
            </div>
        </div>
    </div>
</div>
