<div class="modal fade" id="upload-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Files</h4>
            </div>
            <div id="file-handler-notfier"></div>
            <div id="upload-file">
                <div id="upload-container">
                </div>
                <div id="files-container">
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" id="btn-submit-images">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>
