
@font-face {
    font-family: MontserratBold;
    src: url("/fonts/Montserrat-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: DashDigital;
    src: url("/fonts/Dash_Digital-7.ttf");
    font-display: swap;
}
