/*--------------------------------------------------------------------
 Selected site
--------------------------------------------------------------------*/

.selected-site {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    font-size: 12px;
    color: white;
    font-weight: 400;
    border: none;
    padding-left: 22px;
    padding-right: 10px;
    cursor: pointer;
    max-width: 150px;
    margin-top: 0px;

    span:nth-of-type(1) {
        display: block;
        height: 26px;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
        line-height: 24px;
        padding-right: 5px;
        font-weight: bold;
        color: #b5b5b5;
    }

    span:nth-of-type(2) {
        margin-left: 10px;
        position: absolute;
        top: 10px;
        right: 0;
        border-top: 4px dashed;
        border-top: 4px solid #b5b5b5;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
}

.multisite-select-wrapper {
    position: absolute;
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 15px;
    border: 1px solid gray;

    .fa-times {
        float: right;
    }

    .select-dropdown {
        margin-top: 50px;
    }

    #submit {
        margin-top: 10px;
    }
}

/*Full page view styles*/

.multisite-select select{
    width: 30%;
}

/*--------------------------------------------------------------------
 Create Multisite
--------------------------------------------------------------------*/

.multisite-site-settings input {
    width: 30%;
}