
/*Page edit checkbox line-height fix*/

/* create edit page */
.custom-checkbox {
    width: 20px;
    height: 20px;
    transform: scale(1.2);
}

.page-properties {

    label {
        color: #676767;
        font-size: 1.1em;
    }

    .form-group {
        line-height: 34px;
    }

    div[class*='col-'] {
        padding: 0;
    }

    .form-control, .multiselect {
        width: 400px;
        max-width: inherit;
        z-index: 1;
        border: 1px solid #ced4da;

        ul {
            width: 100%;
        }
    }

    .description-row > div[class*='col-'] {
        padding: 0;
    }

    .content-field {
        height: 350px;
    }

    .date-picker-group {
        width: 400px;

        > input {
            width: 450px;
        }

        > span {
            width: 50px;

            :hover {
                border-color: #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                cursor: pointer;
            }
        }
    }
    /*Hints special styles*/
    .st-hint:after {
        font-size: 12px;
        background-color: #96BAC8;
    }

    .input-group-addon {
        position: absolute;
        right: -65px;
    }

    .content-field {
        display: inline-block;
    }

    #description-symbol-counter {
        margin-left: 10px;
    }

    .properties-container-wrapper {
        max-width: 750px;
        padding: 3% 5%;
        background-color: #ececec;
        border-radius: 5px;
        border: solid 1px #979797;

        span.input-group-addon {
            background-color: #ececec;
        }

        .btn-group {
            width: 100%;
        }
    }
}

.seo-toggle-button {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: normal;
    color: #676767;
    cursor: pointer;
    margin-bottom: 3em;
    span {
        margin-right: 10px;
    }
}

.seoFeaturesContainer {
    line-height: 2.4em;

    label {
        font-size: 1.1em;
        line-height: 1.2em;
    }

    .keywords-warpper {
        padding: 0;
    }

    .st-hint::after {
        font-size: 12px;
        background-color: #96BAC8;
    }

    #seo-words-counter {
        position: absolute;
        right: -70px;
        top: 36px;
    }

    .options-container {
        max-width: 760px;
        padding: 2%;
        border-radius: 5px;
        color: #ffffff;
        margin-top: 40px;

        data-fields {
            padding: 2%;
        }


        img {
            width: 80%;
            height: auto;
            margin-bottom: 30px;
        }

        .title {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 600;
            text-align: center;
        }
    }

    .options-container.twitter-container {
        background-color: #44a5ef;
        min-height: 300px;

        .form-group {
            margin-bottom: 2rem;
        }
    }

    .options-container.open-graph-container {
        background-color: #84acdd;
    }
}

#mlf-info .form-control {
    width: 400px;
    max-width: unset;
}

#seo-words {
    margin-right: 10px;
}
