
/* Hints/ Tooltips for Page builder */

.css-js-container {
    .tooltip-preview-wrapper .st-hint {
        transform: translate(-50%, -32px);
    }
}

.css-js-container div.preview-placeholder:last-of-type {
    border-bottom: 1px dashed #2c7fc5;
}

.tooltip-preview-wrapper {
    position: relative;
    z-index: 100;
    /*.st-info {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &::after {
            content: '?';
            background: #008CFF;
            border-radius: 50%;
            cursor: pointer;
            padding: 0 7px 0 6px;
            font-weight: bold;
            color: #fff;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
        }

        &:hover::after {
            color: #000;
        }
    }*/
    .st-hint {
        background-image: url('/SiteTriks/StaticFiles/images/page-builder/eye.svg');
        background-size: cover;
        width: 30px;
        height: 31px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -25px);

        > span.st-tooltip {
            display: none;
            position: absolute;
            border: 1px solid black;
            padding: 10px;
            background: #eee;
            bottom: 100%;
            left: -100px;
            width: 100%;
            min-width: 300px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
            z-index: 100000;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        &:hover > span.st-tooltip {
            display: block;
        }
    }
}


.template-content {
    .layout-content.container-fluid {
        padding: 0;
    }

    .row {
        /*min-height: 100px;*/
    }

    .css-js-container {
        .tooltip-preview-wrapper {
            display: block;
        }
    }

    .tooltip-preview-wrapper {
        display: none;
    }

    .preview-wrapper-full-size {
        display: block;
    }

    .st-col-lg-1, .st-col-md-1, .st-col-sm-1, .st-col-xs-1,
    .st-col-lg-2, .st-col-md-2, .st-col-sm-2, .st-col-xs-2,
    .st-col-lg-3, .st-col-md-3, .st-col-sm-3, .st-col-xs-3 {
        .widget-name-label {
            display: none;
        }

        .widget-control {
            min-height: 100px;
            position: relative;
        }

        .lock-label {
            position: absolute;
            top: 76px;
            left: 0;
        }

        .tooltip-preview-wrapper {
            display: block;
        }

        .preview-wrapper-full-size {
            display: none;
        }
    }
}
