/*--------------------------------------------------------------------*/

/*create edit thumbnails*/

.thumbnail-wrapper {
    position: relative;
    display: inline-block;
    margin: 15px;

    .thumbnail-image-delete {
        position: absolute;
        cursor: pointer;
        background-color: rgb(74, 144, 226);
        width: 18px;
        height: 18px;
        top: 15px;
        right: 14px;
        z-index: 10;
        line-height: 20px;
        padding-left: 2px;
        color: white;
    }

    .thumbnail-image-delete {
        .fa {
            top: 0;
        }
    }

    .image-container {
        width: 220px;
        height: 200px;
        border: 1px solid #979797;
        border-radius: 3px;

        img {
            width: 100%;
            height: 170px;
        }

        .title {
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
}

/*--------------------------------------------------------------------*/
/*create edit libraries and thumbnail sizes*/

#create-library-form {
    .control-label {
        font-family: OpenSans;
        font-weight: 600;
        color: #484848;
        margin-right: 10%;
    }
}
.edit-library-form {
    .control-label {
        font-family: OpenSans;
        font-weight: 600;
        color: #484848;
        margin-right: 10%;
    }
}
#multiselect-sizes {
    width: 600px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
}

.display-add-form {
    color: #00aeff;
    cursor: pointer;
    font-family: OpenSans;
}

#create-thumbnail-size {
    border: 1px solid gray;
    color: white;
    background-color: #00aeff;
    padding: 10px 20px 10px 20px 10px;
    border-radius: 7px;
    font-weight: bold;
    float: right;
    margin-right: 30%;
}

#size-type {
    margin-left: 0;
}

#multiselect-thumbnails {
    height: 0;
}

.thumbnails-label-container {
    width: 290px;
    padding-left: 30px;
    display: inline-block;
    /*line-height: 15px;*/
    input[type="checkbox"] {
        top: -2px;
    }

    :hover input {
        background-color: #e8e8e8;
    }

    label {
        width: auto;
        display: inline-block;
        font-family: OpenSans;
        font-weight: lighter;
        color: #484848;
    }

    .fa {
        float: right;
        padding-right: 20px;
        line-height: 28px;
        font-size: 14px;
        color: #bbbbbb;
    }

    :hover .fa {
        color: #484848;
    }
}

.thumbnails-label-container:hover {
        background-color: #e8e8e8;
    
}

#allowed-types {
    width: 500px;
    margin-left: 17%;
    margin-bottom: -15px;
    display: block;
    font-size: 14px;
    margin-right: -3%;
    font-family: OpenSans;
}


/*********************************************************************
    Delete thumbnail sizes popup
**********************************************************************/
.delete-popup-wrapper.delete-thumbnail-size {
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.delete-popup-wrapper {
    #delete-thumbnail-size {
        margin-top: 25px;
        margin-right: 30px;
    }

    #cancel-delete {
        margin-top: 25px;
    }
}
.libraries-wrapper {
    .form-control, .multiselect {
        width: 600px;
        max-width: unset;
        z-index: 1;
        border: 1px solid #ced4da;

        ul {
            width: 100%;
        }
    }

    .page-properties .row {
        flex-wrap: nowrap;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .create-thumbnail-size-form {
        .control-label {
            margin-right: 120px
        }
    }
}
.thumbnail-lable {
    margin-right: 10%;
}


