
.page-properties {

    .group-title {
       margin-bottom: 50px;
    }

    #title {
        display: inline-block;
    }
}

.user-groups {
    .transfer-controller {
        padding-top: 70px;
       
    }
    .groups-list-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
        line-height: 14px;
    }

    select {
        min-width: 150px;
        padding: 15px;
        font-weight: 600;
    }
}

@media (max-width: 1500px) {
    .user-groups {
        width: 90%;
    }
}
