@model SiteTriks.Models.News.NewsModel

@{
    var url = "/news/" + Model.Url;
}

<div>
    <div class="testimonial">
        @*<a href="@url">*@
        <a>
            <div class="testimonial-description testimonial-description-modified">
                <p id="show-@Model.Id">
                </p>
            </div>

            <div class="testimonial-image">
                @if (!string.IsNullOrEmpty(Model.MainImageUrlID))
                {
                    <img class="round" src="/files/id/@Model.MainImageUrlID" alt="image">
                }
                <h4>@Model.Title</h4>
            </div>
        </a>
    </div>
</div>
