@model SiteTriks.Models.News.NewsModel

@{ 
    string attributes = string.IsNullOrWhiteSpace(Model.MainImageUrlID) ? "" : $"style=\"background-image: url('/files/id/{Model.MainImageUrlID}'); background-size: cover; border-color:transparent; \"";
}

<div class="testimonial news-carousel-item" @Html.Raw(attributes)>
    <div class="news-description-wrapper">
        <div class="news-description">
            <h4>@Model.Title</h4>
            <div class="news-carousel-content">@Html.Raw(Model.Content)</div>
            <a class="read-more">Read More...</a>
        </div>
    </div>
</div>
