<div class="google-analytics google-analytics-browsers">
    <div class="text-center">
        <div>
            <div class="dashboard-table">
                <div class="panel panel-primary google-analytics-widget" style="border: none;">
                    <div class="controle-header panel-heading panel-heading-landing">
                        <img src="~/images/dragable.svg">
                        <h1 class="panel-title panel-title-landing">
                            Browsers and OS widget
                        </h1>
                    </div>
                    <select id="ga-browsers-select">
                            <option value="0">Browsers</option>
                            <option value="1">OS</option>
                        </select>
                    <div id="browsers-widget">
                        <div class="panel-body panel-body-landing">
                            <div id="embed-api-auth-container"></div>
                            <div id="chart-container-browsers-widget"></div>
                            <div id="view-selector-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>