@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

@{
    var entries = Model.Entries.OrderBy(e => e["Position"]).ToList();
}

<div class="toggle-menu" data-open-state="closed">
    <div class="features-section">
        <div class="row">
            <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                @for (int i = 0; i < 10 && i < Model.Entries.Count(); i += 2)
                {
                    <div class="menu-icon" data-url="@entries[i]["Url"]">
                        <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["PrimaryImage"]">
                        <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["SecondaryImage"]" style="display:none">
                    </div>
                            }
            </div>
            <div class="middle-section col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="selected-feature" id="floating-section"><div class="feature-content"></div></div>
            </div>
            <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                @for (int i = 1; i < 10 && i < Model.Entries.Count(); i += 2)
                {
                    <div class="menu-icon" data-url="@entries[i]["Url"]">
                        <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["PrimaryImage"]">
                        <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["SecondaryImage"]" style="display:none">
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="inline-button">
        <div class="toggle-button">
            <div class="shrink-menu" disabled="true">
                <img class="leaf-button-1" src="~/images/menu-buttons/leaf.png" disabled="true">
                <img class="leaf-button-2" style="display: none;" src="~/images/menu-buttons/big screen.png" disabled="true">
                <img class="leaf-button-3" style="display: none;" src="~/images/menu-buttons/Decrease_window.png" disabled="true">
            </div>
            <div class="close-menu">
                <img class="arrows-1" src="~/images/menu-buttons/expand arrows.png">
                <img class="arrows-2" style="display: none;" src="~/images/menu-buttons/Decrease arrows.png">

            </div>
        </div>
    </div>
</div>

