@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

@{
    var entries = Model.Entries.OrderBy(e => e["Position"]).ToList();
}

<div id="mobile-view-top-menu" class="features-section top-menu">
    <div class="row login-button login">
        <a href="../../account/login">
            Log in
        </a>
    </div>
    <div class="row login-button logout">
        <a href="../../account/logout">
            Log out
        </a>
    </div>
    
    <div class="row">
        @for (int i = 0; i < 9 && i < Model.Entries.Count() - 1; i += 2)
        {
            <div class="row">
                <div class="row mobile-rows">
                    <div class="col col-lg-6 col-xs-6">
                        <div class="menu-icon" data-url="@entries[i]["Url"]">
                            <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["PrimaryImage"]">
                            <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["SecondaryImage"]" style="display:none">
                        </div>
                    </div>
                    <div class="col col-lg-6 col-xs-6">
                        <div class="menu-icon" data-url="@entries[i]["Url"]">
                            <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["PrimaryImage"]">
                            <img class="icon-image" src="~/images/toggle-menu-icons/@entries[i]["SecondaryImage"]" style="display:none">
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-lg-1 col-sm-2 col-xs-12">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

