@* classes (blog-wrapper, blog-container, blog-pager) are essential to the widget logic *@
<div class="blog-wrapper">
    <div class="blog-container"></div>
    <div class="blog-pager sitetriks-pager"></div>
</div>
