@section styles{
    <style>
        .html-block-hover-content {
            display: none;
        }

        .html-block-holder:hover .html-block-hover-content {
            display: block;
        }

        .html-block-hover-content {
            position: absolute;
            right: 5%;
            bottom: 20%;
            left: 5%;
            background-color: #f9f9f9;
            border: 2px solid #84b5df;
            box-shadow: 1px 2px 5px 3px #a6a6a6;
            padding: 20px;
            width: 87%;
            min-height: 30%;
        }
    </style>
}

@{
    ViewBag.Title = "Html Blocks";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Shared Block</a>
</div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>

@section Scripts{
    <script type="text/javascript">
            var grid = Grid();
            var data = { link: "/sitetriks/htmlblocks/grid", serverSide: true }
            var columns = [
                {
                    name: 'id',
                    title: '',
                    type: 'checkbox',
                    size: 1
                },
                {
                    name: "title",
                    title: "Title",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    contentTemplate: '<span class="text-danger">#item#</span>',
                    headerTemplate: '<b>Title</b>'
                },
                {
                    name: "typeValue",
                    title: "Type",
                    type: 'string',
                    size: 2,
                    contentTemplate: '<span class="text-danger">#item#</span>',
                    headerTemplate: '<b>Type</b>'
                },
                {
                    name: "content",
                    title: "",
                    type: 'string',
                    size: 1,
                    headerTemplate: '<b>Content</b>',
                    contentTemplate: '<div class="html-block-holder"><i class="fa fa-eye" aria-hidden="true"></i><div class="html-block-hover-content">#item#</div>'
            },
            {
                name: "dateModified",
                title: "Date modified",
                type: 'date',
                size: 2,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: "id",
                title: "Edit",
                type: 'string',
                size: 1,
                contentTemplate: '<a class="btn-sm btn-warning" href="/sitetriks/htmlblocks/edit/#item#"><i class="fa fa-pencil" aria-hidden="true"></i></a>',
                headerTemplate: '<b>Edit</b>'
            }
        ];

        let buttons = [
            {
                title: 'Delete',
                postUrl: '/sitetriks/htmlblocks/delete',
                type: 'danger'
            }
        ];

        var config = grid.build(columns, buttons, grid.defaultPager, data);

        let obj = grid.init('.grid', config);
    </script>
}