@model SiteTriks.MarketingEmailModule.Models.MarketingEmailSubscriberModel

@{
    ViewData["Title"] = "Update subscription info";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div class="backend-wrapper">
    <div class="sitetriks-login container main-content content-placeholder">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                <div id="registerForm">
                    <div class="register-form-container">
                        <img src="~/images/Sitetriks_logo.svg" />
                    </div>
                    <form class="clearfix">
                        <h3>@ViewData["Title"]</h3>
                        <h4>Edit subscribe info</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" id="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div>I want to receive news from SiteTriks regarding new features and releases.</div>
                        <div id="features-releases-group" class="subscription-radio-group">
                            <label class="radio-inline"><input type="radio" name="features-releases" value="1">Yes</label>
                            <label class="radio-inline"><input type="radio" name="features-releases" value="0">No</label>
                            <span class="validation-output"></span>
                        </div>

                        <div>I want to receive promotional materials regarding SiteTriks.</div>
                        <div id="promotional-materials-group" class="subscription-radio-group">
                            <label class="radio-inline"><input type="radio" name="promotional-materials" value="1">Yes</label>
                            <label class="radio-inline"><input type="radio" name="promotional-materials" value="0">No</label>
                            <span class="validation-output"></span>
                        </div>

                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/validator.js"></script>
    <script type="text/javascript" src="~/js/sitetriks/marketing-emails.js"></script>
    <script>
        WarningWindow.attach();
        editSubscribeInfo(@Model.Groups);
    </script>
}

