<div class="google-analytics google-analytics-countries">
    <div class="text-center">
        <div>
            <div class="dashboard-table">
                <div class="panel panel-primary google-analytics-widget" style="border: none;">
                    <div class="controle-header panel-heading panel-heading-landing">
                        <img src="~/images/dragable.svg">
                        <h1 class="panel-title panel-title-landing">
                            Countries widget
                        </h1>
                    </div>
                    <br />
                    @*<select id="ga-select">
                            <option value="0">Sessions</option>
                            <option value="1">Users</option>
                        </select>*@
                    <div id="countries-widget">
                        <div class="panel-body panel-body-landing">
                            <div id="embed-api-auth-container"></div>
                            <div id="chart-container-countries-widget"></div>
                            <div id="view-selector-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>