@model IEnumerable<SelectListItem>


<div class="select-dropdown">
    @using (Html.BeginForm("ChangeCurrentSite", "Sites", FormMethod.Post, new { }))
    {
        <div>
            @Html.DropDownList("id", Model, new { @class = "form-control inline-block" })
            <input type="submit" id="submit" value="Change" class="btn btn-success" style="margin-left: 20px;" />
        </div>
    }
</div>

