@model IEnumerable<SelectListItem>

<div class="library-select">
    @Html.DropDownList("library", Model, " Select Library", new { @class = "form-control inline-block file-upload-library" })

    <span class="library-arrow-down"></span>
    <div><span class="accepted-formats"></span></div>
    @*<input type="file" name="Files" class="input-files" disabled @if (ViewBag.IsMultiple) { <text> multiple="multiple" </text> } />*@
</div>

<div>
    <div class="file-handler-notifier"></div>
    <div>
        <div class="upload-container">
            <div id="drop-area">
                <div class="drop-info-btn">
                    <a class="uppercase">
                        <input name="Files" id="file" class="input-files" accept="image/*" type="file" disabled @if (ViewBag.IsMultiple) { <text> multiple="multiple" </text> }>
                        <img src="/images/import_icon.svg"><label for="file">Import/Browse</label>
                    </a>
                </div>
                <div class="instruction">
                    <span>Please select a Library first.</span>
                </div>
                <div class="drop-info-text">
                    <span class="">Drag and drop file here.</span>
                </div>
            </div>
        </div>
        <div class="files-container">
        </div>
        <div class="modal-footer">
            <a class="btn btn-success btn-submit-images disabled">Upload</a>
        </div>
    </div>
</div>

