@model SiteTriks.CoreWidgets.ViewComponents.PresentationModel

<a href="@Url.Action("DownloadFileByUrl", "Files", new { area="sitetriks", url = Model.Url })" class="btn btn-success">
    @Model.Url
    <span class="glyphicon glyphicon-arrow-down"></span>
</a>
