@model string

<div class="jumbotron">
    @Html.ActionLink("Full screen", "ViewFileByUrl", "Files", new { area = "sitetriks", url = $"{Model}" })
    <br />
    <iframe src="@Url.Action("ViewFileByUrl", "Files", new { area="sitetriks", url = $"{Model}" })" width="560" height="450"></iframe>
</div>