<div id="Dialog-Box" class="widget-control-modal">
        <div class="widget-title-status">Create</div>
    <div id="add-modal-alerts"></div>
    <div>
        <div id="add-widget-container">

        </div>
    </div>
</div>
