<div id="Dialog-Box-Edit" class="widget-control-modal">
    <div class="widget-title-status">Edit</div>
    <div id="edit-modal-alerts"></div>
    <div>
        <div id="widget-info">
            <span id="order" class="label label-default"></span>
            <span>,</span>
            <span id="type" class="label label-default"></span>
        </div>
        <hr>
        <div id="edit-widget-container">
        </div>
    </div>
</div>
