@using Microsoft.AspNetCore.Identity
@using SiteTriks.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span>Logged as: </span>
    @Html.ActionLink(UserManager.GetUserName(User), "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage", @class = "profile-link" })
}
