@model SiteTriks.ForumModule.Models.DiscussionViewModel

@{
    ViewBag.Title = "Create Discussion";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>

    @using (Html.BeginForm("Create", "Discussions", FormMethod.Post, htmlAttributes: new { area = "SiteTriks", id = "create-discussion" }))
    {
        <div class="fixed-top-2">
            @await Html.PartialAsync("SecondNavHeader")

            <a href="/sitetriks/discussions" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Back to Discussions</a>
            <input type="submit" value="Create" class="btn-nav-2" />
        </div>
        <div class="page-properties">
            <div class="form-group row">
                @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control cf_txtTitle should-validate-not-empty" } })
            </div>

            <div class="form-group row description-row">
                @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => Model.Description, htmlAttributes: new { @class = "form-control", id = "content" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/lib/custom/tinymce/tinymce.min.js"></script>
    <script src="~/js/text-editor.js"></script>
    <script src="~/js/sitetriks/discussions.js"></script>
    <script type="text/javascript">
        createDiscussion();
    </script>
}