<div id="allNews-widget-container" class="widget-container">
    <div class="col-md-9">
        @await Html.PartialAsync("WidgetsForms")
    </div>
    <h3>Select template</h3>
    <select id="template-selector"></select>
</div>