<div id="css-widget-container" class="widget-container">
    <h3 class="text-danger">Warning: Styles will be applied for the whole page!</h3>
    <div>
        <textarea id="css-rules"></textarea>
    </div>
    <div>
        <label for="css-url"><b>Load from url:</b></label>
        <input type="text" id="css-url"/>
    </div>
</div>
