<div id="css-widget-container" class="widget-container">
    <input id="css-widget-options" class="btn btn-primary" type="button" value="" />
    <input id="option-selected-id" type="text" hidden="hidden" />

    <h3 class="text-danger">Warning: Styles will be applied for the whole page!</h3>

    <div id="raw-css-container">
        <textarea id="css-rules"></textarea>
    </div>

    <div id="url-css-container" hidden="hidden">
        <label for="css-url"><b>Load from url:</b></label>
        <input type="text" id="css-url" />
    </div>
</div>

<script src="~/js/widget-toggle-generator.js"></script>
