<div data-type="detailedNews" class="widget-container detailed-news">
    <div class="col-md-5">
        <div class="row">
            <label for="news-list" class="col-md-4">News Titles</label>
            <input id="news-list" class="form-control" type="text">
        </div>
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
