<div id="dynamic-widget-container" class="widget-container">
    <div id="dynamic-container">

    </div>
    <div class="col-md-5">
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
