<div id="embedded-script-widget-container" class="widget-container">

    <h3 class="text-danger">Warning: Script will be embedded directly in the page!</h3>

    <div id="raw-js-container">
        <textarea id="embedded-script"></textarea>
    </div>
</div>

<script src="~/js/widget-toggle-generator.js"></script>