<div id="html-widget-container" class="widget-container">
    <select id="html-options-list">
        <option selected value="new">NEW</option>
        <option value="shared">SHARED</option>
    </select>
    <div id="html-widget-holder">

    </div>
    <div class="col-md-5">
        <div class="row">
            <label for="css-class" class="col-md-4">Css Class</label>
            <input id="css-class" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-roles" class="col-md-4">Allowed Roles</label>
            <input id="allowed-roles" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-groups" class="col-md-4">Allowed Groups</label>
            <input id="allowed-groups" class="form-control" />
        </div>
    </div>
</div>
