<div id="html-widget-container" class="widget-container">
    <select id="html-options-list">
        <option selected value="new">NEW</option>
        <option value="shared">SHARED</option>
    </select>
    <div id="html-widget-holder">

    </div>
    <div class="col-md-5">
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
