<div data-type="image" class="widget-container form-inline image-widget">
    <div class="col-md-5">
        <div id="image-container" class="news-main-image-container"></div>
        <input type="text" name="NewsEN.MainImageUrlID" id="image" hidden="hidden" />
        <div class="widget-form">
            <div class="row mb-10">
                <label for="input-width" class="col-md-4">Width</label>
                <input id="input-width" class="form-control" />
            </div>

            <div class="row">
                <label for="input-height" class="col-md-4">Height</label>
                <input id="input-height" class="form-control" />
            </div>

            <hr />
            @await Html.PartialAsync("WidgetsForms")
        </div>
    </div>

    <div id="upload-modal" class="col-md-7">
        <div>
            <div class="upload-modal-buttons">
                <a class="btn btn-backend" id="btn-show-choice">Select</a>
                <a class="btn btn-backend" id="btn-show-upload">Upload</a>
            </div>
            <div id="file-handler-notfier"></div>
            <div id="upload-file">
                <div id="upload-container">
                </div>
                <div id="files-container">
                </div>
                <div class="modal-footer">
                    <a class="btn btn-backend" id="btn-submit-images">Upload</a>
                </div>
            </div>
            <div id="choice-file" hidden>
                <select id="image-libs" class="form-control"></select>
                <div id="files-list">

                </div>
                <div class="files-handler-pager">
                    <a id="previous-page" class="btn btn-default">Previous</a>
                    <span id="page">0</span>
                    <a id="next-page" class="btn btn-default">Next</a>
                    <a class="btn btn-backend" id="btn-select">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>

