<div id="javascript-widget-container" class="widget-container">
    <h3 class="text-danger">Warning: Script will be applied for the whole page!</h3>
    <div>
        <textarea id="js-scripts"></textarea>
    </div>
</div>
