<div id="javascript-widget-container" class="widget-container">
    <input id="js-widget-options" class="btn btn-primary" type="button" value="" />
    <input id="option-selected-id" type="text" hidden="hidden" />

    <h3 class="text-danger">Warning: Script will be applied for the whole page!</h3>

    <div id="raw-js-container">
        <textarea id="js-scripts"></textarea>
    </div>
    <div id="url-js-container" hidden="hidden">
        <label for="javascript-url"><b>Load from url:</b></label>
        <input type="text" id="javascript-url" />
    </div>
</div>

<script src="~/js/widget-toggle-generator.js"></script>