<div id="layout-builder-widget-container" class="widget-container">
</div>

<div class="widget-resolutions-wrapper">
    <span class="rs-icon-mobile resolution-widget selected" data-type="xs"></span>
    <span class="rs-icon-tablet resolution-widget selected" data-type="sm"></span>
    <span class="rs-icon-desktop resolution-widget selected" data-type="md"></span>
    <span class="rs-icon-desktop-hd resolution-widget selected" data-type="lg"></span>
</div>

<div id="layout-widget-wrapper" class="layout-builder-container">
    <div class="rows-holder"></div>
    <div>
        <div class="add-row">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div id="layout-widget-options"></div>
    </div>
</div>

<div class="layout-creation-wrapper" hidden>
    <button id="add-wrapper-button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Row
    </button>
</div>
