<div data-type="navigation" class="widget-container">
    <div>
        <h3>Pages with submenus</h3>
        <div><label>All Pages: <input type="checkbox" id="input-all-pages" /></label></div>
        <select id="multiselect-pages" multiple></select>
        <label>
            (sub) levels: 
            <select id="depth-level" class="form-control" style="display:inline">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option selected="selected" value="">All</option>
            </select>
        </label>

        <div class="row">
            <hr>
            <div class="col-md-5">
                <ul style="list-style-type: none; padding-left:0;" id="pages-order"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-5 row">
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
