<div id="news-widget-container" class="widget-container">
    <div class="col-md-6">
        <label for="order-by-date">Order by date ascending: </label>
        <input type="checkbox" id="order-by-date" />
        <br />
        <input type="radio" name="template" value="all" id="all-news" />
        <label for="all-news">All news</label>
        <br />
        <input type="radio" name="template" value="latest" id="latest-news" />
        <label for="latest-news">Latest news</label>
        <input type="number" min="1" id="latest-news-count" class="form-control input-number" />
        <hr />
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>