<div id="news-widget-container" class="widget-container">
    <div class="col-xs-12">
        <div class="row" style="margin-bottom: 30px;">
            <label class="col-md-3 col-xs-6 widget-config-label">
                <span>News to display </span>
                <select class="form-control inline-block carousel-count-type">
                    <option value="lates">Latest</option>
                    <option value="all">All</option>
                </select>
            </label>
            <label class="col-md-4 col-xs-6 widget-config-label"><span>Total number of news items </span><input id="latest-news-count" class="form-control inline-block" placeholder="default: 3" /></label>
        </div>
        <div class="resolutions-control">
            <div class="resolutions-info">slides per resolution</div>
            <div class="row res-wrapper">
                <div class="resolutions-separator">
                    <label><span class="rs-icon-mobile res-icon"></span>    <input class="form-control slides-xs" value="1" /><span class="clarification">Phones (&#60;768px)</span></label>
                    <label><span class="rs-icon-tablet res-icon"></span>    <input class="form-control slides-sm" value="2" /><span class="clarification">Tablets (≥768px)</span></label>
                </div>
                <div class="resolutions-separator">
                    <label><span class="rs-icon-desktop res-icon"></span>   <input class="form-control slides-md" value="3" /><span class="clarification">Desktops (≥992px)</span></label>
                    <label><span class="rs-icon-desktop-hd res-icon"></span><input class="form-control slides-lg" value="3" /><span class="clarification">Desktops (≥1200px)</span></label>
                </div>
            </div>
        </div>
        <br />
        <label class="widget-config-label"><span>Order by date ascending </span><input type="checkbox" id="order-by-date" /></label>
    </div>

    <div class="col-md-6">
        <hr />
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>