<div id="news-widget-container" class="widget-container">
    <div class="col-md-6">
        <label for="order-by-date">Order by date ascending: </label>
        <input type="checkbox" id="order-by-date" />
        <br />
        <input type="radio" name="template" value="all" id="all-news" />
        <label for="all-news">All news</label>
        <br />
        <input type="radio" name="template" value="latest" id="latest-news" />
        <label for="latest-news">Latest news</label>
        <input type="number" min="1" id="latest-news-count" class="form-control input-number" />
        <br />
        <div class="row">
            <label for="news-type" class="col-md-4">News open type</label>
            <select id="news-type" class="form-control">
                <option value="single">Open in single page</option>
                <option value="multiple">Open with all news</option>
            </select>
        </div>
        <hr />
        <div class="row">
            <label for="css-class" class="col-md-4">Css Class</label>
            <input id="css-class" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-role" class="col-md-4">Allowed Roles</label>
            <input id="allowed-roles" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-groups" class="col-md-4">Allowed Groups</label>
            <input id="allowed-groups" class="form-control" />
        </div>
    </div>
</div>