<div id="presentation-widget-container" data-type="presentation" class="widget-container">
    <div class="col-md-6">
        <select id="presentation-type" class="form-control">
            <option value="preview">Preview</option>
            <option value="download">Download</option>
        </select>
        <div class="row">
            <label for="presentation-url" class="col-md-4">Url of the file: </label>
            <input id="presentation-url" type="text" class="form-control title-field text-box single-line" />
        </div>
        <hr/>
        <div class="row">
            <label for="css-class" class="col-md-4">Css Class</label>
            <input id="css-class" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-role" class="col-md-4">Allowed Roles</label>
            <input id="allowed-roles" class="form-control" />
        </div>
        <div class="row">
            <label for="allowed-groups" class="col-md-4">Allowed Groups</label>
            <input id="allowed-groups" class="form-control" />
        </div>
    </div>
</div>
