<div id="presentation-widget-container" data-type="presentation" class="widget-container">
    <div class="col-md-6">
        <select id="presentation-type" class="form-control">
            <option value="preview">Preview</option>
            <option value="download">Download</option>
        </select>
        <div class="row">
            <label for="presentation-url" class="col-md-4">Url of the file: </label>
            <input id="presentation-url" type="text" class="form-control title-field text-box single-line" />
        </div>
        <hr />
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
