<div id="storeGrid-widget-container" class="widget-container">
    <div>
        <label>Items on row: <input class="input-items-on-row" /></label>
    </div>
    <div>
        <label>Has paging: <input type="checkbox" class="input-has-paging st-toggle" data-toggle=".hasPaging" /></label>
    </div>
    <div class="hasPaging" hidden >
        <label>Rows per page: <input class="input-rows-per-page" /></label>
    </div>
</div>
