<div id="storeFilter-widget-container" class="widget-container">
    @*filter
        <div class="col-md-5">
            @await Html.PartialAsync("WidgetsForms")
        </div>*@

    <div>
        <select id="multiselect-properties" multiple></select>
        <div class="inline-block">
            <input class="form-control inline-block" placeholder="section name" />
            <button id="add-section" class="btn btn-backend">Add section</button>
        </div>
    </div>

    <hr>

    <div>
        <ul style="list-style-type: none; max-width: 500px;" id="properties-order"></ul>
    </div>
</div>
