<div id="video-widget-container" data-type="video" class="widget-container">
    <br />
    <div class="col-md-6">
        <select id="video-source" class="form-control">
            <option value="database">DataBase</option>
            <option value="youtube">YouTube</option>
            <option value="youtubePlaylist">YouTube Playlist</option>
            <option value="youtubeCustomPlaylist">YouTube Custom Playlist</option>
            <option value="youtubeMultiplePlaylists">YouTube Multiple Playlists</option>

        </select>
        <div id="customVideoInstructions" style="display: none;"> Please provide the links of the youtube videos to be included in the playlist separated by " ; ".</div>
        <div class="row">
            <label for="video-name" class="col-md-4">Id of the youtube video or url in the database: </label>
            <input id="video-name" type="text" class="form-control title-field text-box single-line" />
        </div>
        <hr />
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>

<script>
    $('#video-source').change(function () {
        if ($('#video-source').val() == "youtubeCustomPlaylist") {
            $("#customVideoInstructions").css('display', 'block');
        } else {
            $("#customVideoInstructions").css('display', 'none');
        }

    })
    // on value change - show instructions if needed
    // show hide
</script>