@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

<div class="dynamic-table">
    @foreach (var item in Model.Entries)
    {
        <div>
            <span>@item[ "Id"]</span>
            @foreach (var prop in Model.DynamicClass.Properties)
            {
                var value = item[prop.Name];
                <span>  |  @value</span>
            }
        </div>
    }
</div>
