@model IEnumerable<SiteTriks.Models.WidgetConfiguration.WidgetConfigViewModel>

@{
    ViewBag.Title = "Widget Configuration";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")
</div>

<div class="backend-wrapper">

    <div id="edit-widget-roles" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                    <select id="roles-listbox" multiple="multiple" class="form-control">
                        <option value="@UserRoles.Admin">@UserRoles.Admin</option>
                        <option value="@UserRoles.BackEnd">@UserRoles.BackEnd</option>
                    </select>
                    <span class="btn btn-success" id="btn-save">Save</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid"></div>
</div>

@section scripts{
    <script src="~/js/multiselect-setup.js"></script>
    <script>
        function editWidgetRoles(element, roles) {
            let widget = $(element).data("widget");
            Multiselect.Setup("roles-listbox");

            $('#roles-listbox').val('');
            $.each(roles.split(";"), function (i, e) {
                $("#roles-listbox option[value='" + e.trim() + "']").prop("selected", true);
            });

            Multiselect.Refresh("roles-listbox");

            $('#btn-save').attr('data-widget', widget);

            $("#edit-widget-roles").modal("show");
        }

        $(document).ready(function () {
            $('#btn-save').on('click', function () {
                let widget = $('#btn-save').attr('data-widget');
                let roles = $('#roles-listbox').val();

                $.ajax({
                    method: 'POST',
                    url: '/sitetriks/widgetconfiguration/edit',
                    data: { widget: widget, roles: roles },
                    success: function (res) {
                        if (res.success) {
                            obj.update(true);
                            $("#edit-widget-roles").modal("hide");
                        }
                    }
                })
            })
        })

        var grid = Grid();
        var data = { link: "/sitetriks/widgetconfiguration/grid", serverSide: false }
        var columns = [
            {
                name: "name",
                title: "Name",
                type: 'string',
                filter: true,
                sort: true,
                size: 4,
                headerTemplate: '<strong>#item#</strong>'
            },
            {
                name: 'allowedRoles',
                title: 'Allowed Roles',
                type: 'list',
                size: 4,
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: 'allowedRoles',
                title: '',
                type: 'list',
                size: 2,
                extraFields: ["name"],
                headerTemplate: '<b>#item#</b>',
                contentTemplate: '<span class="btn btn-warning" data-widget="#item0#" onclick="editWidgetRoles(this, \'#item#\')">Edit</span>'
            }
        ];

        let buttons = [];

        var config = grid.build(columns, buttons, grid.defaultPager, data);

        let obj = grid.init('.grid', config);
    </script>
}
