@model IEnumerable<SiteTriks.Models.WidgetConfiguration.WidgetConfigViewModel>

@{
    ViewBag.Title = "Widget Configuration";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")
</div>

<div class="backend-wrapper">

    <div id="edit-widget-roles" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                    <select id="roles-listbox" multiple="multiple" class="form-control">
                        <option value="@UserRoles.Admin">@UserRoles.Admin</option>
                        <option value="@UserRoles.BackEnd">@UserRoles.BackEnd</option>
                    </select>
                </div>
                <div class="track-widget-wrapper" data-widget-name="">
                    <span>Track widget</span>
                    <input class="track-widget-checkbox" type="checkbox" />
                </div>
                <div class="modal-footer">
                    <span class="btn btn-success" id="btn-save">Save</span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid"></div>
</div>

@section scripts{
    <script src="~/js/multiselect-setup.js"></script>
    <script type="text/javascript" src="~/js/modules/utils.js"></script>
    <script type="text/javascript" src="~/js/modules/pager.js"></script>
    <script type="text/javascript" src="~/js/modules/data-source.js"></script>
    <script type="text/javascript" src="~/js/modules/grid.js"></script>
    <script>
        const $modal = $('#edit-widget-roles');
        const $btnSave = $('#btn-save');
        const $rolesListBox = $('#roles-listbox');
        Multiselect.Setup('roles-listbox');

        function editWidgetRoles(widget, roles, trackable) {
            $modal.find('.track-widget-checkbox').prop('checked', trackable === 'true');
            $rolesListBox.val('');
            $.each(roles.split(','), function (_, e) {
                $rolesListBox.find('option[value="' + e.trim() + '"]').prop('selected', true);
            });

            Multiselect.Refresh('roles-listbox');
            $btnSave.attr('data-widget', widget);
            $modal.modal('show');
        }

        $btnSave.on('click', function () {
            let widget = this.getAttribute('data-widget');
            let roles = $rolesListBox.val();
            let isTrackable = $modal.find('.track-widget-checkbox').prop('checked') == true

            $.ajax({
                method: 'POST',
                url: '/sitetriks/widgetconfiguration/edit',
                data: { widget, roles, isTrackable },
                success: function (res) {
                    if (res.success) {
                        widgetsGrid.load(true);
                        $modal.modal('hide');
                    }
                }
            })
        })

        $('body').on('click', '.edit-widget-config', function (ev) {
            editWidgetRoles(this.getAttribute('data-widget'), this.getAttribute('data-roles'), this.getAttribute('data-trackable'));
        });

        var grid = Grid();
        var data = { link: "/sitetriks/widgetconfiguration/grid", serverSide: false }
        var columns = [
            {
                name: "name",
                title: "Name",
                type: 'string',
                size: 3,
                headerTemplate: '<strong>#item#</strong>'
            },
            {
                name: 'allowedRoles',
                title: 'Allowed Roles',
                type: 'list',
                size: 5,
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: 'type',
                title: '',
                type: 'string',
                size: 3,
                extraFields: ["isTrackable", 'allowedRoles'],
                headerTemplate: '<b>#item#</b>',
                contentTemplate: '<span class="btn btn-warning edit-widget-config" data-widget="#item#" data-trackable="#item0#" data-roles="#item1#">Edit</span>'
            },
            {
                name: 'isTrackable',
                title: 'Is Tracked',
                type: 'bool',
                size: 1,
                headerTemplate: '<b>#item#</b>',
                trueTemplate: '<span data-widget="#item0#" ><img class="tick-success" src="../../images/static-homepage-pages/license-menu-page/tick green_header.svg" /> </span>'
            }
        ];

        var widgetsGrid = new _Grid({
            wrapperId: '.grid',
            type: 'table',
            fields: columns,
            sourceConfig: { type: 'client', url: '/sitetriks/widgetconfiguration/grid' }
        });

        widgetsGrid.load(true);
    </script>
}
