<div class="col-md-5">
    <div id="image-container" class="news-main-image-container"></div>
    <input type="text" name="NewsEN.MainImageUrlID" id="image" hidden="hidden" />
    <div class="widget-form">
        <div class="row mb-10">
            <label for="input-width" class="col-md-4">Width</label>
            <input id="input-width" class="form-control" />
        </div>

        <div class="row">
            <label for="input-height" class="col-md-4">Height</label>
            <input id="input-height" class="form-control" />
        </div>

        <hr />
        @await Html.PartialAsync("WidgetsForms")
    </div>
</div>
