<div class="select-parent">
    <div class="image-container2">
        <div class="image-checkbox-wrapper">
            <input data-click-id="click" class="image-checkbox" type="{{inputType}}" data-id="{{id}}" name="images-list" />
            <span class="checkmark"></span>
        </div>
            <span class="checkmark-cover"></span>
        <img src="/files/{{url}}" class="listed-image" />
        <div class="thumbnailSelector wrapper">
            {{#if thumbnails}}
            <select class="thumbnailSelect dropdown" data-id="{{id}}">
                <option value="{{id}}" class="size-option" data-sizename="Original">
                    {{title}} - Original
                </option>
                {{# each thumbnails}}
                <option value="{{id}}" class="size-option" data-sizename="{{sizeName}}">
                    {{sizeName}}
                </option>
                {{/each}}
            </select>
            {{else}}
            <div class="image-title">
                <span>{{title}}</span>
            </div>
            {{/if}}
            <span class="arrow-down"></span>
        </div>
    </div>
</div>


