<div>
    <div class="form-group row">
        <label class="col-md-2">Title </label>
        <input class="form-control inline-block input-title" value="{{title}}" />
    </div>

    <div class="form-group row description-row">
        <label class="col-md-2">Description </label>
        <div class="col-md-10">
            <textarea class="form-control input-description">{{description}}</textarea>
        </div>
    </div>

    <a class="btn btn-default forum-nav" data-type="{{type}}" data-action="save" data-id="{{id}}" data-parent="{{parentId}}">Save</a>
</div>
