<div>
	<div class="form-group row">
		<label class="col-2 forum-label title-margin">Title</label>
		<input class="form-control inline-block input-title col-8" value="{{title}}" />
	</div>

	<div class="form-group row description-row">
		<label class="col-2 forum-label">Description </label>
		<div class="col-8">
			<textarea class="form-control input-description">{{description}}</textarea>
		</div>
	</div>
	
		<a class="btn btn-light forum-nav save-btn-float" data-type="{{type}}" data-action="save" data-id="{{id}}" data-parent="{{parentId}}">Save</a>
	
</div>
