{{#if items}}
{{#each items }}
{{#switch action}}
{{#case 0}}
<div class="action" data-action="{{action}}">
    <label>
        <input type="checkbox" class="source-checkbox" data-display-name="{{this}}" data-id="{{id}}"
               data-paragraph-title="{{title}}" data-parent-id="staged-Files">{{title}} 
    </label> <span class="fa fa-plus"></span>
</div>
{{/case}}
{{#case 1}}
<div class="action" data-action="{{action}}">
    <label>
        <input type="checkbox" class="source-checkbox" data-display-name="{{this}}" data-id="{{id}}"
               data-paragraph-title="{{title}}" data-parent-id="staged-Files">{{title}} Blue
    </label><span class="fa fa-pencil-square-o"></span>
</div>
{{/case}}
{{#case 2}}
<div class="action" data-action="{{action}}">
    <label>
        <input type="checkbox" class="source-checkbox" data-display-name="{{this}}" data-id="{{id}}"
               data-paragraph-title="{{title}}" data-parent-id="staged-Files">{{title}} Blue
    </label>
</div>
{{/case}}
{{/switch}}
{{/each}}
{{else}}
<div class="empty-list">   <label>No Items found  </label></div>
{{/if}}