@{
    Layout = "/Views/Shared/_FrontEndLayout.cshtml";
}

<div>
    <div>
        @await Component.InvokeAsync("NavigationWidget", new { area = "", noPages = true })
    </div>
    <div>
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

