<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("_Favicons")

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/slick/slick.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/slick/slick-theme.css" />
        <link type="text/css" rel="stylesheet" href="~/css/toggle-menu.css" />
        <link type="text/css" rel="stylesheet" href="~/css/multi-level-dropdown.css" />
        <link type="text/css" rel="stylesheet" href="~/css/front-end.css" />
        <link type="text/css" rel="stylesheet" href="~/css/home-page.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/jquery-ui/jquery-ui.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/tinymce/plugins/codesample/css/prism.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/frontend.min.css" asp-append-version="true" />
    </environment>

    @await Html.PartialAsync("Polyfills")

    @if (User.Identity.IsAuthenticated)
    {
        <style>
            .login {
                display: none;
            }
        </style>
    }
    else
    {
        <style>
            .logout {
                display: none;
            }
        </style>

    }

    @RenderSection("styles", required: false)

</head>
<body class="wide">
    <div id="wrapper" class="wrapper body-content">

        @RenderBody()

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/lib/custom/jquery-ui/jquery-ui-1.10.4.js"></script>
        <script src="~/lib/custom/tinymce/plugins/codesample/prism.js"></script>
        <script src="~/lib/custom/cookieNoticeJS/dist/cookie.notice.js"></script>
        <script type="text/javascript" src="~/js/data.js"></script>
        <script type="text/javascript" src="~/js/loader.js"></script>
        <script type="text/javascript" src="~/js/gallery-2.0.js"></script>
        <script type="text/javascript" src="~/js/validation.js"></script>
        <script type="text/javascript" src="~/js/validator.js"></script>
        <script type="text/javascript" src="~/js/notifier.js"></script>
        <script type="text/javascript" src="~/js/carousel.js"></script>
        <script type="text/javascript" src="~/js/input-number-checker.js"></script>
        <script type="text/javascript" src="~/js/meta-tags.js"></script>
        <script type="text/javascript" src="~/js/all-news.js"></script>
        <script type="text/javascript" src="~/js/documentation-widget.js"></script>
        <script type="text/javascript" src="~/lib/custom/slick/slick.min.js"></script>
        <script type="text/javascript" src="~/js/script-manager.js"></script>
        <script type="text/javascript" src="~/js/dynamic-widgets.js"></script>
        <script type="text/javascript" src="~/js/modules/module-builder.js"></script>
        <script type="text/javascript" src="~/js/modules/scroll-control.js"></script>
        <script type="text/javascript" src="~/js/toggle-bottom-menu.js"></script>
        <script type="text/javascript" src="~/js/navigation-widget.js"></script>
        @*<script type="text/javascript" src="~/js/video-custom-playlist.js"></script>*@
        <script type="text/javascript" src="~/lib/custom/slider-master/js/jssor.slider.min.js"></script>
        <script type="text/javascript" src="~/js/subscription.js"></script>
        <script type="text/javascript" src="~/js/cookie-notification-configuration.js"></script>
        <script type="text/javascript" src="~/js/licenses-widgets.js"></script>
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script type="text/javascript" src="~/js/sitetriks/licensesTable.js"></script>
        <script src="~/lib/custom/code-prettify/src/run_prettify.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/custom/tinymce/plugins/codesample/prism.js"></script>
        <script src="~/js/frontend.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script src="~/lib/custom/code-prettify/src/run_prettify.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        scriptManager.delteScriptCheck();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var $scripts = $('[data-script="body-bot"]');
            //$scripts.each(function (index) {
            //    $('body').append($(this));
            //});

            //var $styles = $('[data-style="head-bot"]');
            //$styles.each(function (index) {
            //    $('head').append($(this));
            //});

            $(document).trigger("initCarousel");

            MetaTags.populateKeyWords('input[name=SEOKeyword]');

            DocumentationWidget();

            // Tree items widget logic -  to move
            $('body').on('click', '.more-items', function (event, callback, target) {

                if (callback && {}.toString.call(callback) === '[object Function]' && target) {
                    $('.hidden-section').slideToggle("slow", "swing", function () {
                        callback(target);
                    });

                    if ($(window).width() <= 767) {
                        return;

                    } else {
                        $('.hidden-section-last-body').slideToggle("slow", "swing", function () {
                            callback(target);
                        });

                    }
                } else {
                    $('.hidden-section').slideToggle("slow");
                    if ($(window).width() <= 767) {
                        return;

                    } else {
                        $('.hidden-section-last-body').slideToggle("slow");
                    }
                }
                $('.more-less-text').toggle();
                $('.more-items').toggleClass('more-clicked');
            })
        });


    </script>

    <script type="text/javascript">
        // 1.1 Adding the Video custom playlist logic directly here
        $(document).ready(function () {
            $('body').on('click', '.video-thumbnail', function () {
                var iframeCurrentSource = $('.video-container iframe').attr('src');
                var thunmbnailSource = $(this).attr('data-videoId');

                if (!(iframeCurrentSource == thunmbnailSource)) {
                    $('.video-container iframe').attr('src', thunmbnailSource);
                }
            });
        })

        $(document).ready(function () {
            $('body').on('click', '.playlist-thumbnail', function () {
                var iframeCurrentSource = $('.video-container iframe').attr('src');
                var thunmbnailSource = $(this).attr('data-videosource');

                if (!(iframeCurrentSource == thunmbnailSource)) {
                    $('.video-container iframe').attr('src', thunmbnailSource);
                }
            });
        })

    </script>

    <script>
        $(window).load(function () {
            if ($('pre').length > 0) {
                Prism.highlightAll();
            }

            if ($('.prettyprint').length > 0) {
                prettify();
            }
        });


        $(document).ready(function () {

            $('body').on('click', '.bottom-menu .menu-icon', function () {
                let pageUrl = ($(this).data("url"));
                let pageInternalNavigation = 'Page Static Interal Navigation';
                if ("ga" in window) {
                    tracker = ga.getAll()[0];
                    if (tracker)
                        tracker.send("event", pageInternalNavigation, pageUrl);
                }
            });

            $('body').on('click', '.toggle-menu .menu-icon', function () {
                let pageUrl = ($(this).data("url"));
                let pageInternalNavigation = 'Page Floating Interal Navigation';
                if ("ga" in window) {
                    tracker = ga.getAll()[0];
                    if (tracker)
                        tracker.send("event", pageInternalNavigation, pageUrl);
                }
            });

            $('body').on('click', '.top-menu .menu-icon', function () {
                let pageUrl = ($(this).data("url"));
                let pageInternalNavigation = 'Page Mobile Interal Navigation';
                if ("ga" in window) {
                    tracker = ga.getAll()[0];
                    if (tracker)
                        tracker.send("event", pageInternalNavigation, pageUrl);
                }
            });
        });
    </script>

    @*<script>
            $(document).ready(function () {

                function getYoutubeData() {
                $.ajax({
                    method: 'GET',
                    url: 'https://www.googleapis.com/youtube/v3/playlists?part=snippet&id=PL50C17441DA8A565D&key=AIzaSyCWH87Tm8-WcMBNXi7N1QoK-AYZR3mhmR8 ',
                    dataType: 'json'
                }).done(function (data) {

                    console.log(JSON.stringify(data.items[0].snippet.thumbnails.high.url));
                    //$.map(data, function (unit, i) {
                    //    $(".video-thumbnail").append('<h1>' + unit.title + '</h1>' + '<div>' + unit.body + '</div>');
                    //})
                })
                }
                getYoutubeData();
            });

        </script>*@


    <script>
        $(document).ready(function () {
            if ($('body-content').find('.multiple-playlists')) {
                // get all thumbnails ids
                let $container = ($('.multiple-playlists .playlist-thumbnails-list .playlist-thumbnail'));
                let source;

                $container.each(function (_, element) {
                    source = $(this).data("videoid");
                    let url = getYoutubeData(source).then(function (res) {

                        let finalUrl = res.items[0].snippet.thumbnails.high.url;
                        let title = res.items[0].snippet.title;

                        $(element).children('img').attr('src', finalUrl);
                        $(element).children('.playlist-title').text(title);
                    })
                    //,Data.defaultError);

                })
            }

            /*******************Get Youtube Playlist Thumbnails ***********************/

            function getYoutubeData(playlistId) {
                //    return Data.getJson({ url: "https://www.googleapis.com/youtube/v3/playlists?part=snippet&id=" + playlistId + "&key=AIzaSyCWH87Tm8-WcMBNXi7N1QoK-AYZR3mhmR8" })
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: "https://www.googleapis.com/youtube/v3/playlists?part=snippet&id=" + playlistId + "&key=AIzaSyCWH87Tm8-WcMBNXi7N1QoK-AYZR3mhmR8",
                        method: 'GET',
                        contentType: 'json',
                        success: resolve,
                        error: reject
                    }).then(function (data) {
                        let result = JSON.stringify(data.items[0].snippet.thumbnails.high.url);
                        return result;
                    }) // Data.defaultError)
                });
            }

        });
    </script>

    <script>


        // Get all videos from our channel
        $(document).ready(function () {

            // Add search functionality to the widget
            function getChannelDatails(channelId) {
                //    return Data.getJson({ url: "https://www.googleapis.com/youtube/v3/playlists?part=snippet&id=" + playlistId + "&key=AIzaSyCWH87Tm8-WcMBNXi7N1QoK-AYZR3mhmR8" })
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: "https://www.googleapis.com/youtube/v3/channels?key=AIzaSyCWH87Tm8-WcMBNXi7N1QoK-AYZR3mhmR8&part=contentDetails&id=" + channelId,
                        method: 'GET',
                        contentType: 'json',
                        success: resolve,
                        error: reject
                    })
                })
                    .then(function (data) {
                        let channelUpload = data.items[0].contentDetails.relatedPlaylists.uploads;
                        return new Promise((resolve, reject) => {
                            $.ajax({
                                url: "https://www.googleapis.com/youtube/v3/playlistItems?playlistId=" + channelUpload + "&key=AIzaSyCR5In4DZaTP6IEZQ0r1JceuvluJRzQNLE&part=snippet&maxResults=50",
                                method: 'GET',
                                contentType: 'json',
                                success: resolve,
                                error: reject
                            })
                        });
                    })
            };


            $('body').on('click', '.search-video', function () {
                $('.suggestions').css('display', 'block');
                // get all thumbnails ids
                let $container = ($('.multiple-playlists .playlist-thumbnails-list .playlist-thumbnail'));
                let fullData;
                let channelId = "UCUsTZWP1OpyBXX2_CfMv1fA";
                let titles = [];

                fullData = getChannelDatails(channelId);
                fullData.then(function (result) {
                    var myData = result;

                    for (i = 0; i < myData.items.length; i += 1) {
                        titles.push(myData.items[i].snippet.title)
                    }

                    // Find matches

                    function findMatches(wordToMatch, videos) {
                        return videos.filter(title => {
                            const regex = new RegExp(wordToMatch, 'gi')
                            return title.match(regex)
                        });

                    }

                    // Display the matches in a dropdown

                    function displayMatches() {
                        const matchArrays = findMatches(this.value, titles);

                        const html = matchArrays.map(title => {
                            let itemPosition = titles.indexOf(title);
                            let videoId = myData.items[itemPosition].snippet.resourceId.videoId
                            return `                <li class="name" data-id ="${videoId}">${title}</li>
                `;
                        }).join('');
                        suggestions.innerHTML = html;
                    }

                    // Detect video select

                    const searchInput = document.querySelector('.search-video');
                    const suggestions = document.querySelector('.suggestions');

                  //  searchInput.addEventListener('change', displayMatches);
                    searchInput.addEventListener('keyup', displayMatches);

                    // Display playlist starting from the given video

                });
            })

            function selectVideo () {
                let selected = $(this).text();
                console.log(selected);
                //  let itemPosition = titles.indexOf(selected);

                let videoId = $(this).attr('data-id');

                console.log(videoId);

                $('.search-video').val(selected);

                $('.video-container iframe').attr('src', `https://www.youtube.com/embed/${videoId}`);

                // Clean the input
                $('.search-video').val('');
                $('.suggestions').css('display', 'none');
            }

            $('body').on('click', function (ev) {
                let $target = $(ev.target);
                if (($target.hasClass('search-video')) || ($target.hasClass('suggestions'))) {
                console.log('dzup');
                    return;
                }

                $('.suggestions').css('display', 'none');

            });



            // Select specific video
            $('body').on('click', '.name', selectVideo);

        });

        //

    </script>

</body>
</html>
