<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("_Favicons")

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/slick/slick.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/slick/slick-theme.css" />
        <link type="text/css" rel="stylesheet" href="~/css/toggle-menu.css" />
        <link type="text/css" rel="stylesheet" href="~/css/multi-level-dropdown.css" />
        <link type="text/css" rel="stylesheet" href="~/css/front-end.css" />
        <link type="text/css" rel="stylesheet" href="~/css/home-page.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/jquery-ui/jquery-ui.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/custom/tinymce/plugins/codesample/css/prism.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/frontend.min.css" asp-append-version="true" />
    </environment>

    @await Html.PartialAsync("Polyfills")

    @if (User.Identity.IsAuthenticated)
    {
        <style>
            .login {
                display: none;
            }
        </style>
    }
    else
    {
        <style>
            .logout {
                display: none;
            }
        </style>

    }

    @RenderSection("styles", required: false)

</head>
<body class="wide">
    <div id="wrapper" class="wrapper body-content">

        @RenderBody()

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/lib/custom/jquery-ui/jquery-ui-1.10.4.js"></script>
        <script src="~/lib/custom/tinymce/plugins/codesample/prism.js"></script>
        <script src="~/lib/custom/cookieNoticeJS/dist/cookie.notice.js"></script>
        <script type="text/javascript" src="~/js/data.js"></script>
        <script type="text/javascript" src="~/js/loader.js"></script>
        <script type="text/javascript" src="~/js/gallery-2.0.js"></script>
        <script type="text/javascript" src="~/js/validation.js"></script>
        <script type="text/javascript" src="~/js/validator.js"></script>
        <script type="text/javascript" src="~/js/notifier.js"></script>
        <script type="text/javascript" src="~/js/carousel.js"></script>
        <script type="text/javascript" src="~/js/input-number-checker.js"></script>
        <script type="text/javascript" src="~/js/meta-tags.js"></script>
        <script type="text/javascript" src="~/js/all-news.js"></script>
        <script type="text/javascript" src="~/js/documentation-widget.js"></script>
        <script type="text/javascript" src="~/lib/custom/slick/slick.min.js"></script>
        <script type="text/javascript" src="~/js/script-manager.js"></script>
        <script type="text/javascript" src="~/js/dynamic-widgets.js"></script>
        <script type="text/javascript" src="~/js/modules/module-builder.js"></script>
        <script type="text/javascript" src="~/js/modules/scroll-control.js"></script>
        <script type="text/javascript" src="~/js/toggle-bottom-menu.js"></script>
        <script type="text/javascript" src="~/js/navigation-widget.js"></script>
        @*<script type="text/javascript" src="~/js/video-custom-playlist.js"></script>*@
        <script type="text/javascript" src="~/lib/custom/slider-master/js/jssor.slider.min.js"></script>
        <script type="text/javascript" src="~/js/subscription.js"></script>
        <script type="text/javascript" src="~/js/cookie-notification-configuration.js"></script>
        <script type="text/javascript" src="~/js/licenses-widgets.js"></script>
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script type="text/javascript" src="~/js/sitetriks/licensesTable.js"></script>
        <script src="~/lib/custom/code-prettify/src/run_prettify.js"></script>
        <script src="~/js/frontend-layout-scripts.js" type="text/javascript"> </script>
        <script src="~/js/contact-us-widget.js" type="text/javascript"> </script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/custom/tinymce/plugins/codesample/prism.js"></script>
        <script src="~/js/frontend.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script src="~/lib/custom/code-prettify/src/run_prettify.js"></script>
        <script src="~/js/frontend-layout-scripts.js" type="text/javascript"> </script>
        <script src="~/js/contact-us-widget.js" type="text/javascript"> </script>
    </environment>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        scriptManager.delteScriptCheck();
    </script>

    <script>
    </script>

</body>
</html>
