@using Microsoft.AspNetCore.Identity
@using SiteTriks.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    using (Html.BeginForm("LogOut", "Account", new { area = "", returnUrl = Context.Request.Path + Context.Request.QueryString }, FormMethod.Post, true, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="login-partial-loged">
            @*<div>
                @Html.ActionLink("Hello" + UserManager.GetUserName(User) + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
            </div>*@
            <div style="float:right">
                <button type="submit" class="btn-account">Log off</button>
            </div>
        </div>
    }
}
else
{
    <div class="navbar-right">
        <div class="login-partial-loged">
            <div>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "", returnUrl = Context.Request.Path + Context.Request.QueryString }, htmlAttributes: new { id = "registerLink", @class = "btn-account"})</div>
            <div>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "", returnUrl = Context.Request.Path + Context.Request.QueryString }, htmlAttributes: new { id = "loginLink", @class = "btn-account" })</div>
        </div>
    </div>
}
