@model SiteTriks.Models.Emails.UnsubscribeViewModel;

<hr />
<h5>
    This email was sent to @Model.Email
    <a class="btn btn-dange" href="https://@Model.Host/sitetriks/marketingEmails/unsubscribe/?email=@Model.Email">Unsubscribe</a>
    from this list
    <br />
    <a class="btn btn-dange" href="https://@Model.Host/sitetriks/marketingEmails/editsubscribeinfo/?email=@Model.Email">Update</a>
    subscription preferences
    SiteTriks LTD
</h5>
