@model SiteTriks.Models.Emails.UserGroupUnsubscribeViewModel;

<hr />
<h5>
    This email was sent to @Model.Email
    <a class="btn btn-dange" href="https://@Model.Host/users/unsubscribe/@Model.Email/@Model.UserGroup">Unsubscribe</a>
    from this list.    
    SiteTriks LTD
</h5>
