<div class="row subscription-form-wrapper .desctop">
    <div class="subscription-button">
        <div>Subscribe now</div>
    </div>
    <div class="form-wrapper" style="display: none;">
        <div id="subscriptionForm" action="">
            <input type="text" name="name" placeholder="Name">
            <span class="validation-output"></span>
             <input type="text" name="email" placeholder="Email">
            <span class="validation-output"></span>
            <label for=""></label>

            <div id="features-releases-group" class="subscription-radio-group">
                <span>I want to receive news from SiteTriks regarding new features and releases.</span>
                <br />
                <label class="radio-inline"><input type="radio" name="features-releases">Yes</label>
                <label class="radio-inline"><input type="radio" name="features-releases">No</label>
                <span class="validation-output"></span>
            </div>

            <div id="promotional-materials-group" class="subscription-radio-group">
                <span>I want to receive promotional materials regarding SiteTriks.</span>
                <br />
                <label class="radio-inline"><input type="radio" name="promotional-materials">Yes</label>
                <label class="radio-inline"><input type="radio" name="promotional-materials">No</label>
                <span class="validation-output"></span>
            </div>

            <input type="button" id="subscription-submit" value="Subscribe" class="btn " />
        </div>
    </div>
</div>



