<div class="row" id="subscription-forms">
    <div class="alert"></div>
        <div class="subscription-form">
            <label class="col-md-1">Name:</label>
            <input id="name" type="text" name="name" class="form-control col-md-2" placeholder="Please enter your name" required="required">
            <span></span>
        </div>
        <div class="subscription-form">
            <label class="col-md-1">Email:</label>
            <input id="email" type="text" name="email" class="form-control col-md-2" placeholder="Please enter your email" required="required">
            <span></span>
        </div>
    <input type="submit" id="subscription-submit" value="Subscribe" class="btn col-md-1 col-md-offset-1" />
</div>