@model List<SiteTriks.Models.Pages.DashboardPageViewModel>

<div class="text-center">
    <div>
        <div class="dashboard-table">
            <div class="panel panel-primary" style="border: none;">
                <div class="controle-header panel-heading panel-heading-landing">
                    <img src="~/images/dragable.svg">
                    <h1 class="panel-title panel-title-landing">
                        Last modified pages
                    </h1>
                </div>
                @*<div class="controle-panel-heading panel-heading panel-heading-landing-box">
                    Shows last 5 modified pages
                </div>*@
                <div class="panel-body panel-body-landing">
                    <table class="dashboard-items-table">
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="scheduled-item-name">
                                        @item.Title
                                    </td>
                                    <td >
                                        @item.LastUserUsername
                                        @*<b>Username</b>*@
                                    </td>
                                    <td>
                                        @String.Format("{0:yyyy-MM-dd  H:mm}", item.DateModified)
                                        @*<b>2018-03-07 15:30</b>*@
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>You have no pages!</tr>
                        }
                    </table>
                </div>
                <div class="panel-footer panel-footer-landing">
                </div>
            </div>
        </div>
    </div>
</div>
