@model List<SiteTriks.Models.News.NewsModel>

<section class="background-grey">
    <div class="container-fluid carousel-wrapper">
        <div class="carousel" data-carousel-col="3" data-carousel-dots="true" data-isotope-item="testimonial">
            @foreach (var item in Model)
            {
                @Html.DisplayFor(m => item)
            }
        </div>
    </div>
</section>
