@model List<SiteTriks.Models.News.NewsModel>

<section class="background-grey">
    <div class="container">
        <div class="text-center">
            <h3 class="text-medium m-b-5">Latest News</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus</p>
        </div>
        <hr class="space">
        <div class="carousel" data-carousel-col="3" data-carousel-dots="true" data-isotope-item="testimonial">
            @foreach (var item in Model)
            {
                @Html.DisplayFor(m => item)
            }
        </div>
    </div>
</section>
