@model SiteTriks.ForumModule.Models.PostViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="fixed-top-2">
    <a href="/forum/themes/theme/@Model.ThemeId" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Back to Posts</a>
</div>

<div class="backend-wrapper">

    <div class="post-content">
        @Html.Raw(Model.Content)
    </div>

    <div class="comments-section">
        <h3>Comments</h3>
        <div id="comments-container" class="container-fluid"></div>
        <hr />
        <div class="add-comment-section">
            <textarea id="forum-comment-area"></textarea>
            <a id="btn-comment" class="btn btn-backend-light btn-add-comment">Add Comment</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/custom/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/text-editor.js"></script>
    <script type="text/javascript" src="~/js/modules/utils.js"></script>
    <script type="text/javascript" src="~/js/comments.js"></script>
    <script type="text/javascript">
        Comments.init('@Model.Id', $('#comments-container'), 'forum-comment-area');
        WarningWindow.attach();
    </script>
}
