@model SiteTriks.Models.Pages.CreatePageTemplateMainViewModel

@{
    ViewBag.Title = "Create Template";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    @using (Html.BeginForm("Create", "Templates", FormMethod.Post, new { id = "create-page-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="fixed-top-2">
            @await Html.PartialAsync("SecondNavHeader")

            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Cancel</a>
            <button type="submit" id="submit" class="btn-nav-2">Save & Add Content</button>
        </div>

        <strong><span class="text-danger" id="notifier"></span></strong>

        @Html.EditorFor(m => Model, "CreatePageTemplateViewModel")
    }

    <br />


    @section Scripts {
        <script src="~/js/date-extentions.js"></script>
        <script src="~/js/sitetriks/templates.js"></script>
        <script type="text/javascript">
            WarningWindow.attach();
            createTemplate('@Url.Action("ValidateUrl", "Templates")');
        </script>
    }
</div>