@model string

@{
    string source = $"https://www.youtube.com/embed/videoseries?list={Model}";
}

<div class="jumbotron">
    <iframe width="560"
            height="315"
            src="@source"
            frameborder="0"
            allowfullscreen></iframe>
</div>