@model IEnumerable<string>

@{
    var format = "https://www.youtube.com/embed/{0}";
}

<div class="video-container col-lg-10 col-md-12">
    <iframe          
            src="@string.Format(format, Model.First())"
            frameborder="0"
            allowfullscreen></iframe>
</div>

<div class="thumbnails-list col-lg-2 col-md-6 col-xs-6" style="float: right">

    @foreach (var videoId in Model)
    {
        var imageSource = $"//img.youtube.com/vi/{videoId}/0.jpg";
        var videoSource = $"https://www.youtube.com/embed/{videoId}";

                <div class="video-thumbnail" data-videoId=@videoSource><img src=@imageSource></div>
    }
  
</div>


@*
    Step 5/6
    Add section for thumbnails and load all thumbnails to the side
    Add data attributes (keeping the source link)
    Step 7
    On thumbnail click change video sources if different from iframe src
*@
