@model GalleryWidgetViewModel

@{
    string height = string.Empty;
    string width = string.Empty;

    if (!(Model.Height.HasValue || Model.Width.HasValue))
    {
        height = "200";
    }
    else
    {
        height = Model.Height.ToString();
        width = Model.Width.ToString();
    }
}

@if (Model.FilesIds != null)
{
    @if (Model.ShowType == "slider")
    {
        <div class="carousel" data-carousel-col="1" data-carousel-dots="true" data-isotope-item="testimonial">
            @foreach (var imageId in Model.FilesIds)
            {
                var imageSource = $"/files/id/{imageId}";
                <div class="testimonial">
                    <div class="testimonial-image">
                        <img width="@width" height="@height" class="round" src=@imageSource alt="gallery image" title="Image from My Gallery">
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="gallery-main-container">
            @foreach (var imageId in Model.FilesIds)
            {
                var imageSource = $"/files/id/{imageId}";
                <div class="gallery-image-container">
                    <img width="@width" height="@height" class="gallery-image" src=@imageSource alt="gallery image" title="Image from My Gallery">
                </div>
            }
        </div>
    }
}
