@model SiteTriks.ECommerseModule.ViewComponents.StoreFilterViewModel

<div class="search-filters">
    @Html.DisplayFor(m => Model)

    <button class="btn btn-backend btn-apply-filters">Do Search</button>
</div>
