@import 'helpers/fonts-backend';

/****************************Original for edit*/

body, html {
    background-color: white;
}

.sitetriks-body {
    padding-top: 0;
    min-width: 768px;
    position: relative;
    font-family: unset;
    font-size: 15px;
    /* Style default bootstrap*/
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .hidden {
        display: none;
    }
    /*Set modal width*/
    .modal-dialog {
        max-width: 35%;
    }

    .table th, .table td {
        padding: 0.5rem;
        font-size: 0.8em;
    }

    .form-control {
        font-size: 1.3rem;
    }

    .btn, .dropdown-menu {
        font-size: 1.3rem;
    }
}

.sitetriks-wrapper {
    border-bottom: 2px solid #0089fa;
    padding-left: 2.5%;
    height: 100%;
}

.grid.full-grid-width {
    min-width: 1100px;
}

.st-max-w-50 .form-control {
    max-width: 50%;
}

a:hover {
    text-decoration: none;
}

/**********************From Site.css***********************/
/**********************************************************/

.backend-wrapper {
    margin: 120px 30px 50px 80px;
    padding-top: 10px;
    /*Cleanfix for UI button*/
    a.btn-backend {
        color: #fff;
    }
    /*Private case*/
    .library-grid {
        margin-top: 20px;
    }

    .btn-warning {
        background-color: #979797;
        border-color: #979797;
        padding: 4px 7px;
        color: #fff;
        font-size: 16px;
    }

    .btn-danger {
        padding: 4px 7px;
        font-size: 16px;
    }

    .btn-delete-field {
        line-height: 23px;
        height: 40px;
        margin-left: 5px;
    }

    .st-label-al-right {
        text-align: right;
        font-weight: 600;
    }

    .st-label-al-left {
        text-align: left;
        font-weight: 600;
    }

    .st-lable-bold {
        font-weight: 600;
    }
}

.btn-st-blue, a.btn-st-blue .btn-st-blue a {
    border: 1px solid grey;
    color: #fff;
    background-color: #00aeff;
    padding: 5px 10px;
    border-radius: 5px;
}


@import 'back-end-styles/dynamics-styles';

/*@import 'back-end-styles/sitemap-styles';*/

@import 'back-end-styles/navigation-backend';

@import 'back-end-styles//multisite-select';

@import 'back-end-styles/delete-popup';

@import 'back-end-styles/second-navigation';

@import 'back-end-styles/pages';

@import 'back-end-styles/file-edit-styles';

/***/
@import 'commоn/widget-styles';

@import 'commоn/notifier';
/***/

@import 'back-end-styles/news';

@import 'back-end-styles/thumbnails';

@import 'back-end-styles/custom-checkbox';

@import 'back-end-styles/dashboard';

@import 'back-end-styles/footer';

@import 'back-end-styles/file-upload-modal';

@import 'back-end-styles/_navigation-widget';

@import 'back-end-styles/sitemap';

@import 'back-end-styles/user-groups';

@import 'back-end-styles/page-builder-custom';

@import 'back-end-styles/custom-notifier';

@import 'front-end-styles/share-buttons';

@import 'back-end-styles/site-sync';

@import 'back-end-styles/smtp-config';

@import 'back-end-styles/languages';

@import 'back-end-styles/permissions';

@import 'commоn/calculators';

@import 'back-end-styles/widget-modal-styles';

@import 'back-end-styles/documentation';

.backend-wrapper {
    .page-properties {
        .row {
            flex-wrap: nowrap;
            margin-bottom: 20px;
            margin-right: 30px;

            label {
                font-family: OpenSans;
            }
        }
    }
}


/*--------------------------------------------------------------------*/

/* Responsive styles */

@media (max-width: 1400px) {

    .backend-wrapper {
        .form-horizontal {
            padding-top: 10px;
        }
    }
}

@media (max-width: 1110px) {

    .backend-wrapper {
        margin: 120px 50px 50px 50px;
    }

    .form {
        font-size: 9px;
    }

    a.live-site {
        font-size: 12px;
        margin-left: 5px;
    }
}

@media (max-width: 1091px) {
    .form {
        font-size: 12px;
    }
}

@media(max-width: 768px) {

    .backend-wrapper {
        margin: 230px 50px 50px 50px;
    }
}
