/*Extensions and file-handler/ Upload*/

.extensions-menu {
}

.extensions-menu h5 {
    padding-left: 25px;
    margin-top: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    font-size: 16px;
}

.extensions-menu .module-name {
    text-transform: uppercase;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    display: block;
}

.extensions-menu .module-name .toggle {
    float: right;
    width: 55px;
}

.extensions-menu .module-name .toggle .toggle-on,
.extensions-menu .module-name .toggle .toggle-off {
    font-size: 16px;
    padding-left: 5px;
    padding-top: 3.5px;
    color: #d8d8d8;
    font-weight: bold;
}

.extensions-menu .module-name .toggle .toggle-on {
    background-color: #00b213;
    text-align: left;
    padding-left: 6px;
}

.extensions-menu .module-name .toggle .toggle-off {
    padding-right: 0;
    background-color: #9b9b9b;
    text-align: right;
    padding-right: 6px;
}

.extensions-menu .module-name .toggle .toggle-handle {
    background-color: #d8d8d8;
    width: 50%;
}

.extensions-menu .extensions-installed {
    margin: 25px;
}

/* upload form*/

.upload-extension {
    padding: 50px 100px;
    overflow: auto;
    height: 100%;
}

#drop-area {
    background-color: yellowgreen;
    height: 500px;
    background-color: #f8f8f8;
    border: dashed 2px #979797;
    position: relative;
}

#drop-area.drop-highlight {
    border-color: #008cff;
}

#drop-area > div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #a1a1a1;
    text-align: center;
    cursor: default;
}

#drop-area .drop-info-btn {
    font-size: 20px;
    padding: 10px;
    padding-right: 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
    background-color: #adadad;
    cursor: pointer;
    top: calc(50% - 120px);
    padding-top: 9px;
}

/*Images upload specific styles*/

.upload-container #drop-area .drop-info-btn {
    padding: 0;
}

/**/

#drop-area .drop-info-btn span.fa {
    margin-right: 20px;
}

#drop-area .drop-info-btn a {
    color: #fff;
}

#drop-area .drop-info-text {
    font-size: 44px;
}

#drop-area .drop-info-size {
    font-size: 18px;
    top: calc(50% + 60px);
}

#drop-area .drop-info-size .size-info-size {
    color: #6b6b6b;
    font-weight: bolder;
}

#input-files {
    display: none;
}

.upload-tabs {
    margin-bottom: 50px;
    display: flex;
}

.upload-tabs > a {
    border: none;
    border-bottom: 1px solid #979797;
    border-radius: 5px 5px 0 0;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    color: lightgray;
    background-color: none;
}

.upload-tabs > a.active {
    border: 1px solid #979797;
    background-color: #ececec;
    color: #777777;
}

.upload-tabs > a.empty {
    flex-grow: 1;
    cursor: default;
}

/*Tooltip styles*/

.upload-tabs {
    position: relative;
    /*display: inline-block;*/
}

.upload-tabs .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 50px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
    left: 50%;
}


.upload-tabs .tooltiptext {
    /*margin-left: -20px;*/
}


.upload-tabs .tooltiptext::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555;
}

.inactive {
    position: relative;
}

.inactive:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    pointer-events: none;
}

.uppercase {
    line-height: 38px;
}

.uppercase img {
    height: 38px;
    margin-right: 15px;
    margin-top: -8px;
}


/*File-handler / Upload specific styles*/

.file-handler-container .btn-cancel {
    display: none;
}

#file-upload-modal .btn-cancel {
    color: white;
    display: inline-block;
    background-color: #c9302c;
}

.file-handler-container .btn-submit-images {
    color: white !important;
    display: inline-block;
}

.file-handler-container .btn-submit-images.disabled,
#file-upload-modal .btn-cancel.disabled {
    display: none;
}

.upload-container #drop-area {
    height: 385px;
}

.upload-container #drop-area #file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-container #drop-area label {
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 0px;
}

#drop-area .drop-info-btn {
    cursor: pointer;
    margin-top: 3%;
}

#drop-area.disabled .drop-info-btn {
    cursor: no-drop;
}

#drop-area .drop-info-btn label {
    padding: 10px 20px;
    cursor: pointer;
}

#drop-area.disabled .drop-info-btn label {
    cursor: no-drop;
    font-size: 17px;
}

#drop-area div.instruction {
    display: none;
}

#drop-area.disabled div.instruction {
    display: block;
    top: 40%;
    color: red;
    font-size: 16px;
}

#drop-area.disabled div.drop-info-text {
    top: 60%;
}


/*Browser specific + Responsive*/

/*IE 10+*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #drop-area.disabled .drop-info-btn label {
        width: 270px;
    }
}
