.main-container {
    /*position: relative;
    z-index: -1;*/
    width: 300px;
    height: 50px;
}

.bar-container {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.progress-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 23px;
    border: 1px solid gray;
    white-space: nowrap;
    font-size: 0;
    border-radius: 5px;
    display: inline-block;
    z-index: -2;
}

.progress-bar {
    text-align: center;
    display: inline-block;
    width: 0%;
    height: 100%;
    background-color: #3A73B0;
    font-size: 14px;
    color: white;
}

.section {
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    z-index: -1;
}

.progress-label {
    /*margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;*/
    margin-top: -2px;
    padding-left: 5px;
    height: 100%;
    font-size: 14px;
    color: white;
    /*z-index: 1;*/
}

.progress-message {
    /*margin-top: 10px;*/
    margin-left: 5px;
    color: #45454A;
}

.activation {
    -webkit-animation-name: progress-bar;
    -webkit-animation-duration: 4s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
    animation-name: progess-bar;
    animation-duration: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes jumping-bar {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes progess-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes progess-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-moz-keyframes progess-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-o-keyframes progess-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
