@{
    ViewBag.Title = "Permissions";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    @*<a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Permission</a>*@
</div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        var grid = Grid();
        var data = { link: "/sitetriks/permission/grid", serverSide: false, }
        var columns = [
            {
                name: 'id',
                title: '',
                type: 'checkbox',
                size: 1
            },
            {
                name: "system",
                title: "Controller",
                type: 'string',
                filter: true,
                sort: true,
                size: 1,
                headerTemplate: '<strong>#item#</strong>',
                contentTemplate: '#item#'
            },
            {
                name: "action",
                title: "Action",
                type: 'string',
                filter: true,
                sort: true,
                size: 1,
                headerTemplate: '<b>#item#</b>'
            },          
            {
                name: 'dateCreated',
                title: 'Date Created',
                type: 'date',
                size: 1,
                headerTemplate: '<strong>#item#</strong>',
            },
            {
                name: 'dateModified',
                title: 'Date Modified',
                type: 'date',
                size: 1,
                headerTemplate: '<strong>#item#</strong>',
            },          
            {
                name: "allowedRoles",
                title: "Allowed Roles",
                type: 'list',
                size: 4,
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: "id",
                title: "Edit",
                type: 'string',
                size: 1,
                contentTemplate: '<a class="btn-sm btn-warning" href="/sitetriks/permission/edit/#item#"><i class="fa fa-pencil" aria-hidden="true"></i></a>',
                headerTemplate: '<b>Edit</b>'
            }
        ];

        var buttons = [            
            //{
            //    title: 'Delete',
            //    postUrl: '/sitetriks/permission/delete',
            //    type: 'danger'
            //}
        ];

        var config = grid.build(columns, buttons, grid.defaultPager, data);

        var obj = grid.init('.grid', config);
    </script>
}