<div class="row col-control" data-position="{{position}}">
    <div class="col-md-6 col-xs-6 columns-count-wrapper"><span class="columns-count">{{colCount}}</span></div>
    <div class="col-md-6 col-xs-6 add-remove-column-wrapper">
        <span class="fa fa-plus add-column st-hint" data-position="{{position}}">
            <span class="st-tooltip">Adds column to the row</span>
        </span>
        <span class="fa fa-minus remove-column st-hint " data-position="{{position}}">
            <span class="st-tooltip">Deletes last column from the row</span>
        </span>
    </div>
</div>