@model IEnumerable<SiteTriks.Configuration.Models.Module>

@{
    ViewBag.Title = "Extensions";
}

@section styles{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="side-navigation extensions-menu col-md-3 col-lg-2 col-sm-3 col-xs-3">
            <h5>Installed Extensions</h5>

            <div class="extensions-installed">
                @foreach (var item in Model)
                {
                    <label class="module-name clearfix">@item.DisplayName <input class="activate-module" type="checkbox" data-size="mini" data-onstyle="success" data-toggle="toggle" @if (item.IsActive) { <text> checked </text> } data-name="@item.Name" /></label>
                }
            </div>
        </div>
        <div class="dashboard-content col-lg-10 col-md-9 col-sm-9 col-xs-9">
            <div class="upload-extension ">
                <div class="upload-tabs">
                    <a class="upload-tab active">Upload</a>
                    <a class="upload-tab inactive">
                        Market Place
                        <span class="tooltiptext">Not available for the moment.</span>
                    </a>
                    <a class="empty"></a>
                </div>
                <div id="drop-area">
                    <div class="drop-info-btn">
                        <a class="uppercase"><img src="/images/import_icon.svg"><span>Import/Browse</span></a>
                    </div>
                    <div class="drop-info-text">
                        <span class="">Drag and drop file here.</span>
                    </div>
                    <div class="drop-info-size">
                        <span class="">Maximum upload size: <span class="size-info-size">100MB</span></span>
                    </div>


                    <input type="file" name="Files" id="input-files" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/restart-app.js"></script>
    <script type="text/javascript" src="~/js/sitetriks/extensions.js"></script>
    <script>
        $(document).ready(function (ev) {
            initExtensions()
        });
    </script>
}