@model IEnumerable<SiteTriks.Configuration.Models.Module>

@{
    ViewBag.Title = "Extensions";
}

@section styles{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        .extensions-menu {
        }

            .extensions-menu h5 {
                margin-top: 70px;
                text-transform: uppercase;
                font-weight: bolder;
                text-align: center;
                font-size: 16px;
            }

            .extensions-menu .module-name {
                text-transform: uppercase;
                font-weight: bolder;
                color: #9b9b9b;
                font-size: 16px;
                display: block;
            }

                .extensions-menu .module-name .toggle {
                    float: right;
                    width: 55px;
                }

                    .extensions-menu .module-name .toggle .toggle-on,
                    .extensions-menu .module-name .toggle .toggle-off {
                        font-size: 9px;
                        padding-left: 5px;
                        padding-top: 3.5px;
                        color: #d8d8d8;
                        font-weight: bold;
                    }

                    .extensions-menu .module-name .toggle .toggle-on {
                        background-color: #00b213;
                        text-align: left;
                        padding-left: 6px;
                    }

                    .extensions-menu .module-name .toggle .toggle-off {
                        padding-right: 0;
                        background-color: #9b9b9b;
                        text-align: right;
                        padding-right: 6px;
                    }

                    .extensions-menu .module-name .toggle .toggle-handle {
                        background-color: #d8d8d8;
                        width: 50%;
                    }

            .extensions-menu .extensions-installed {
                margin: 25px;
            }

        /* upload form*/

        .upload-extension {
            padding: 50px 100px;
            overflow: auto;
            height: 100%;
        }

        #drop-area {
            background-color: yellowgreen;
            height: 500px;
            background-color: #f8f8f8;
            border: dashed 2px #979797;
            position: relative;
        }

            #drop-area.drop-highlight {
                border-color: #008cff;
            }

            #drop-area > div {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                color: #a1a1a1;
                text-align: center;
                cursor: default;
            }

            #drop-area .drop-info-btn {
                font-size: 20px;
                padding: 10px;
                padding-right: 20px;
                display: inline-block;
                font-weight: bold;
                border-radius: 4px;
                background-color: #adadad;
                cursor: pointer;
                top: calc(50% - 120px);
                padding-top: 9px;
            }

                #drop-area .drop-info-btn span.glyphicon {
                    margin-right: 20px;
                }

                #drop-area .drop-info-btn a {
                    color: #fff;
                }

            #drop-area .drop-info-text {
                font-size: 44px;
            }

            #drop-area .drop-info-size {
                font-size: 18px;
                top: calc(50% + 60px);
            }

                #drop-area .drop-info-size .size-info-size {
                    color: #6b6b6b;
                    font-weight: bolder;
                }

        #input-files {
            display: none;
        }

        .upload-tabs {
            margin-bottom: 50px;
            display: flex;
        }

            .upload-tabs > a {
                border: none;
                border-bottom: 1px solid #979797;
                border-radius: 5px 5px 0 0;
                padding: 15px 20px;
                cursor: pointer;
                font-size: 18px;
                color: lightgray;
                background-color: none;
            }

                .upload-tabs > a.active {
                    border: 1px solid #979797;
                    background-color: #ececec;
                    color: #777777;
                }

                .upload-tabs > a.empty {
                    flex-grow: 1;
                    cursor: default;
                }

        /*Tooltip styles*/

        .upload-tabs {
            position: relative;
            /*display: inline-block;*/
        }

            .upload-tabs .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
                margin-top: 50px;
                font-size: 12px;
                line-height: 14px;
                padding: 5px;
                left: 50%;
            }


            .upload-tabs .tooltiptext {
                /*margin-left: -20px;*/
            }


                .upload-tabs .tooltiptext::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    margin-left: -15px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #555;
                }

        .inactive {
            position: relative;
        }

            .inactive:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
                pointer-events: none;
            }

        .uppercase {
            line-height: 38px;
        }

            .uppercase img {
                height: 38px;
                margin-right: 15px;
                margin-top: -8px;
            }
    </style>
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="side-navigation extensions-menu col-md-3 col-lg-2 col-sm-3 col-xs-3">
            <h5>Installed Extensions</h5>

            <div class="extensions-installed">
                @foreach (var item in Model)
                {
                    <label class="module-name clearfix">@item.DisplayName <input class="activate-module" type="checkbox" data-size="mini" data-onstyle="success" data-toggle="toggle" @if (item.IsActive) { <text> checked </text> } data-name="@item.Name" /></label>
                }
            </div>
        </div>
        <div class="dashboard-content col-lg-10 col-md-9 col-sm-9 col-xs-9">
            <div class="upload-extension ">
                <div class="upload-tabs">
                    <a class="upload-tab active">Upload</a>
                    <a class="upload-tab inactive">
                        Market Place
                        <span class="tooltiptext">Not available for the moment.</span>
                    </a>
                    <a class="empty"></a>
                </div>
                <div id="drop-area">
                    <div class="drop-info-btn">
                        <a class="uppercase"><img src="/images/import_icon.svg"><span>Import/Browse</span></a>
                    </div>
                    <div class="drop-info-text">
                        <span class="">Drag and drop file here.</span>
                    </div>
                    <div class="drop-info-size">
                        <span class="">Maximum upload size: <span class="size-info-size">100MB</span></span>
                    </div>


                    <input type="file" name="Files" id="input-files" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/restart-app.js"></script>
    <script type="text/javascript" src="~/js/sitetriks/extensions.js"></script>
    <script>
        $(document).ready(function (ev) {
            initExtensions()
        });
    </script>
}